<nav data-discounted_price="<%=discounted_price%>" class="<%=route=='/' ? 'w-100 navbar navbar-default attr-border dark bootsnav on no-full' : 'navbar navbar-default attr-border navbar-sticky site-navbar dark px-5 bootsnav'%>">
                  <div class="container-fluid ml-0 ml-md-4 pl-0 pl-md-4">
                     <div class="attr-nav <%=search=='show' ? '' : 'd-none'%>">
                        <form>
                           <input value="<%=text%>" type="text" name="text" class="form-control" placeholder="Search Blogs">
<button id="search" type="submit"><i class="fas fa-search"></i></button>
</form>
                    </div>
                     <!-- Start Header Navigation -->
                     <div class="navbar-header row align-items-center">
                       
                        <a class="navbar-brand" href="/">
                           <img class="ampdigitallogo d-none d-md-block"  src="/ampdigitallogo.png" class="logo" alt="Logo">
                        <img class="ampdigitallogo d-md-none" style="margin-left: 0!important" src="/ampdigitallogo.png" class="logo" alt="Logo">
                        </a>
                        <a class="navbar-brand d-none d-md-block" href="/">
                        <img src="/ampdigitalgooglepartnerlogo.png" class="logo" alt="Logo">
                        </a>
                        <a style="margin-left: -2%!important;" class="navbar-brand d-md-none" href="/">
                           <img src="/ampdigitalgooglepartnerlogo.png" class="logo" alt="Logo">
                           </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                           <i class="fa fa-bars"></i>
                           </button>
                        <!-- <a href="/" class="navbar-brand">
                           <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                           </a>
                           <a href="/" class="navbar-brand">
                           <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                           </a> -->
                     </div>
                     <!-- End Header Navigation -->
                     <!-- Collect the nav links, forms, and other content for toggling -->
                     <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                           <li class="dropdown d-none d-md-block">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                              </a>
                              <div class="dropdown-menu dropdownmenu" aria-labelledby="navbarDropdown">
                      
                                
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <!-- <span class="text-uppercase text-white">Category 1</span> -->
                                      <ul class="nav flex-column category-column">
                                      <li class="nav-item showhov">
                                        <a class="nav-link active" data-target="course-column-1" href="#">Introductory Courses For Beginners
                                       </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-target="course-column-2" href="#">Google & Hubspot Certification Courses
                                       </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-target="course-column-3" href="#">Social Media Marketing & Strategy Courses
                                       </a>
                                      </li>
                                    </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-6">
                                      <ul class="nav flex-column course-column course-column-1">
                                       <li class="nav-item">
                                          <a class="nav-link active" target="_blank" href="/courses/digital-marketing-course">Digital Marketing Training Program</a>
                                       </li>
                                       <li class="nav-item">
                                          <a class="nav-link" target="_blank" href="/courses/advanced-seo">Search Engine Optimization Course</a>
                                       </li>
                                       </ul>
                                       <ul class="nav flex-column course-column course-column-2 d-none">
                                          <li class="nav-item">
                                             <a class="nav-link active" href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics & Blogging Course</a>
                                          </li>
                                          <li class="nav-item">
                                             <a class="nav-link" href="#">Google Search & Shopping Ads</a>
                                          </li>
                                          <li class="nav-item">
                                             <a class="nav-link" href="#">Google Display, Mobile & Youtube Ads</a>
                                          </li>
                                          <li class="nav-item">
                                             <a class="nav-link" href="/courses/inbound-content-and-email-marketing">Inbound, Content & Email Marketing</a>
                                          </li>
                                          </ul>
                                          <ul class="nav flex-column course-column course-column-3 d-none">
                                             <li class="nav-item">
                                                <a class="nav-link active" href="#">Facebook & instagram Marketing</a>
                                             </li>
                                             <li class="nav-item">
                                                <a class="nav-link" href="#">Linkedin, Twitter, Quora & Pinterest Marketing</a>
                                             </li>
                                             <li class="nav-item">
                                                <a class="nav-link" href="#">Social Listening, ORM & Marketing Automation</a>
                                             </li>
                                             <li class="nav-item">
                                                <a class="nav-link" href="#">Digital Strategy, Growth Hacking & AI in Marketing</a>
                                             </li>
                                             </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                  </div>
                                </div>
                                <!--  /.container  -->
                      
                      
                              </div>
                            </li>
                            <li class="d-md-none dropdown">
                              <a target="_blank" href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
                              <ul class="dropdown-menu animated">
                                 <li><a style="border: none!important" target="_blank" href="/courses/digital-marketing-course"></a>Digital Marketing Training Program</li>
                                 <li><a style="border: none!important" target="_blank" href="/courses/advanced-google-analytics-and-blogging"></a>Advanced Google Analytics & Blogging</li>
                                 <li><a style="border: none!important" target="_blank" href="/courses/advanced-seo"></a>Search Engine Optimisation</li>
                                 <li><a style="border: none!important" target="_blank" href="/courses/inbound-content-and-email-marketing"></a>Inbound, Content & Email Marketing</li>
                              </ul>
                           </li>
                           <li><a target="_blank" href="https://www.newsapp.io">News</a></li>
                           <li><a target="_blank" href="/jobs/home">Jobs</a></li>
                           <li><a target="_blank" href="/webinars">Webinars</a></li>
                           <!-- <li><a href="/dashboard">Dashboard</a></li> -->
                           <li><a target="_blank" href="/blogs">Blogs</a></li>
                           <li><a href="/digital-marketing-community-forums">Forum</a></li>
                           <li class="dropdown">
                              <a target="_blank" href="#" class="dropdown-toggle" data-toggle="dropdown">Tools</a>
                              <ul class="dropdown-menu animated">
                                 <li><a target="_blank" href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                                 <li><a target="_blank" href="/tools/google-ads-simulator">Google ads simulator</a></li>
                              </ul>
                           </li>
                           <%if(typeof email =='undefined'){%>
                              <li style=""><a class="btn" style="background: #FFFFFF;
                                 border: 0.75px solid #DB4437;
                                 padding: 7px 25px;
                                 margin-top: 27px;
                                 font-family: Poppins;
                                 font-style: normal;
                                 font-weight: 500;
                                 text-transform: none!important;
                                 font-size: 16px;
                                 line-height: 24px;
                                 border-radius: 49.5px;
                                 color: #DB4437!important;
                                 box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);" href="/signin">Sign in</a></li>
                                 <%}else{%>
                                 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
                                    <ul class="dropdown-menu">
                                       <li><a href="/dashboard">My Courses</a></li>
                                       <li><a href="/logout">Logout</a></li>
                                    </ul>
                                 </li>
                                 <%}%>
                           <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Siddharth</a>
                              <ul class="dropdown-menu animated">
                                 <li><a href="/logout">Logout</a></li>
                              </ul>
                              </li> -->
                        </ul>
                     </div>
                     <!-- /.navbar-collapse -->
                  </div>
               </nav>