<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=course.course_name%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <!-- Fontastic CSS-->
    <link rel="stylesheet" href="/css/font.css">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- Swiper carousel-->
    <link rel="stylesheet" href="/vendor/swiper/css/swiper.css">
    <!-- Lity-->
    <link rel="stylesheet" href="/vendor/lity/lity.css">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.css">
    <!-- Theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
    <link rel="stylesheet" href="/css/tline.css">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <style>
        .module-title {
    color: #3278ce!important;
    font-family: OpenSans,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2px;
    cursor: pointer;
}
.module-title:hover{
    text-decoration: underline;
}
        .card{
            width: 100%!important;
        }
        .card-block{
            padding: 3%;
        }
        .cardeff {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
    border-radius: 18px;
            transition: 0.3s;
        }

        /* On mouse-over, add a deeper shadow */
        .cardeff:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    </style>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NTJGZ4L');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- LOGIN MODAL -->
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title color-white" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center forgotpasswordinstructionssent d-none">
                    <i style="font-size: 75px;" class="fa fa-plane color-4"></i>
                    <h3>
                        Instructions on resetting your password are on their way!
                    </h3>
                    <p>If you don't receive an email soon ensure that the email is valid and that you can receive emails
                        from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p>
                </div>
                <form class="d-none forgotpasswordform" action="/forgotpassword" method="POST" role="form">
                    <div class="form-group formField">
                        <input name="email" required type="email" class="form-control border-color-1" id="forgotpasswordemail" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Forgot Password</button>
                    <div class="form-group formField">
                        <p class="help-block">Not What you are looking for?<a class="loginformbutton" href="#">Login</a> instead</p>
                    </div>
                </form>
                <form class="loginform" action="/login" method="POST" role="form">
                    <div class="form-group formField">
                        <input name="email" required type="text" class="form-control border-color-1" id="email" placeholder="Email">
                    </div>
                    <div class="form-group formField">
                        <input name="password" required type="password" class="form-control border-color-2 forgotpasswordbtn" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div class="form-group formField">
                        <p class="help-block"><a class="forgotpasswordbutton" href="#">Forgot password?</a></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- CREATE ACCOUNT MODAL -->
<div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title color-white" id="exampleModalLabel">Create an Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center forgotpasswordinstructionssent d-none">
                    <i style="font-size: 75px;" class="fa fa-plane color-4"></i>
                    <h3>
                        Instructions on resetting your password are on their way!
                    </h3>
                    <p>If you don't receive an email soon ensure that the email is valid and that you can receive emails
                        from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p>
                </div>
                <form class="d-none forgotpasswordform" action="/forgotpassword" method="POST" role="form">
                    <div class="form-group formField">
                        <input name="email" required type="email" class="form-control border-color-1" id="forgotpasswordemail" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Forgot Password</button>
                    <div class="form-group formField">
                        <p class="help-block">Not What you are looking for?<a class="loginformbutton" href="#">Login</a> instead</p>
                    </div>
                </form>
                <form action="/signup" method="POST" role="form">
                    <div class="form-group formField">
                        <input name="name" required type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group formField">
                        <input name="email" required type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group formField">
                        <input name="phone" type="text" class="form-control" placeholder="Phone">
                    </div>
                    <div class="form-group formField">
                        <input name="password" required type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group formField">
                        <input name="repassword" required type="password" class="form-control" placeholder="Re-Password">
                    </div>
                    <div class="form-group formField">
                        <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Register">
                    </div>
                    <div class="form-group formField">
                        <p class="help-block">Already have an account? <a href="#">Log in</a></p>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- header-->
<header class="header">
    <!-- top bar-->
    <div class="top-bar d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <a class="/" href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/dashboard"> Dashboard</a>
                    <!--<p class="mb-0"> <i class="icon-placeholder"></i>403, Sovereign 1, Vatika City, Sohna Road, Gurgaon - 122018A</p>-->
                </div>
                <div class="col-md-7 text-right">
                    <ul class="list-inline mb-0">
                        <%if(typeof email =='undefined'){%>
                        <li class="list-inline-item"><a data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i>Login</a> &nbsp; or
                            &nbsp;<a data-toggle="modal" data-target="#createAccount" style="margin-left: 0;"><i class="fa fa-user-plus"></i>Create an Account</a>
                        </li>
                        <%}else{%>
                        <li class="list-inline-item dropdown user-dropdown loggedinli">
                            <a href="#" class="dropdown-toggle loggedinuser" data-toggle="dropdown"><i class="fa fa-user"></i> <%=name%> <b class="caret"></b></a>
                            <div class="dropdown-menu jumbotron bg-secondary" style="font-size:12px; color: floralwhite;padding: 2rem 2rem;">
                                <h2 class="fa fa-google-plus"> Google</h2><br>
                                <img class="userimage" width="40px;" src="https://avatars.io/gravatar/<%=email%>/140"><br>
                                <strong>email</strong>: <span class="loggedinemail"><%=email%></span><br>
                                <strong>name</strong>: <span class="loggedinname"><%=name%></span>
                                <a href="/logout" class="btn btn-sm btn-danger btn-block">Sign-out</a>
                            </div>
                        </li>
                        <%}%>
                        <li class="list-inline-item"><a href="mailto:amitabh@ampdigital.co"><i class="icon-envelope"></i>amitabh@ampdigital.co</a></li>
                        <!-- <li class="list-inline-item"><a href="#"><i class="icon-telephone"></i>+91-9971060035</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div style="width: 100%;" class="row">
                <div class="col-md-6">
                    <h2 style="color: black;"><%=course.course_name%></h2>
                    <div style="margin-top: 1%; width: 40%; display: inline-block;">
                        <div data-toggle="tooltip" data-placement="top" title="" style="height: 10px; margin-top: 6px; margin-left: -1.5%;" class="progress" data-original-title="<%=avg%>% Course Completed">
                            <div class="progress-bar bg-info" role="progressbar" style="width: <%=avg%>%" aria-valuenow="<%=avg%>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-info btn-lg slbutton">Start Learning</button>

                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Hero Section-->
<section class="hero hero-home">
    <div class="container mt-5">
        <!--<h3 style="font-size: 27px!important;" class="mbr-section-title pb-3 mbr-fonts-style display-2 text-center">
            COURSE MODULES
        </h3>-->
        <div class="row justify-content-center">
            <div class="col-md-10">
                <ul class="cbp_tmtimeline">
                    <%for(var i = 0 ; i <modules.length; i++){
                        if(modules[i]['module_image']){
                            if(modules[i]['module_image'].split('?')){
                                modules[i]['module_image'] = modules[i]['module_image'].split('?')[0]
                            }
                        }
                    %>
                    <li class="d-none d-sm-none d-md-block">
                        <div class="cbp_tmicon bg-red"><i class="zmdi zmdi-account"><%=i+1%></i></div>

                        <!--<time class="cbp_tmtime" datetime="2017-11-04T18:30"><span class="hidden">25/12/2017</span> <span class="large">2018</span></time>-->
                        <div style="margin-left: 3%; margin-right: 3%;padding:3%;" class="media cardeff">
                            <img height="100vh" class="mr-3" src="<%=modules[i]['module_image']%>" alt="Generic placeholder image">
                            <div class="row">
                                <div class="media-body col-md-9">
                                    <h3 class="mt-0 module-title" data-active="<%=modules[i]['active']%>" data-opens_on="<%=modules[i]['opens_on']%>" data-href="/dashboard<%=course.course_access_url%>/<%=modules[i]['module_id']%>"><%=modules[i]['module_name']%></h3>
                                    <%if(modules[i]['module_description']){%>
                                    <p class="list-group-item-text"><%=modules[i]['module_description']%></p>
                                    <%}else{%>
                                    <p class="list-group-item-text"> Eu eum corpora torquatos, ne postea constituto mea, quo tale lorem facer no. Ut sed odio appetere partiendo, quo meliore salutandi ex. Vix an sanctus vivendo, sed vocibus accumsan petentium ea.
                                        Sed integre saperet at, no nec debet erant, quo dico incorrupte comprehensam ut.
                                    </p>
                                    <%}%>
                                    <!--<div class="row" style=" border-top: 2px solid rgba(219,226,232,.5)">-->
                                    <div class="row">
                                        <div class="col-md-2 col-xs-6" style="margin-top: 1%;">
                                            <div style="height: 10px; margin-top: 6px; margin-left: -1.5%;" class="progress">
                                                <div data-percentagecompleted="<%=modules[i]['percentagecompleted']%>" class="pc progress-bar bg-info" role="progressbar" style="width: <%=modules[i]['percentagecompleted']%>%" aria-valuenow="<%=modules[i]['percentagecompleted']%>" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-xs-6" style="margin-top: 1%;">
                                            <span class="shared--subtitle-small--1lMk2"></span>
                                            <%=modules[i]['percentagecompleted']%>% VIEWED
                                        </div>
                                        <div class="col-md-5 col-xs-12 text-right" style="margin-top: 1%; font-style: italic">
                                            <span class="shared--subtitle-small--1lMk2"></span>
                                            <%=modules[i]['active']=="Not Active" ? "" : modules[i]['modulesVideoLength']%>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-right align-self-center col-md-2">
                                    <a style="background: #2972d1" data-active="<%=modules[i]['active']%>" data-opens_on="<%=modules[i]['opens_on']%>" data-href="/dashboard<%=course.course_access_url%>/<%=modules[i]['module_id']%>" href="/dashboard<%=course.course_access_url%>/<%=modules[i]['module_id']%>" class="btn btn-lg viewmodulebtn vmblg disabled">View Module</a>
                                </div>
                            </div>
                        </div>

                        <br><br>

                    </li>
                    <div style="box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
    border-radius: 18px;" class="card card-inverse card-info d-block d-sm-block d-md-none mb-4">
                        <img style="box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
                        border-radius: 18px;" class="card-img-top" src="<%=modules[i]['module_image']%>">
                        <div class="card-block">
                            <h4 class="card-title mt-3"><%=modules[i]['module_name']%></h4>
                            <div class="meta card-text">
                                <a> <%=modules[i]['active']=="Not Active" ? "" : modules[i]['modulesVideoLength']%></a>
                            </div>
                            <div class="card-text">
                                <%=modules[i]['module_description']%>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-2 col-6" style="margin-top: 1%;">
                                    <div style="height: 10px; margin-top: 6px; margin-left: -1.5%;" class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: <%=modules[i]['percentagecompleted']%>%" aria-valuenow="<%=modules[i]['percentagecompleted']%>" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-6" style="margin-top: 1%;">
                                    <span class="shared--subtitle-small--1lMk2"></span>
                                    <%=modules[i]['percentagecompleted']%>% VIEWED
                                </div>
                            </div>
                            <a data-active="<%=modules[i]['active']%>" data-opens_on="<%=modules[i]['opens_on']%>" data-href="/dashboard<%=course.course_access_url%>/<%=modules[i]['module_id']%>" href="/dashboard<%=course.course_access_url%>/<%=modules[i]['module_id']%>" class="btn viewmodulebtn disabled">View Module</a>
                        </div>
                    </div>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</section>
<%-include partials/footer.ejs%>

<!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/swiper/js/swiper.js"></script>
<script src="/vendor/lity/lity.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.js"></script>
<script src="/js/front.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
<!--Confirm.js alerts Plugin-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<!--Confirm.js alerts Plugin-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<!---->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');

    $(document).ready(function () {
        $(".viewmodulebtn").removeClass("disabled");
        $(".viewmodulebtn, .module-title").on("click", function(e){
            e.preventDefault();
            if($(this).data("active")=="Not Active"){
                alert("This module will open on "+moment($(this).data("opens_on")).format("DD/MMM/YYYY"))
            }
            else{
                window.location.href = $(this).data("href");
            }
        })
        $('.backbutton').on('click', function (e) {
            e.preventDefault();
            window.history.back();
        })

        $('.forgotpasswordbutton').on('click', function (e) {
            e.preventDefault();
            $('.loginform').addClass('d-none');
            $('.forgotpasswordform').removeClass('d-none');
            $('.loginpaneltitle').html('Forgot Password');
        });

        $('.loginformbutton').on('click', function (e) {
            e.preventDefault();
            $('.loginform').removeClass('d-none');
            $('.forgotpasswordform').addClass('d-none');
            $('.loginpaneltitle').html('Login');
        });

        $('.forgotpasswordform').on('submit', function (e) {
            $(this).children('button').attr('disabled', 'disabled');
            e.preventDefault();
            var email = $('#forgotpasswordemail').val();
            $.ajax({
                method: "POST",
                url: "/forgotpassword",
                data: {email: email}
            }).done(function(response) {
                if(response._id){
                    $('#loginModal').modal('toggle');
                    $.alert('<div class="text-center"> <i style="font-size: 75px;" class="fa fa-plane color-primary"></i>\n' +
                        '            <h3>\n' +
                        '              Instructions on resetting your password are on their way!\n' +
                        '            </h3>\n' +
                        '            <p>If you do not receive an email soon ensure that the email is valid and that you can receive emails\n' +
                        '              from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p></div>');              }
                console.log(response);
            });
        });
        $('.slbutton').on('click', function () {
            var index;  //Index of last watched if not 0;
            var percentagewatchedArray = [];
            $('.pc').each(function () {
                percentagewatchedArray.push($(this).data('percentagecompleted'));
            });
            // alert(percentagewatchedArray);
            var watched = -1; //Tracking last watched initializing it to first module
            for(var j = percentagewatchedArray.length-1; j > -1; j--){
                if(percentagewatchedArray[j]!==0){
                    watched = 1;
                    index = j;
                    break;
                }
            }

            if(watched == -1){
                var cnt = 0;
                $('.vmblg').each(function () {
                    if(cnt == 0){
                        window.location.href = $(this).attr('href');
                    }
                    cnt++;
                })
            }
            else{
                var cnt = 0;
                $('.vmblg').each(function () {
                    if(cnt == index){
                        window.location.href = $(this).attr('href');
                    }
                    cnt++;
                })

            }
        })
    })
</script>
</body>
</html>
