<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Forum | <%=module.module_name%> | AMP Digital </title>
  <meta name="description" content="Discuss your queries & Contribute to <%=module.module_name%> forum. <%=module.module_description%>">
  <meta name="keywords" content="discussion forum, question and answers, queries, community, digital marketing, <%=module.module_name%>">
  <meta name="author" content="AMP Digital">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <meta property="og:title" content="Forum | <%=module.module_name%> | AMP Digital" />
  <meta property="og:url" content="https://www.ampdigital.co/digital-marketing-community-forums/<%=module.module_id%>" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="Discuss your queries & Contribute to <%=module.module_name%> forum. <%=module.module_description%>" />
  <meta property="og:image" itemprop="image" content="<%=module.module_image.split('?')[0]%>?_=<%=Math.floor((Math.random()) + 1)%>" />
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
  <link href="/assets/css/elegant-icons.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/commentjs/css/jquery-comments.css">
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.css">
    <link href="/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="/assets/css/style3.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
  <style>
    .tab-content-forum h4{
        color: black
    }
    .tab-content-forum a, .tab-content-forum col{
      color: #6a4e77
    }
    #rightCol img{
      border-radius: 16px;
    }
    .guidelines li{
      list-style-type: circle!important;
    }
   .whytp b, .whytp strong {
    font-weight: 400!important;
    /* font-size: 16px!important; */
}
    .table th, .table td{
      color: black
    }
    .why-choseus-area .info .item span {
      color: grey!important;
    }
.why-choseus-area .info .item h4 {
  color: black!important
}
    p{
      color: black!important;
    }
    .nav-tabs .nav-link {
    color: grey;
         }
         .stats span{
            font-weight: 700;
            font-size: 16px;
         }
         .stats i {
    font-size: 16px;
    color: #25466A;
    margin-right: .5rem;
}
    a:hover{
      color: #6a4e77!important;
    }
    .has-overlay-dark::before, .has-overlay-darker::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0,0,0,.4);
    z-index: -1;
}

    .mb30 {
  margin-bottom: 30px;
}

.widget-five{
  border-radius: 2px;
    color: var(--warm-gray-60,#84878a);
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}

.widget-five .post-tools>li a {
  color: #565656;
  font-size: 17px;
  padding: 4px 10px;
  display: inline-block;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.widget-five .post-tools {
  padding: 10px 20px;
  background: #eee;
}

.widget-five .post-tools>li {
  display: inline-block;
}

.resize-v {
  resize: vertical;
}
    li[data-sort-key="oldest"]{
      display: none;
    }
    .commenting-field .row{
      display: none!important;;
    }
    .select2{
      width: unset!important;
    }
    .hero-banner {
      height: 200px;
      width: auto !important;
      background-size: cover !important;
      background-position: center center !important;
    }
    .content{
      font-size: 18px;
      font-weight: bold!important;
      cursor: pointer;
      font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 20px;
    margin-top:1%;
    margin-bottom: 2%;
    color: #424A4F;
    }
    @media only screen and (max-width: 768px) {
      .content{
      font-size: 16px;
      font-weight: bold!important;
      cursor: pointer;
      font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 20px;
    margin-top:4%;
    margin-bottom: 2%;
    color: #424A4F;
    }
}
    .content:hover{
      text-decoration: underline;
      color: #4a89dc;
    }
    .media{
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
    border-radius: 18px;
    margin-bottom: 12px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    }
    .jquery-comments ul.main li.comment .comment-wrapper {
    border-top: 0!important;
}
    .child-comments{
      display:none!important;
    }
  </style>
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <!-- End Google Tag Manager -->
</head>

<head>
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Jquery Comments Plugin</title>

  <!-- Styles -->

  <!-- Data -->

  <!-- Libraries -->



  <!-- Init jquery-comments -->

  
  <script src="/assets/js/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.appear.js"></script>
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/modernizr.custom.13711.js"></script>
  <script src="/assets/js/jquery.nice-select.min.js"></script>
  <script src="/assets/js/bootsnav.js"></script>


  <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="/js/front.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
  <script type="text/javascript" src="/commentjs/js/jquery-comments.js"></script>
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<script src="/js/chatbot.min.js"></script>
<script src="/assets/js/main2.js"></script>

<script type="text/javascript">
    AWS.config.update({
        accessKeyId : 'AKIAQFXTPLX2CNUSHP5C',
        secretAccessKey : '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'
    });
    AWS.config.region = 'us-west-2';
</script>
 <script type="text/javascript">
 $(document).ready(()=>{
  $(".leaderboardnavigate").on('click', function(e){
            e.preventDefault();
            $(".leaderboard").click();
          })
 })
 var commentsArray = [
{
   "id": 1,
   "parent": null,
   "created": "2015-01-01",
   "modified": "2015-01-01",
   "content": "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu.",
   "attachments": [],
   "pings": [],
   "creator": 6,
   "fullname": "Simon Powell",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": false,
   "upvote_count": 3,
   "user_has_upvoted": false,
   "is_new": false
},
{
   "id": 2,
   "parent": null,
   "created": "2015-01-02",
   "modified": "2015-01-02",
   "content": "Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu.",
   "attachments": [],
   "pings": [],
   "creator": 5,
   "fullname": "Administrator",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": true,
   "created_by_current_user": false,
   "upvote_count": 2,
   "user_has_upvoted": false,
   "is_new": false
},
{
   "id": 3,
   "parent": null,
   "created": "2015-01-03",
   "modified": "2015-01-03",
   "content": "@Hank Smith sed posuere interdum sem.\nQuisque ligula eros ullamcorper https://www.google.com/ quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget #velit.",
   "attachments": [],
   "pings": {
      3: 'Hank Smith',
   },
   "creator": 1,
   "fullname": "You",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": true,
   "upvote_count": 2,
   "user_has_upvoted": true,
   "is_new": false
},
{
   "id": 4,
   "parent": 3,
   "created": "2015-01-04",
   "modified": "2015-01-04",
   "content": "",
   "attachments": [
      {
         "id": 1,
         "file": "http://www.w3schools.com/html/mov_bbb.mp4",
         "mime_type": "video/mp4",
      }, 
   ],
   "creator": 4,
   "fullname": "Todd Brown",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": false,
   "upvote_count": 0,
   "user_has_upvoted": false,
   "is_new": true
},
{
   "id": 5,
   "parent": 4,
   "created": "2015-01-05",
   "modified": "2015-01-05",
   "content": "Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit.",
   "attachments": [],
   "pings": [],
   "creator": 3,
   "fullname": "Hank Smith",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": false,
   "upvote_count": 0,
   "user_has_upvoted": false,
   "is_new": true
},
{
   "id": 6,
   "parent": 1,
   "created": "2015-01-06",
   "modified": "2015-01-06",
   "content": "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu.",
   "attachments": [],
   "pings": [],
   "creator": 2,
   "fullname": "Jack Hemsworth",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": false,
   "upvote_count": 1,
   "user_has_upvoted": false,
   "is_new": false
},
{
   "id": 7,
   "parent": 1,
   "created": "2015-01-07",
   "modified": "2015-01-07",
   "content": "Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit.",
   "attachments": [],
   "pings": [],
   "creator": 5,
   "fullname": "Administrator",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": true,
   "created_by_current_user": false,
   "upvote_count": 0,
   "user_has_upvoted": false,
   "is_new": false
},
{
   "id": 8,
   "parent": 6,
   "created": "2015-01-08",
   "modified": "2015-01-08",
   "content": "Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu.",
   "attachments": [],
   "pings": [],
   "creator": 1,
   "fullname": "You",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": true,
   "upvote_count": 0,
   "user_has_upvoted": false,
   "is_new": false
},
{
   "id": 9,
   "parent": 8,
   "created": "2015-01-09",
   "modified": "2015-01-10",
   "content": "Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit.",
   "attachments": [],
   "pings": [],
   "creator": 7,
   "fullname": "Bryan Connery",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": false,
   "upvote_count": 0,
   "user_has_upvoted": false,
   "is_new": false
},
{
   "id": 10,
   "parent": 9,
   "created": "2015-01-10",
   "modified": "2015-01-10",
   "content": "Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit.",
   "attachments": [
      {
         "id": 2,
         "file": "https://www.w3schools.com/images/w3schools_green.jpg",
         "mime_type": "image/jpeg",
      }, 
   ],
   "pings": [],
   "creator": 1,
   "fullname": "You",
   "profile_picture_url": "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png",
   "created_by_admin": false,
   "created_by_current_user": true,
   "upvote_count": 0,
   "user_has_upvoted": false,
   "is_new": false
}
]

var successFunction;

var usersArray = [
   {
      id: 1,
      fullname: "Current User",
      email: "current.user@viima.com",
      profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
   },
   {
      id: 2,
      fullname: "Jack Hemsworth",
      email: "jack.hemsworth@viima.com",
      profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
   },
   {
      id: 3,
      fullname: "Hank Smith",
      email: "hank.smith@viima.com",
      profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
   },
   {
      id: 4,
      fullname: "Todd Brown",
      email: "todd.brown@viima.com",
      profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
   },
   {
      id: 5,
      fullname: "Administrator",
      email: "administrator@viima.com",
      profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
   },
   {
      id: 6,
      fullname: "Simon Powell",
      email: "simon.powell@viima.com",
      profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
   },
   {
      id: 7,
      fullname: "Bryan Connery",
      email: "bryan.connery@viima.com",
      profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
   }
]
    var usersArray = [
      {
        id: 1,
        fullname: "Current User",
        email: "current.user@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 2,
        fullname: "Jack Hemsworth",
        email: "jack.hemsworth@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 3,
        fullname: "Hank Smith",
        email: "hank.smith@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 4,
        fullname: "Todd Brown",
        email: "todd.brown@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 5,
        fullname: "Administrator",
        email: "administrator@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 6,
        fullname: "Simon Powell",
        email: "simon.powell@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 7,
        fullname: "Bryan Connery",
        email: "bryan.connery@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      }
    ]
    $(function () {
      const params = new URLSearchParams(window.location.search)
      var fromtab = "all"
      if(params.has("type")){
        fromtab = params.get("type");
      }
      var getComment = function(success) {
        var typestring = "type=all";
        if(fromtab=="answered"){
          typestring = "type=answered"
        }
        else if(fromtab=="unanswered"){
          typestring = "type=unanswered"
        }
        $.ajax({
          type: 'get',
          url: '/getcomments?'+typestring+'&moduleid='+moduleid,
          data: {},
          success: function (comments) {
            for (var i = 0; i < comments.length; i++) {
              if (comments[i]['parent'].trim() == '') {
                comments[i]['parent'] = null;
              }
              // comments[i]["created"] = "2015-01-01";
              // comments[i]["modified"] = "2015-01-01";
              comments[i]["attachments"] = [];
              if (comments[i]["fullname"] == $("body").data("fullname")) {
                comments[i]["created_by_current_user"] = true;
              }
              if (comments[i]["fullname"] == "Amitabh Verma") {
                comments[i]["profile_picture_url"] = "https://media-exp1.licdn.com/dms/image/C5103AQGATiCoqSjZYg/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=27sQMFdmiNj9DUs-9FgaIwibCCdNtDQwAJKTztpAXPI";
              }
              var arr = comments[i]['upvoters'];
                  for (var j = 0; j < arr.length; j++) {
                      if (arr[j] == $('body').data('userid')) {
                          comments[i]['user_has_upvoted'] = true;
                      }
                  }
              // var arr = comments[i]['upvoters'];
              // for (var j = 0; j < arr.length; j++) {
              //     if (arr[j] == $('body').data('userid')) {
              //         comments[i]['user_has_upvoted'] = true;
              //     }
              // }
            }

            success(comments);
          }
        });     
    }
      $('.module_dropdown').select2();
      var moduleid = $("body").data("module_id");
      $(".js-example-basic-single").on("change", function(e){
        e.preventDefault();
        moduleid = $(this).val();
        window.location.href = "/digital-marketing-community-forums/"+moduleid
      })
      var modulename = $("body").data("module_name");
      var saveComment = function (data, savesuccess) {

        // Convert pings to human readable format
        // $(Object.keys(data.pings)).each(function(index, userId) {
        //     var fullname = data.pings[userId];
        //     var pingText = '@' + fullname;
        //     data.content = data.content.replace(new RegExp('@' + userId, 'g'), pingText);
        // });

        $.ajax({
          type: 'post',
          url: '/addnewcomment',
          data: data,
          success: function (comment) {
            savesuccess(comment);
            // success(data);
          }
        });

      }
      $('#comments-container').comments({
        profilePictureURL: 'https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png',
        currentUserId: 1,
        roundProfilePictures: true,
        timeFormatter: function(time) {
          return moment(time).fromNow();
        },
        viewAllRepliesText: 'Show all replies (__replyCount__)',
        oldestText: 'Answered',
        newestText: 'All',
        popularText: 'Unanswered',
        textareaRows: 4,
        textareaRowsOnFocus: 4,
        enableAttachments: true,
        enableHashtags: true,
        enablePinging: true,
        scrollContainer: $(window),
        searchUsers: function (term, success, error) {
          setTimeout(function () {
            success(usersArray.filter(function (user) {
              var containsSearchTerm = user.fullname.toLowerCase().indexOf(term.toLowerCase()) != -1;
              var isNotSelf = user.id != 1;
              return containsSearchTerm && isNotSelf;
            }));
          }, 500);
        },
        getComments: function(success, error) {
           successFunction  = success
            getComment(successFunction, "");
        },
        refresh: function(){
          $(".hoverbg").on("mouseover", function(){
            $(this).css({"background-color": "lightgrey"});
            $(".hoverbtn").css({"background-color": "lightgrey"});
          })
          $(".hoverbg").on("mouseout", function(){
            $(this).css({"background-color": "white"});
            $(".hoverbtn").css({"background-color": "white"});
          })
          $(".writepostbutton").on("click", function(e){
            e.preventDefault();
            $("#textModal").modal("toggle");
          })
          if(fromtab=="answered"){
            $('li[data-sort-key="oldest"]').addClass("active");
            $('li[data-sort-key="newest"]').removeClass("active");
            $('li[data-sort-key="popularity"]').removeClass("active");
          }
          else if(fromtab=="unanswered"){
            $('li[data-sort-key="oldest"]').removeClass("active");
            $('li[data-sort-key="newest"]').removeClass("active");
            $('li[data-sort-key="popularity"]').addClass("active");
          }
          else {
            $('li[data-sort-key="oldest"]').removeClass("active");
            $('li[data-sort-key="newest"]').addClass("active");
            $('li[data-sort-key="popularity"]').removeClass("active");
          }
          $(".reply").on("click", function(e){
            e.preventDefault();
            // alert("aegage");
            $(this).parent(".actions").parent(".wrapper").children(".content").click();
          })
          function shorten(text,max) {
              return text && text.length > max ? text.slice(0,max).split(' ').slice(0, -1).join(' ') : text
          }
          $(".content").on("click", function(e){
            e.preventDefault();
            var id = $(this).closest(".comment").data("id");
            var url = $(this).text().replace(/(([^\s]+\s\s*){14})(.*)/,"$1…")
            var url = url.replace(/[^a-zA-Z0-9! ]+/g, "").replace(/\s+/g, '-').toLowerCase();
            var url = "/digital-marketing-community/post/"+url + "-" + id;
            window.location.href=url;
          })
          var currentURL=location.protocol + '//' + location.host + location.pathname;
          $('li[data-sort-key="oldest"]').on("click", function(){
            window.location.href = currentURL+"?type=answered"
          })
          $('li[data-sort-key="newest"]').on("click", function(){
            window.location.href = currentURL+"?type=all"
          })
          $('li[data-sort-key="popularity"]').on("click", function(){
            window.location.href = currentURL+"?type=unanswered"
          })
          $('li[data-sort-key="attachments2"]').on("click", function(e){
            e.preventDefault();
            $("#textModal").modal("toggle");
          })
          // $(".textarea, .upvote, .reply").on("click", function(){
          //   alert("aegag");
          // })
        },
        postComment: function (data, success, error) {
          var data2 = data;
          var attachmentsToBeCreated = data.attachments.filter(function(attachment){
            return !attachment.id
          });
          data.modulename = modulename;
          data.moduleid = moduleid;
          data.rootid="";
          if(attachmentsToBeCreated.length>0){
            data.file = attachmentsToBeCreated[0].file;
            data.type = attachmentsToBeCreated[0].mime_type;
            var file = data.file
            var bucket = new AWS.S3({params: {Bucket: 'ampdigital'}});
            var params = {Key: file.name, ContentType: data.type, Body: file};
            bucket.upload(params).on('httpUploadProgress', function(evt) {
              console.log("Uploading :: " + parseInt((evt.loaded * 100) / evt.total)+'% completed');
              // el.children('.progress').html("Uploading :: " + parseInt((evt.loaded * 100) / evt.total)+'% completed');
            }).send(function(err, data3) {
                // el.children('.progress').html("Processing... Please wait.");
                imageurl = data3.Location.toString();
                // data.fileurl = imageurl;
                // data.filetype = data.type
                $.ajax({
                    type: "POST",
                    url: '/addnewcomment',
                    data: {
                      "id": data.id,
                      "parent": data.parent,
                      "fileurl": imageurl,
                      "filetype": data.type,
                      "created": data.created,
                      "modified": data.modified,
                      "content": data.content,
                      "fullname": data.fullname,
                      "profile_picture_url": data.profile_picture_url,
                      "created_by_current_user": data.created_by_current_user,
                      "upvote_count": data.upvote_count,
                      "user_has_upvoted": data.user_has_upvoted,
                      "modulename": modulename,
                      "moduleid": moduleid
                    },
                    success: function(result){
                      data.attachments = result.attachments;
                      data.attachment_url = imageurl
                      data.attachment_type = data.type;
                      data.attachment_id = result[0].id;
                      success(data);
                      $("#textModal").modal("toggle");
                      $(".reply").on("click", function(e){
                        e.preventDefault();
                        // alert("aegage");
                        $(this).parent(".actions").parent(".wrapper").children(".content").click();
                      })
                      $(".content").on("click", function(e){
                        e.preventDefault();
                        var id = $(this).closest(".comment").data("id");
                        var url = $(this).text().replace(/(([^\s]+\s\s*){14})(.*)/,"$1…")
                        var url = url.replace(/[^a-zA-Z0-9! ]+/g, "").replace(/\s+/g, '-').toLowerCase();
                        var url = "/digital-marketing-community/post/"+url + "-" + result.id;
                        window.location.href=url;
                      })
                    }
                });
            });
          }
        
          else{
            $.ajax({
              type: 'post',
              url: '/addnewcomment',
              data: data,
              success: function (comment) {
                success(data);
                // success(data);
                $("#textModal").modal("toggle");
                $(".reply").on("click", function(e){
                  e.preventDefault();
                  // alert("aegage");
                  $(this).parent(".actions").parent(".wrapper").children(".content").click();
                })
                $(".content").on("click", function(e){
                  e.preventDefault();
                  var id = $(this).closest(".comment").data("id");
                  var url = $(this).text().replace(/(([^\s]+\s\s*){14})(.*)/,"$1…")
                  var url = url.replace(/[^a-zA-Z0-9! ]+/g, "").replace(/\s+/g, '-').toLowerCase();
                  var url = "/digital-marketing-community/post/"+url + "-" + comment.id;
                  window.location.href=url;
                })
              }
            });
          }

        },
        putComment: function (data, success, error) {
          $.ajax({
            type: 'post',
            url: '/updatecomment',
            data: data,
            success: function (comment) {
              success(data);
              // success(data);
            }
          });
        },
        deleteComment: function (data, success, error) {
          $.ajax({
            type: 'post',
            url: '/deletecomment',
            data: data,
            success: function (comment) {
              success(data);
              // success(data);
            }
          });
        },
        upvoteComment: function (data, success, error) {
          $.ajax({
            type: 'post',
            url: '/upvotecomment',
            data: data,
            success: function (comment) {
              success(data);
              // success(data);
            }
          });
        },
        validateAttachments: function (attachments, callback) {
          setTimeout(function () {
            callback(attachments);
          }, 500);
        },
      });
    });

  </script>

</head>

<body style="background:#f5f7fb;font-family: Lato, Helvetica, Arial, sans-serif;
line-height: 20px;" data-userid="<%=userid%>" data-fullname="<%=fullname%>" data-name="<%=name%>""
 data-module_name="<%=module.module_name%>"
  data-module_id="<%=module._id%>">
  <div class="modal guidelines" id="guidelineModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Article Guidelines</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <p class="lead">
            Please note that adherence to these guidelines is mandatory. Any entry that fails to meet the quality guidelines, will not be approved for publishing. All entries are subject to approval by the editorial team. 
          </p>
          <h4>
            Quality Guidelines:
          </h4>
          <ul class="px-3">
            <li>Word limit: 1000-1500 words
              </li>
              <li>
                Please pick a topic that adheres to the suggested list of topics for this competition.
             
              </li>
              <li>
                The content should be original and not plagiarised. Any plagiarised copies will be disqualified from the competition.
                  
              </li>
              <li>
                Maximum two external links in the content are allowed.
                
              </li>
              <li>
                Usage of slang, inappropriate or offensive statements will disqualify you.
                
              </li>
              <li>
                The content will be evaluated on the basis of the quality and value of the information offered.
              </li>
                <li>
                  Please make sure that the topic chosen is not repetitive or the same as previously published articles.
                
                  </li>
                  <li>
                    Once published, the article would be a property of AMP Digital with due credits to the writer. Republishing the content requires the company’s approval.
              
                  </li>
                  <li>  The editorial team’s decision is final and binding.
                  </li>


          </ul>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <div id="textModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header" style="background: #6a4e77;">
          <h4 class="modal-title" style="color: white;">Post Question or Start Discussion</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body modal_body">
          <div class="commenting-field main">
            <div class="row align-items-center ml-0 round"><img style="width:3rem;"
                src="https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"></div>
                <form enctype="multipart/form-data" action="/addnewcomment3" method="POST">
                  <div class="form-group">
                    <label for="content">Your Question:</label>
                    <textarea class="form-control" rows="5" id="content" name="content"></textarea>
                  </div>
                  <input type="hidden" name="moduleid" value="<%=module._id%>">
                  <input type="hidden" name="modulename" value="<%=module.module_name%>">
                  <input type="hidden" name="url" value="<%=url%>">
                  <div class="form-group">
                    <label for="exampleFormControlFile1">(Optional) File</label>
                    <input type="file" name="avatar" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- header-->
  <header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
      <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header row align-items-center ml-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="index.html">
            <img src="/google_logo (1).jpg" class="logo" alt="Logo">
          </a>
          <a class="navbar-brand" href="index.html">
            <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
          </a>
          <!-- <a href="/" class="navbar-brand">
                  <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                  </a>
                  <a href="/" class="navbar-brand">
                  <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                  </a> -->
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Courses</a>
              <ul class="dropdown-menu">
                <!-- <li><a href="index.html">Home Version One</a></li>
                           <li><a href="index-2.html">Home Version Two</a></li>
                           <li><a href="index-3.html">Home Version Three</a></li>
                           <li><a href="index-4.html">Home Version Four</a></li> -->
                <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>

                <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
                <li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA)
                    Certification Course</a></li>
              </ul>
            </li>
            <li><a href="https://www.newsapp.io">News</a></li>
            <li><a href="/jobs/home">Jobs</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/digital-marketing-community-forums">Forum</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Tools</a>
              <ul class="dropdown-menu">
                <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
              </ul>
            </li>
            
            <%if(typeof email =='undefined'){%>
            <li>
              <a href="/auth">Register</a>
            </li>
            <%}else{%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <%}%>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
      </nav>
      <!-- End Navigation -->
   </header>
  <div id="section1" class="module pt-1 align-items-center breadcrumb-area shadow text-light bg-cover ">
    <div class="container">
       <div class="row">
          <div class="card">
             <picture>
                <source media="(max-width: 767px)" srcset="/blogathon.jpg" class="card-img-top">
                <img src="/blogathon.jpg" alt="Flowers" class="card-img-top">
             </picture>                  <div class="card-body">
               <div class="row align-items-center">
                <div class="col-md-9">
                   <h4 style="color: black" class="card-title">Digital Marketing Blogathon 1</h4>
                   <p class="card-text">
                      <i class="fa fa-calendar"></i> Registration and submission starts by 1-7 July 2021   
                      <br>
                      <br>
                      <i class="fa fa-calendar"></i> Submission closes by 25-31 July 2021
        
                    
                   </p>
                  </div>
                  <div class="col-md-3">
                    <%if(typeof email =='undefined'){%>
                      <a href="/auth" class="btn btn-primary btn-sm">Register Now</a>

                      <%}else{%>
                   <a href="/blogathon-editor" class="btn btn-primary btn-sm">Participate Now</a>
<%}%>
                  </div>
               </div>
               <hr>
                <ul class="m-0 p-0 mt-4 stats list-inline">
                   <li class="list-inline-item">
                      <span style="color: #2f4f4f">
                         <i class="fas fa-user"></i>
                         0
                      </span>
                      <p style="color: #25466A!important">Registered</p>
                   </li>
                   <li class="list-inline-item">
                      <span style="color: #2f4f4f">
                         <i class="fas fa-trophy"></i>
                         Assured 1500/- for every published article + iPad 8th Gen
                      </span>
                      <p style="color: #25466A!important">Prizes</p>
                   </li>
                </ul>
    <!-- Nav tabs -->
<ul class="nav nav-tabs mt-3" style="display: inline-flex!important;">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#about">About</a>
</li>
<li class="nav-item">
<a class="nav-link leaderboard" data-toggle="tab" href="#leaderboard">Leaderboard</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#discuss">Discuss</a>
</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane container active" id="about">
 <div class="row">
    <div class="col-md-8">
    <h3 class="mt-3" style="color: black;"><strong>Digital Marketing Blogathon</strong></h3>
    <p class="lead">
      The Blogathon is a competition that challenges your creativity as a writer, your expertise as a marketer, and your insights into the industry! AMP Digital’s core beliefs include sharing knowledge and encouraging upskilling. This is an opportunity to bring together a community of digital marketers and discuss our learnings, insights, and experiences. 
    </p>
    <p class="lead">
      We invite marketers of all ages and experiences to share their thoughts and views in the field of DIGITAL MARKETING. 

    </p>
    <p class="lead">The participants are required to submit an entry that adheres to the <a href="#" style="color: #6a4e77;" data-toggle="modal" data-target="#guidelineModal">guildelines</a> of the competition latest by (day, date, time). After a quality check by our team, the article will be published on our <a target="_blank" style="color: #6a4e77;" href="/blogs">blog</a>. The winners will be determined by the highest number of views on the published blog.
    </p>
    <p class="lead">
      It is time to put on your thinking caps and give your best shot! 

    </p>
    <%if(typeof email =='undefined'){%>
      <a href="/auth" class="btn btn-sm btn-primary">
        Register here
  
      </a>
      <%}else{%>
   <a href="/blogathon-editor" class="btn btn-primary btn-sm">Participate Now</a>
<%}%>
    <p class="mt-1 lead">
      The competition goes live on (date, time)

    </p>
    <h3 class="mt-3" style="color: black;"><strong>How can you participate?</strong></h3>
    <p class="lead">
      You can participate by registering <a href="" style="color: #6a4e77;">here</a>. Once you have registered, you will be required to submit an article that is up to the  <a href="#" data-toggle="modal" data-target="#guidelineModal" style="color: #6a4e77;">published guidelines</a> and an image complementing the write-up at the submission portal. Once your write-up has been approved it will be published on our website. 


    </p>
    <p class="lead">
      When the blog is published, its views will start getting recorded. You can check the number of views for your article on the <a href="#" class="leaderboardnavigate" style="color: #6a4e77;">leaderboard</a>. The blogs with the highest views will be declared as winners.

    </p>
    <h3 class="mt-3" style="color: black;"><strong>Why should you participate in the blogathon?
   
    </strong></h3>
    <p class="lead">We have a few bonafide reasons for you to join the competition! Let's get down to them:
    </p>
 <p class="lead">
  <ol class="whytp lead" style="color: black">
    <li>
      <strong>Hone your creative skills:</strong> The Blogathon gives you a chance to harness your creativity into words and make an exhibit of your marketing skills. You can take your readers on a journey and tell them your story!
    </li>
    <li>
      <strong>Get real-time feedback:</strong>Your blog content will not only receive feedback from us but the audience as well. You can track the real-time progress of your blog post via our <a href="#" class="leaderboardnavigate" style="color: #6a4e77;">leaderboard</a>. You can also review audience feedback in the comments section.
    </li>
    <li>
      <strong>Exhibit your prowess:</strong>  Our exhaustive range of topics, allows you to explore varying facets of Digital Marketing and curate content that reflects your knowledge, skills, and experience in the field.

    </li>
    <li>
      <strong>Enhance your resume:</strong>- Recruiters are always looking for extraordinary accomplishments that add value to your profile, this is an impeccable opportunity to add this feather to your hat. A winning blog post that emulates your content marketing and writing skills will be a showstopper on your resume. 

    </li>
    <li>
      <strong>Get a chance to interact, learn and grow with our community:</strong> The blogathon invites entries from all experience brackets, including industry pioneers and leaders. By participating, you get a chance to learn from the trendsetters and benefit from their insights. 

    </li>
    <li>
      <strong>Exciting prizes:</strong>Last but not least, the competition offers attractive prizes for the winners including (the highest prize) for the winning participant.

    </li>
  </ol>
 </p>
 <p class="lead">
  So what are you waiting for? <a href="#" style="color: #6a4e77;"> Enroll now! </a>
 </p>
 <h3 class="mt-3" style="color: black;"><strong>How can I increase views on my blog post?
</strong></h3>
<p class="lead">Share the post on your social media pages and encourage your network to view the post and interact by leaving comments or starting a discussion on the blog post.
</p>

    <input type="hidden" name="purpose" id="purpose" value="blogathon">
    </div>
    
    <div class="col-md-4" id="rightCol">       	
      <div class="">  
                  
          <div class="sideXd" style="box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
      border-radius: 18px;">
          <a href="https://www.ampdigital.co/courses/advanced-google-analytics-and-blogging" target="_blank"><img class="imageres" src="https://ampdigital.s3.us-west-2.amazonaws.com/Screenshot%202021-04-28%20at%207.04.38%20PM.png"></a>        </div>
                  
          <div class="sideXd" style="box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
      border-radius: 18px; margin-top: 5%;">
          <a href="https://www.ampdigital.co/courses/digital-marketing-course" target="_blank"><img class="imageres" src="https://ampdigital.s3.us-west-2.amazonaws.com/Screenshot%202020-09-23%20at%2010.13.28%20AM.png"></a>        </div>
          
      </div>
  </div>
    </div>
</div>
<div class="tab-pane container fade" id="leaderboard">
 <div class="row">
    <div class="why-choseus-area mt-4 w-100">
      <div class="info">
        <div class="row justify-content-center">    
            <div class="item-box col-lg-12">
                <div class="row">
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <span>01</span>
                            <h4>Winner 1</h4>
                        </div>
                    </div>
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <span>02</span>
                            <h4>Winner 2</h4>
                        </div>
                    </div>
                    <div class="single-item col-lg-4 col-md-6">
                     <div class="item">
                         <span>03</span>
                         <h4>Winner 3</h4>
                         <!-- <ul>
                             <li>Professional training</li>
                             <li>Present content to students</li>
                             <li>Students responsibility</li>
                         </ul> -->
                     </div>
                 </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
         <table class="table table-striped">
         <thead>
         <tr>
         <th>#</th>
         <th>Name </th>
         <th>Article</th>
         <th>Date Published on</th>
         <th>Page Views</th>
         </tr>
         </thead>
         <tbody>
           <%for(var i =0; i <50; i++){%>
             <tr>
               <td><%=i+1%></td>
               <td>
                 <span>Winner <%=i+1%></span>
               </td>
               <td><a
                   href="https://www.ampdigital.co/blogs/blog-<%=i%>"
                   target="_blank" style="color: #0d47a1;">Blog <%=i+1%></a></td>
               <td>June 7, 2021</td>
               <td>192</td>
             </tr>
             <%}%>
         </tbody>
         </table>
         </div>
    </div>
   </div>
 </div>
</div>
<div class="tab-pane container fade" id="discuss">
  <div class="container mt-4 mt-md-4">
    <div class="row">
      <div class="col-md-8">
        <div class="">
          <div class="">
          <div class="widget-five mb30" data-toggle="modal" data-target="<%=userid==null ? '#loginModal' : '#textModal'%>">
            <div style="background-color: white; height: 5rem; cursor: pointer;" class="row align-items-center ml-0 mr-0 hoverbg writepostbutton">
              <!---->        <button class="row align-items-center ml-2 mr-0 hoverbtn" style="background-color: white; border:none;">
                          <li-icon aria-hidden="true" type="compose-icon" class="mr2" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" width="24" height="24" focusable="false">
                <path d="M17 13.75l2-2V20a1 1 0 01-1 1H4a1 1 0 01-1-1V6a1 1 0 011-1h8.25l-2 2H5v12h12v-5.25zm5-8a1 1 0 01-.29.74L13.15 15 7 17l2-6.15 8.55-8.55a1 1 0 011.41 0L21.71 5a1 1 0 01.29.71zm-4.07 1.83l-1.5-1.5-6.06 6.06 1.5 1.5zm1.84-1.84l-1.5-1.5-1.18 1.17 1.5 1.5z"></path>
              </svg></li-icon>
                        Start a post
                      </button>
              <!---->    </div>
            <ul class="post-tools list-unstyled clearfix">
              <li class="writepostbutton">
                <a href="javascript:;" class="fa fa-file-image-o icon"></a>
              </li>
            </ul></div>
          </div>
        </a>
        <div class="mt-1">
          <!-- Nav pills -->
          <!-- <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#home">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#menu1">Answered</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#menu2">Unanswered</a>
            </li>
          </ul> -->

          <!-- Tab panes -->
          <div class="tab-content tab-content-forum mt-3">
            <div class="tab-pane container active" id="home">
              <%
              function replies(comments, comment){
                let count = 0;
                for(let i = 0; i<comments.length; i++){
                  if(comments[i]["rootid"] && comments[i]["rootid"].toString()==comment.id.toString() || comments[i]["parent"] && comments[i]["parent"].toString()==comment.id.toString()){
                    count++;
                  }
                }
                return count;
              }
              function replied(comments, comment){
                let comment2 = "";
                for(let i = 0; i<comments.length; i++){
                  if(comments[i]["rootid"] && comments[i]["rootid"].toString()==comment.id.toString() || comments[i]["parent"] && comments[i]["parent"].toString()==comment.id.toString()){
                    comment2 = comments[i];
                    break;
                  }
                }
                if(comment2!=="" && comment2.fullname==comment.fullname){
                  return false;
                }
                else{
                  return true
                }
              }
              function getFileType( url ) {
                var url_extension = url.split(/[#?]/)[0].split('.').pop().trim().toLowerCase();
                if (/(jpg|gif|png|JPG|GIF|PNG|JPEG|jpeg)$/.test(url_extension)){
                  return "image";
                }
                else if (/(ogg|mp3|mp?g|wav)$/.test(url_extension)){
                  return "audio";
                }
                else if (/(ogg|mp4|mp?g|webm|3gp)$/.test(url_extension)){
                  return "video";
                }
                else if (/(htm|html)$/.test(url_extension)){
                  return "html";
                }
                else if (/(txt|md|csv|nfo|ini|json|php|js|css)$/.test(url_extension)){
                  return "text";
                }
                else{
                  return "other"
                }
              }
              for(var comment of comments.all){%>
                <div class="media border p-3">
                  <img src="https://ui-avatars.com/api/?name=<%=comment.fullname%>&rounded=<%=comment.fullname%>" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                  <div class="media-body">
                    <h4><%=comment.fullname%> <small><i>Posted <%=moment(comment.created).fromNow()%></i></small></h4>
                    <a href="/digital-marketing-community/post/<%=comment.content.replace(/(([^\s]+\s\s*){14})(.*)/,'$1…').replace(/[^a-zA-Z0-9! ]+/g, '').replace(/\s+/g, '-').toLowerCase()%>--<%=comment.id%>"><p class="lead"><%=comment.content%></p></a>
                    <%if(comment.attachment_url && getFileType(comment.attachment_url)=="image"){%>
                      <div class="row">
                        <div class="file-preview-frame" id="preview-1606112811356-0" data-fileindex="0">
                          <img src="<%=comment.attachment_url.split('?')[0]%>" class="file-preview-image" title="<%=comment.attachment_url%>" alt="<%=comment.attachment_url%>" style="width:auto;height:160px; margin-top:30px">
                          <div class="file-thumbnail-footer">
                           <div class="file-footer-caption" title="<%=comment.attachment_url%>"><a href="<%=comment.attachment_url.split('?')[0]%>">Download</a></div>
                         </div>
                       </div>
                      </div>
                    <%}else if(comment.attachment_url){%>
                      <div class="row">
                        <div class="file-preview-frame" id="preview-1606112811356-0" data-fileindex="0">
                          <div class="file-thumbnail-footer">
                           <div class="file-footer-caption" title="<%=comment.attachment_url%>"><a href="<%=comment.attachment_url.split('?')[0]%>">Attached File</a></div>
                         </div>
                       </div>
                      </div>
                      <%}%>
                      <div class="row">
                        <div class="col"><a href="/digital-marketing-community/post/<%=comment.content.replace(/(([^\s]+\s\s*){14})(.*)/,'$1…').replace(/[^a-zA-Z0-9! ]+/g, '').replace(/\s+/g, '-').toLowerCase()%>--<%=comment.id%>"><%=comment.replies >0 ? "View/Reply" : "Reply"%></a></div>
                        <div class="col"><%=comment.replies%> <i class="fa fa-comment"></i></div>
                      </div>
                  </div>
                </div>
                <%}%>
            </div>
            <div class="tab-pane container fade" id="menu1">
              <%for(var comment of comments.answered){%>
                <div class="media border p-3">
                  <img src="https://ui-avatars.com/api/?name=<%=comment.fullname%>&rounded=<%=comment.fullname%>" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                  <div class="media-body">
                    <h4><%=comment.fullname%> <small><i>Posted <%=moment(comment.created).fromNow()%></i></small></h4>
                    <a href="/digital-marketing-community/post/<%=comment.content.replace(/(([^\s]+\s\s*){14})(.*)/,'$1…').replace(/[^a-zA-Z0-9! ]+/g, '').replace(/\s+/g, '-').toLowerCase()%>--<%=comment.id%>"><p class="lead"><%=comment.content%></p></a>
                    <%if(comment.attachment_url && getFileType(comment.attachment_url)=="image"){%>
                      <div class="row">
                        <div class="file-preview-frame" id="preview-1606112811356-0" data-fileindex="0">
                          <img src="<%=comment.attachment_url.split('?')[0]%>" class="file-preview-image" title="<%=comment.attachment_url%>" alt="<%=comment.attachment_url%>" style="width:auto;height:160px; margin-top:30px">
                          <div class="file-thumbnail-footer">
                           <div class="file-footer-caption" title="<%=comment.attachment_url%>"><a href="<%=comment.attachment_url.split('?')[0]%>">Download</a></div>
                         </div>
                       </div>
                      </div>
                    <%}else if(comment.attachment_url){%>
                      <div class="row">
                        <div class="file-preview-frame" id="preview-1606112811356-0" data-fileindex="0">
                          <div class="file-thumbnail-footer">
                           <div class="file-footer-caption" title="<%=comment.attachment_url%>"><a href="<%=comment.attachment_url.split('?')[0]%>">Attached File</a></div>
                         </div>
                       </div>
                      </div>
                      <%}%>
                      <div class="row">
                        <div class="col"><a href="/digital-marketing-community/post/<%=comment.content.replace(/(([^\s]+\s\s*){14})(.*)/,'$1…').replace(/[^a-zA-Z0-9! ]+/g, '').replace(/\s+/g, '-').toLowerCase()%>--<%=comment.id%>"><%=comment.replies >0 ? "View/Reply" : "Reply"%></a></div>
                        <div class="col"><%=comment.replies%> <i class="fa fa-comment"></i></div>
                      </div>
                  </div>
                </div>
                <%}%>
            </div>
            <div class="tab-pane container fade" id="menu2">
              <%
              for(var comment of comments.unanswered){%>
                <div class="media border p-3">
                  <img src="https://ui-avatars.com/api/?name=<%=comment.fullname%>&rounded=<%=comment.fullname%>" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                  <div class="media-body">
                    <h4><%=comment.fullname%> <small><i>Posted <%=moment(comment.created).fromNow()%></i></small></h4>
                    <a href="/digital-marketing-community/post/<%=comment.content.replace(/(([^\s]+\s\s*){14})(.*)/,'$1…').replace(/[^a-zA-Z0-9! ]+/g, '').replace(/\s+/g, '-').toLowerCase()%>--<%=comment.id%>"><p class="lead"><%=comment.content%></p></a>
                    <%if(comment.attachment_url && getFileType(comment.attachment_url)=="image"){%>
                      <div class="row">
                        <div class="file-preview-frame" id="preview-1606112811356-0" data-fileindex="0">
                          <img src="<%=comment.attachment_url.split('?')[0]%>" class="file-preview-image" title="<%=comment.attachment_url%>" alt="<%=comment.attachment_url%>" style="width:auto;height:160px; margin-top:30px">
                          <div class="file-thumbnail-footer">
                           <div class="file-footer-caption" title="<%=comment.attachment_url%>"><a href="<%=comment.attachment_url.split('?')[0]%>">Download</a></div>
                         </div>
                       </div>
                      </div>
                    <%}else if(comment.attachment_url){%>
                      <div class="row">
                        <div class="file-preview-frame" id="preview-1606112811356-0" data-fileindex="0">
                          <div class="file-thumbnail-footer">
                           <div class="file-footer-caption" title="<%=comment.attachment_url%>"><a href="<%=comment.attachment_url.split('?')[0]%>">Attached File</a></div>
                         </div>
                       </div>
                      </div>
                      <%}%>
                      <div class="row">
                        <div class="col"><a href="/digital-marketing-community/post/<%=comment.content.replace(/(([^\s]+\s\s*){14})(.*)/,'$1…').replace(/[^a-zA-Z0-9! ]+/g, '').replace(/\s+/g, '-').toLowerCase()%>--<%=comment.id%>"><%=comment.replies >0 ? "View/Reply" : "Reply"%></a></div>
                        <div class="col"><%=comment.replies%> <i class="fa fa-comment"></i></div>
                      </div>
                  </div>
                </div>
                <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
             </div>
           </div>
       </div>
    </div>
 </div>
  

</body>

</html>