<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVGP6ST2J1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-MVGP6ST2J1');
  </script>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="all,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- ========== Page Title ========== -->
  <title>BLogathon | AMP Digital</title>
  <!-- ========== Favicon Icon ========== -->
  <!-- ========== Start Stylesheet ========== -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
  <link href="/assets/css/elegant-icons.css" rel="stylesheet" />
  <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
  <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
  <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
  <link href="/assets/css/animate.css" rel="stylesheet" />
  <link href="/assets/css/bootsnav.css" rel="stylesheet" />
  <link href="/assets/css/style3.css" rel="stylesheet">
  <link href="/assets/css/responsive.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">

  <style>
    .guidelines li{
      list-style-type: circle!important;
    }
    /* .editable:focus {
    outline: 1px solid grey ;
} */
    .medium-editor-placeholder:after {
      color: grey !important;
    }

    .nav-tabs .nav-link {
      color: grey !important
    }

    .fa-trash {
      color: rgb(240, 11, 11);
    }

    #editor_file {
      height: 125px;
      width: 100%;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      cursor: inherit;
    }

    .editor-icon {
      width: 134px;
      height: 126px;
      background-position: -254px -20px;
      margin: 30px 0;
      background-image: url('https://editor.analyticsvidhya.com/images/icon.png');
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: middle;
    }

    .editor-title {
      float: left;
      margin-right: 15px;
      width: 75%;
      margin-bottom: 30px;
    }

    #editor-title-area {
      width: 100%;
      border: none;
      height: 84px;
      font-size: 34px;
      margin-bottom: 43px;
    }
  </style>
  <!-- ========== End Stylesheet ========== -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="/assets/js/html5/html5shiv.min.js"></script>
      <script src="/assets/js/html5/respond.min.js"></script>
      <![endif]-->
</head>

<body data-course_price="6000" data-course_name="Advanced Google Analytics (GA) Certification Course">
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal_body">
          <img width="100%" src="" class="imgsrc" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->

  <!-- Preloader Start -->
  <!-- <div class="se-pre-con"></div> -->
  <!-- Preloader Ends -->
  <!-- Header 
         ============================================= -->
  <!-- <header id="home">-->

  <!-- Start Navigation -->
  <!--    <nav class="navbar navbar-default inc-top-bar attr-border navbar-fixed-top white bootsnav on no-full no-background">-->

  <!-- Start Top Search -->
  <!--        <div class="container">-->
  <!--            <div class="row">-->
  <!--                <div class="top-search">-->
  <!--                    <div class="input-group">-->
  <!--                        <form action="#">-->
  <!--                            <input type="text" name="text" class="form-control" placeholder="Search">-->
  <!--                            <button type="submit">-->
  <!--                                <i class="ti-search"></i>-->
  <!--                            </button>  -->
  <!--                        </form>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!-- End Top Search -->

  <!--        <div class="container">-->

  <!-- Start Header Navigation -->
  <!--            <div class="navbar-header">-->
  <!--                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">-->
  <!--                    <i class="fa fa-bars"></i>-->
  <!--                </button>-->
  <!--                <a class="navbar-brand" href="index.html">-->
  <!--                    <img src="/wp-content/uploads/Origo-Logo-White.png" class="logo logo-display" alt="Logo">-->
  <!--<img src="/images/Origo-Logo.png" class="logo logo-scrolled" alt="Logo">-->
  <!--                </a>-->
  <!--            </div>-->
  <!--        </div>-->

  <!--    </nav>-->
  <!-- End Navigation -->

  <!--</header>-->
  <header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
      <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header row align-items-center ml-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="index.html">
            <img src="/google_logo (1).jpg" class="logo" alt="Logo">
          </a>
          <a class="navbar-brand" href="index.html">
            <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
          </a>
          <!-- <a href="/" class="navbar-brand">
                  <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                  </a>
                  <a href="/" class="navbar-brand">
                  <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                  </a> -->
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Courses</a>
              <ul class="dropdown-menu">
                <!-- <li><a href="index.html">Home Version One</a></li>
                           <li><a href="index-2.html">Home Version Two</a></li>
                           <li><a href="index-3.html">Home Version Three</a></li>
                           <li><a href="index-4.html">Home Version Four</a></li> -->
                <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>

                <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
                <li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA)
                    Certification Course</a></li>
              </ul>
            </li>
            <li><a href="https://www.newsapp.io">News</a></li>
            <li><a href="/jobs/home">Jobs</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/digital-marketing-community-forums">Forum</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Tools</a>
              <ul class="dropdown-menu">
                <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
              </ul>
            </li>
            
            <%if(typeof email =='undefined'){%>
            <li>
              <a href="/auth">Register</a>
            </li>
            <%}else{%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <%}%>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
      </nav>
      <!-- End Navigation -->
   </header>
      
      <div id="section1" class="module d-md-none pt-1 align-items-center breadcrumb-area shadow text-light bg-cover ">
            <img style="    width: 12rem;
    margin-top: 1rem;
    z-index: 10000;" src="/wp-content/uploads/Origo-Logo-White.png" alt="Logo">
         <div class="container-fluid mt-5 pt-3">
             
            <div class="row align-items-center mt-3">
               <div class="col-lg-12">
                  <div class="row align-items-center justify-content-center ml-md-5">
                     <div class="col-md-10">
                        <div class="content">
                            <div class="row">
                                <header>
    <h1 style="color: #add100; height:200px; font-weight: 900!important;">Business loans for
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "trading commodities", " purchasing commodities" ]'></span>
</h1>
<p class="mt-4 text-center py-2 px-3" style="font-size: 25px!important;color: white!important;font-weight: 900;width: fit-content;">
                              Fast &amp; hassle free commodity loans from INR 1cr to INR 100 cr
                          </p>
                          <a class="btn circle btn-md btn-success mt-2 mb-5" href="/contact-us">Talk to our experts</a>
  </header>
                            
</div>
                          </div>
                               </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="video-area padding-xl text-center bg-fixed text-light " >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <<!-- Nav tabs -->
<ul class="nav nav-tabs" style="display: inline-flex!important;">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#createarticle">Create Article</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#myarticles">My articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#articleguidelines">Article Guidelines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#topics">Topics</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="createarticle">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="card height-100">
            <grammarly-extension data-grammarly-shadow-root="true"
              style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="cGcvT"></grammarly-extension>
            <grammarly-extension data-grammarly-shadow-root="true"
              style="mix-blend-mode: darken; position: absolute; top: 0px; left: 0px; pointer-events: none;" class="cGcvT">
            </grammarly-extension>
            <div class="card-header">
              <div class="float-right">
                <button type="submit" class="btn av-btn saveDraft" id="saveDraft">Send For Review</button>
              </div>
            </div>
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <div class="editor-title">
        
                <textarea style="line-height: initial!important;" type="text" class="form-input mt-2" placeholder="Add title*" id="editor-title-area"
                  spellcheck="false"></textarea>
              </div>
              <div class="editor-icon">
                <form method="post" enctype="multipart/form-data">
                  <input type="file" name="files" id="editor_file">
                </form>
              </div>
              <div class="card-body-content">
                <div class="editable text-left"></div>
              </div>
              <span class="d-none sendingforreview"><span style="color: blue;">Sending for review...</span> <i style="color: blue" class="fas fa-spin fa-spinner"></i></span>
              <button type="submit" class="btn btn-sm btn-primary saveDraft" id="saveDraft">Send For Review</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane container fade" id="myarticles">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Article Name</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
            <th scope="col">Number of readers</th>
            <!-- <th scope="col">Last Update</th> -->
            <!-- <th scope="col">Update by</th> -->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <%for(let i = 0; i < blogs.length; i++){%>
            <tr>
              <td scope="row"><%=i+1%></td>
              <td><%=blogs[i].title%></td>
              <td><i class="av-icon mr-2"></i><%=blogs[i].approved!==undefined && blogs[i].approved !==false  ? 'Approved' : 'In Review'%></td>
              <td><%=moment(new Date(blogs[i].date)).format("DD/MMM/YYYY HH:mm A")%></td>
              <td><a href="/blog/<%=blogs[i].blogurl%>"><%=blogs[i].readers.length%></a></td>
              <td>
                <a href="delete-article?article_id=4843" title="Delete Article" class="a-border"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <%}%>
        </tbody>
      </table>
      </div>
  </div>
  <div class="tab-pane container fade" id="articleguidelines">
    <div class="why-choseus-area guidelines mt-3">
      <div class="container">
          <div class="info">
              <div class="row">

                <div class="text-left" style="color: black">
                  <p>
                    Please note that adherence to these guidelines is mandatory. Any entry that fails to meet the quality guidelines, will not be approved for publishing. All entries are subject to approval by the editorial team. 
                  </p>
                  <h4 style="color: black">
                    Quality Guidelines:
                  </h4>
                  <ul>
                    <li>Word limit: 1000-1500 words
                      </li>
                      <li>
                        Please pick a topic that adheres to the suggested list of topics for this competition.
                     
                      </li>
                      <li>
                        The content should be original and not plagiarised. Any plagiarised copies will be disqualified from the competition.
                          
                      </li>
                      <li>
                        Maximum two external links in the content are allowed.
                        
                      </li>
                      <li>
                        Usage of slang, inappropriate or offensive statements will disqualify you.
                        
                      </li>
                      <li>
                        The content will be evaluated on the basis of the quality and value of the information offered.
                      </li>
                        <li>
                          Please make sure that the topic chosen is not repetitive or the same as previously published articles.
                        
                          </li>
                          <li>
                            Once published, the article would be a property of AMP Digital with due credits to the writer. Republishing the content requires the company’s approval.
                      
                          </li>
                          <li>  The editorial team’s decision is final and binding.
                          </li>
        
        
                  </ul>
        
                </div>

              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="tab-pane container fade text-left" id="topics">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="row">
            <h3 style="color: black">Suggested Topics</h3>
      
          </div>
          <div class="row">
         <ol style="color: black">
           <li>
            Digital promotion
           </li>
           <li>Internet marketing </li>
            <li> Digital marketing strategies </li>
              <li>Online business promotion </li>
                <li> Digital marketing techniques </li>
                  <li>Search engine marketing </li>
                    <li>Search engine optimization </li>
                      <li>Content marketing </li>
                        <li>Paid social advertising</li> 
                          <li>Google ads </li>
                            <li>YouTube marketing</li> 
                              <li>YouTube paid advertising </li>
                                <li>Facebook paid marketing </li>
                                  <li>LinkedIn sponsored content </li>
                                    <li>Pinterest marketing </li>
                                      <li>Twitter ads </li>
         </ol>
      
      
      
          </div>
          <div class="row">
            <p>Please feel free to include your personal experiences, insights, or case studies pertaining to your topic. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                </div>
            </div>
        </div>
    </div>
      <!-- End Footer-->
      <!-- jQuery Frameworks
         ============================================= -->
      <script src="/assets/js/jquery-1.12.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/jquery.appear.js"></script>
      <script src="/assets/js/jquery.easing.min.js"></script>
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      <script src="/assets/js/modernizr.custom.13711.js"></script>
      <script src="/assets/js/owl.carousel.min.js"></script>
      <script src="/assets/js/wow.min.js"></script>
      <script src="/assets/js/progress-bar.min.js"></script>
      <script src="/assets/js/isotope.pkgd.min.js"></script>
      <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="/assets/js/count-to.js"></script>
      <script src="/assets/js/YTPlayer.min.js"></script>
      <script src="/assets/js/jquery.nice-select.min.js"></script>
      <script src="/assets/js/loopcounter.js"></script>
      <script src="/assets/js/bootsnav.js"></script>
      <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
         integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
         crossorigin="anonymous" />
      <link href="/assets/css/themify-icons.css" rel="stylesheet" />
      <script src="/assets/js/main2.js"></script>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
      <script src='https://www.google.com/recaptcha/api.js' async defer></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" integrity="sha512-0OCvzZyRsIJ9Rg7O1S+Wf9ucukmVhyOg3h5eBG05aeH4NjG78fCEaEX3ofvndmukzENiX24fK5X/jPr6Y8yIdg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" integrity="sha512-L/EyzxvZCddd652hKB4w2gEaZgCZSOaH0Ia6JoEGysTu27VnWvej5ipuBnru/iDhPWMO0AvwiVd0HHVUHWeDRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script>
        var TxtRotate = function (el, toRotate, period) {
          this.toRotate = toRotate;
          this.el = el;
          this.loopNum = 0;
          this.period = parseInt(period, 10) || 2000;
          this.txt = '';
          this.tick();
          this.isDeleting = false;
        };

        TxtRotate.prototype.tick = function () {
          var i = this.loopNum % this.toRotate.length;
          var fullTxt = this.toRotate[i];

          if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
          } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
          }

          this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

          var that = this;
          var delta = 241 - Math.random() * 100;

          if (this.isDeleting) { delta /= 10; }

          if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
          } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
          }

          setTimeout(function () {
            that.tick();
          }, delta);
        };

        window.onload = function () {
          $(".saveDraft").on("click", function () {
            // alert($("#editor-title-area").val());
            // alert("Aegaeg");
            // alert(editor.getContent());
            let files = new FormData();
            let input = $("#editor_file");
            if (!input.val()){
              $.alert('please upload a image for blog');
            }
            else if($("#editor-title-area").val() == ""){
              $.alert('please write blog title');
            }
            else if(editor.getContent() == ""){
              $.alert('please write blog content');
            }
            else {
              files.append('avatar', input[0].files[0]); // append selected file to the bag named 'file'
              files.append('title', $("#editor-title-area").val());
              files.append('content', editor.getContent());
              var el = $(this);
              el.addClass('d-none');
              $(".sendingforreview").removeClass('d-none');
              $.ajax({
                type: 'post',
                url: '/saveblog',
                processData: false,
                contentType: false,
                data: files,
                success: function (response) {
                  el.removeClass('d-none');
                  $(".sendingforreview").addClass('d-none');
                  console.log(response);
                  if(response == 1){
                    $.alert("Your blog has been sent for review. It is pending approval.");
                  }
                },
                error: function (err) {
                  console.log(err);
                }
              });

            }
            
          })

          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                console.log(e);
                $('.card-img-top').attr('src', e.target.result);

                // alert("ahegpahegpiaheg");
                // $('#blah').attr('src', e.target.result);
                // alert( e.target.result)
              }

              reader.readAsDataURL(input.files[0]);
            }
          }

          $("#editor_file").change(function () {
            readURL(this);
          });
          var editor = new MediumEditor('.editable', {
            placeholder: {
              /* This example includes the default options for placeholder,
                 if nothing is passed this is what it used */
              text: 'Type your text',
              hideOnClick: true
            }
          });
          $(".default-features-area .item a").on("click", (e) => {
            e.preventDefault();
          });
          $(".image-container").on("click", function () {
            $("#myModal").modal("toggle");
            var el = $(this).data("img");
            $(".imgsrc").attr("src", el)
          })
          var elements = document.getElementsByClassName('txt-rotate');
          for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
          }
          // INJECT CSS
          var css = document.createElement("style");
          css.type = "text/css";
          css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
          document.body.appendChild(css);
        };
      </script>
   </body>
</html>