<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AMP Digital Course detail</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
    <link href="/faicons/css/all.css" rel="stylesheet"> <!--load all styles -->
  <!-- Fontastic CSS-->
  <link rel="stylesheet" href="/css/font.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Swiper carousel-->
  <link rel="stylesheet" href="/vendor/swiper/css/swiper.css">
  <!-- Lity-->
  <link rel="stylesheet" href="/vendor/lity/lity.css">
  <!-- Bootstrap Select-->
  <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.css">
  <!-- Theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="/css/custom.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<!-- header-->
<%-include partials/header.ejs%>
<!-- Hero Section -->
<section class="hero hero-page">
  <div style="background: url(img/courses-banner.jpg)" class="hero-banner">       </div>
</section>
<!-- Course Details-->
<section class="course-details">
  <div class="container">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
        <li aria-current="page" class="breadcrumb-item active">Your Complete Guide To Photoshop</li>
      </ol>
    </nav>
    <div class="course-details-header">
      <h2 class="mb-4">Your Complete Guide To Photoshop</h2>
      <div class="d-flex justify-content-between align-items-start mb-4 flex-column flex-lg-row">
        <div class="course-instructor">
          <div class="avatar"><img src="img/avatar.jpg" alt="..." class="img-fluid"></div>
          <div class="name"><strong>Richard Vardy</strong><span>Computer Science Teacher</span></div>
        </div>
        <div class="course-information d-flex flex-wrap mt-4 mt-lg-0">
          <div class="cell border-left-0 border-top-0"><small>Category</small><strong>Computer Science</strong></div>
          <div class="cell border-top-0"><small>Duration</small><strong>10 weeks</strong></div>
          <div class="cell border-top-0 border-right-0"><small>Connect</small><strong>Forum</strong></div>
          <div class="cell border-bottom-0 border-left-0"> <small>Sections</small><strong>14</strong></div>
          <div class="cell border-bottom-0"> <small>Level</small><strong>Advanced</strong></div>
          <div class="cell border-bottom-0 border-right-0"> <small>Enroll</small><strong>240</strong></div>
        </div>
        <div class="course-price text-left text-lg-right">   <small>Price</small>
          <ul class="list-inline">
            <li class="list-inline-item">
              <div class="discounted">200 </div>
            </li>
            <li class="list-inline-item">
              <div class="current"> <sup>$</sup>150</div>
            </li>
          </ul>
          <div class="CTAs"><a href="#" data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>" data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" class="btn btn-primary enrollnow">Enroll Now</a><a href="#" class="btn btn-outline-primary">Bookmark</a></div>
          <div class="review"><span>Review</span>
            <ul class="rate pl-0">
              <li class="list-inline-item"><i class="fa fa-star"></i></li>
              <li class="list-inline-item"><i class="fa fa-star"></i></li>
              <li class="list-inline-item"><i class="fa fa-star"></i></li>
              <li class="list-inline-item"><i class="fa fa-star"></i></li>
              <li class="list-inline-item"><i class="fa fa-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <p><img src="img/course-details-img.jpg" alt="..." class="img-fluid"></p>
    </div>
    <div class="course-details-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h5 class="mt-5">What you learn </h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      <div class="row">
        <div class="col-lg-6">
          <ul class="checked list-unstyled mb-4">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Accusantium doloremque laudantium.</li>
            <li>At vero eos et accusamus et iusto odio dignissimos .</li>
            <li>Temporibus autem quibusdam et aut officiis debitis</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="checked list-unstyled">
            <li>vero eos et accusamus et iusto odio dignissimos . </li>
            <li>Temporibus autem quibusdam et aut officiis debitis</li>
            <li>Accusantium doloremque laudantium.</li>
          </ul>
        </div>
      </div>
      <blockquote class="blockquote mt-4 mb-5">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="author">Richard Nevoresky</div>
        <footer class="blockquote-footer">
          <cite title="Source Title">Dean of College</cite>
        </footer>
      </blockquote>
      <div class="row">
        <div class="col-lg-6">
          <h5>Course Requirements</h5>
          <ul class="checked list-unstyled">
            <li>At vero eos et accusamus et iusto odio dignissimos .</li>
            <li>Temporibus autem quibusdam et aut officiis debitis</li>
            <li>Accusantium doloremque laudantium.</li>
            <li>Temporibus autem quibusdam et aut officiis debitis</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h5>Target Audience</h5>
          <ul class="checked list-unstyled">
            <li>At vero eos et accusamus et iusto odio dignissimos .</li>
            <li>Temporibus autem quibusdam et aut officiis debitis</li>
            <li>Accusantium doloremque laudantium.</li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="mt-4 mb-4">
    <div class="course-details-footer">
      <div class="d-flex align-items-center">
        <h5 class="mr-3">Tags</h5>
        <ul class="tags list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="tag">Education</a></li>
          <li class="list-inline-item"><a href="#" class="tag">Photography</a></li>
          <li class="list-inline-item"><a href="#" class="tag">Photoshop</a></li>
          <li class="list-inline-item"><a href="#" class="tag">Online Learning</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="related-courses bg-gray">
  <div class="container">
    <header>
      <h2><small>You may also like</small>Related Courses</h2>
    </header>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="course">
          <div class="course-image"><img src="img/course-img-1.jpg" alt="Photoshop Essentials">
            <div class="overlay flex-column d-flex align-items-center justify-content-center">
              <div class="instructor-avatar"><img src="img/avatar.jpg" alt="Richard Vardy" class="img-fluid"></div>
              <div class="instructor-name"><a href="#" class="no-anchor-style"><strong>Richard Vardy</strong></a></div>
              <ul class="instructor-rate list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
              </ul><a href="#" class="watch-btn"><i class="fa fa-eye">       </i>Watch Now</a>
            </div>
          </div>
          <div class="course-header pb-1"><a href="/course-detail" class="no-anchor-style">
              <h3 class="h5">Photoshop Essentials</h3></a>
            <div class="d-flex align-items-center justify-content-between">
              <div class="category"><i class="fa fa-tags"></i><a href="#">photoshop</a></div>
              <div class="price"><strong><small>USD </small> 95.99</strong></div>
            </div>
          </div>
          <div class="course-body">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
          </div>
          <hr>
          <div class="course-footer d-flex align-items-center justify-content-between">
            <div class="user"><i class="fa fa-user"></i><span>340</span></div>
            <div class="comments"><i class="fa fa-comments-o"></i><span>340</span></div>
            <div class="duration"><i class="fa fa-clock-o"></i><span>10 weeks</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="course">
          <div class="course-image"><img src="img/course-img-2.jpeg" alt="Electrical Engineering">
            <div class="overlay flex-column d-flex align-items-center justify-content-center">
              <div class="instructor-avatar"><img src="img/avatar.jpg" alt="Richard Vardy" class="img-fluid"></div>
              <div class="instructor-name"><a href="#" class="no-anchor-style"><strong>Richard Vardy</strong></a></div>
              <ul class="instructor-rate list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
              </ul><a href="#" class="watch-btn"><i class="fa fa-eye">       </i>Watch Now</a>
            </div>
          </div>
          <div class="course-header pb-1"><a href="/course-detail" class="no-anchor-style">
              <h3 class="h5">Electrical Engineering</h3></a>
            <div class="d-flex align-items-center justify-content-between">
              <div class="category"><i class="fa fa-tags"></i><a href="#">Engineering</a></div>
              <div class="price"><strong><small> </small> Free</strong></div>
            </div>
          </div>
          <div class="course-body">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
          </div>
          <hr>
          <div class="course-footer d-flex align-items-center justify-content-between">
            <div class="user"><i class="fa fa-user"></i><span>340</span></div>
            <div class="comments"><i class="fa fa-comments-o"></i><span>340</span></div>
            <div class="duration"><i class="fa fa-clock-o"></i><span>10 weeks</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="course">
          <div class="course-image"><img src="img/course-img-3.jpg" alt="Agricultural Management">
            <div class="overlay flex-column d-flex align-items-center justify-content-center">
              <div class="instructor-avatar"><img src="img/avatar.jpg" alt="Richard Vardy" class="img-fluid"></div>
              <div class="instructor-name"><a href="#" class="no-anchor-style"><strong>Richard Vardy</strong></a></div>
              <ul class="instructor-rate list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
              </ul><a href="#" class="watch-btn"><i class="fa fa-eye">       </i>Watch Now</a>
            </div>
          </div>
          <div class="course-header pb-1"><a href="/course-detail" class="no-anchor-style">
              <h3 class="h5">Agricultural Management</h3></a>
            <div class="d-flex align-items-center justify-content-between">
              <div class="category"><i class="fa fa-tags"></i><a href="#">Agriculture</a></div>
              <div class="price"><strong><small>USD </small> 95.99</strong></div>
            </div>
          </div>
          <div class="course-body">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
          </div>
          <hr>
          <div class="course-footer d-flex align-items-center justify-content-between">
            <div class="user"><i class="fa fa-user"></i><span>340</span></div>
            <div class="comments"><i class="fa fa-comments-o"></i><span>340</span></div>
            <div class="duration"><i class="fa fa-clock-o"></i><span>10 weeks</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer-->
<%-include partials/footer.ejs%>
<!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/swiper/js/swiper.js"></script>
<script src="/vendor/lity/lity.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.js"></script>
<script src="/js/front.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<!---->
<script type="text/javascript">
    $(document).ready(function(){
      function getUrlVars()
      {
          var vars = [], hash;
          var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
          for(var i = 0; i < hashes.length; i++)
          {
              hash = hashes[i].split('=');
              vars.push(hash[0]);
              vars[hash[0]] = hash[1];
          }
          return vars;
      }

      if(typeof getUrlVars()['payment']!=='undefined' && getUrlVars()['payment']=="true"){
        var email = $('.enrollnow').data('paymentemail');
        var name = $('.enrollnow').data('paymentname');
        var phone = $('.enrollnow').data('paymentphone');
        var user_id = $('.enrollnow').data('paymentuser_id');
        $('.course-details').html('<h2 class="ml-5">Redirecting you to payments page ... <i class="fa fa-users"></i> </h2>');
        $('.related-courses').remove();
        if(email!==''){
          const data = {
            purpose: 'Course Payment',
            amount: '1111',
            buyer_name: name,
            email: email,
            phone: phone,
            user_id: user_id,
            redirect_url: `https://www.ampdigital.co/callback?user_id=${user_id}`,
            webhook_url: '/webhook/',
          };

          $.ajax({
              type: "POST",
              url: '/requestpayment',
              data: data,
              success: function(result){
                console.log('RESULT');
                console.log(result);
                window.location.href = result;
              }
          });
        }
      }
      
      $('.loginbtn').on('click', function(e){
            e.preventDefault();
            $('#paymentCreateAccount').modal('toggle');
            $('#paymentLoginModal').modal('toggle');
          })

      $('.enrollnow').on('click', function(e){
        e.preventDefault();
        var email = $(this).data('paymentemail');
        var name = $(this).data('paymentname');
        var phone = $(this).data('paymentphone');
        var user_id = $(this).data('paymentuser_id');
        if(email!==''){
          $('.course-details').html('<h2 class="ml-5">Redirecting you to payments page ... </h2>');
          $('.related-courses').remove();
          const data = {
            purpose: 'Course Payment',
            amount: '11111',
            buyer_name: name,
            email: email,
            phone: phone,
            user_id: user_id,
            redirect_url: `https://www.ampdigital.co/callback?user_id=${user_id}`,
            webhook_url: '/webhook/',
          };

          $.ajax({
              type: "POST",
              url: '/requestpayment',
              data: data,
              success: function(result){
                console.log('RESULT');
                console.log(result);
                window.location.href = result;
              }
          });
        }
        else{
          $('#paymentCreateAccount').modal('toggle');
        }
      })
    });

    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>
