<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Current Enrollments</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
  <link href="assets/css/themify-icons.css" rel="stylesheet" />
  <link href="assets/css/flaticon-set.css" rel="stylesheet" />
  <link href="assets/css/elegant-icons.css" rel="stylesheet" />
  <link href="assets/css/magnific-popup.css" rel="stylesheet" />
  <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
  <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
  <link href="assets/css/animate.css" rel="stylesheet" />
  <link href="assets/css/bootsnav.css" rel="stylesheet" />
  <link href="style.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet" />
  <style>
    .course .course-header {
    padding: 30px;
}
.course .course-body {
    padding: 10px 30px;
}
.course .course-header a {
    color: #333;
    text-decoration: none!important;
    font-size: .9rem;
    font-weight: 400;
}
.no-anchor-style {
    text-decoration: none!important;
    color: inherit!important;
}
.course-title {
    color: #3278ce!important;
    font-family: OpenSans,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2px;
}
.course .course-body {
    padding: 10px 30px;
}
.course .course-body p {
    font-size: .9rem;
    color: #555;
}
.course .course-footer {
    padding: 20px 30px;
}

.course .course-footer span {
    color: #333;
    font-size: .85rem;
    font-weight: 400;
}

a, button, i, small, span, strong {
    display: inline-block;
}
    .course-title {
      color: #3278ce!important;
    font-family: OpenSans,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2px;
}
.course-title:hover{
  text-decoration: underline;
}
    .hero-page .container {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .no-anchor-style:hover{
      color: #6a4e77!important;
    }
  </style>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Preloader Start -->
  <div class="se-pre-con"></div>
  <!-- Preloader Ends -->

  <!-- Header 
    ============================================= -->
  <header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
      <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header row align-items-center ml-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/google_logo (1).jpg" class="logo" alt="Logo">
          </a>
          <a class="navbar-brand" href="/">
            <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
          </a>
          <!-- <a href="/" class="navbar-brand">
                  <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                  </a>
                  <a href="/" class="navbar-brand">
                  <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                  </a> -->
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
              <ul class="dropdown-menu">
                <!-- <li><a href="index.html">Home Version One</a></li>
                           <li><a href="index-2.html">Home Version Two</a></li>
                           <li><a href="index-3.html">Home Version Three</a></li>
                           <li><a href="index-4.html">Home Version Four</a></li> -->
                <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>

                <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
                <li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA)
                    Certification Course</a></li>
              </ul>
            </li>
            <li><a href="https://www.newsapp.io">News</a></li>
            <li class="active"><a href="/jobs/home">Jobs</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/digital-marketing-community-forums">Forum</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Tools</a>
              <ul class="dropdown-menu">
                <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
              </ul>
            </li>
            
            <%if(typeof email =='undefined'){%>
            <li>
              <a href="/auth">Register</a>
            </li>
            <%}else{%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <%}%>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
      </nav>
      <!-- End Navigation -->
   </header>
    <!-- End Header -->

    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(blogcover.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Current Enrollments
                    </h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li> Dashboard </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="why-choseus-area courses-listing default-padding bottom-less pt-5">
      <div class="container">
          <div class="info">
            <div class="row justify-content-center">
              <%for(var i = 0; i <courses.length; i++){%>
              <div class="col-md-10">
                <div style="box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
                border-radius: 18px;"  class="course mt-5">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="course-header pb-1"><a href="<%=courses[i].course_access_url%>" class="no-anchor-style">
                        <!-- <p style="color: #58646d; font-size: 0.9rem!important;">COURSE</p></a> -->
                      <br><a href="<%=courses[i].course_access_url%>" class="no-anchor-style">
                        <h3 class="h5 course-title"><%=courses[i]['course_name']%></h3></a>
                    </div>
                    <div class="course-body">
                      <p><%=courses[i]['course_objective']%></p>
                    </div>
                    <div class="row align-self-end">
                      <!-- <hr> -->
                    </div>
                    
                    </div>
                    <div class="col-md-3 row align-items-center justify-content-center">
                      <div class="course-footer d-flex align-items-center justify-content-between">
                        <div class="row">
                          <div class="col-md-12">
                            <a style="background: #2972d1;" href="<%=courses[i].course_access_url%>" class="btn btn-primary btn-lg ml-auto">View Course</a>
                          </div>
                          <div class="col-md-12">
                            <span style="font-size: large;">Duration: <%=courses[i]['course_duration']%></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%}%>
            </div>
          </div>
      </div>
  </div>

    <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light">
      <div class="container">
         <div class="f-items default-padding">
            <div class="row">
               <div class="col-lg-4 col-md-6 item">
                  <div class="f-item about">
                     <img src="/ampdigitalwhitelogo.png" alt="Logo">
                     <p>
                        AMP Digital runs and operates Ads4Growth.com which provides digital
                        marketing
                        services and training.
                     </p>
                     <!-- <p class="text-italic">
                        Please write your email and get our amazing updates, news and support*
                        </p>
                        <div class="subscribe">
                        <form action="#">
                            <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>  
                        </form>
                        </div> -->
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 item">
                  <div class="f-item link">
                     <h4 class="widget-title">Useful Links</h4>
                     <ul>
                        <li>
                           <a href="/">Home</a>
                        </li>
                        <li>
                           <a href="/about">About</a>
                        </li>
                        <li>
                           <a href="http://seotools.ampdigital.co/">SEO Tools</a>
                        </li>
                        <li>
                           <a href="/faq">FAQs, Help/Support</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 item">
                  <div class="f-item contact">
                     <h4 class="widget-title">Contact Info</h4>
                     <div class="address">
                        <ul>
                           <li>
                              <strong>Registered Address:</strong> 403, Sovereign 1, Sohna Rd,
                              Vatika
                              City, Gurugram, Haryana 122018
                           </li>
                           <li>
                              <strong>Contact:</strong> +919971060035
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <p>&copy; Copyright 2021, <a href="/">AMP Digital</a></p>
               </div>
               <div class="col-lg-6 text-right link">
                  <ul>
                     <li>
                        <a href="/termsofservice">Terms of Service</a>
                     </li>
                     <li>
                        <a href="/privacypolicy">Privacy Policy</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- End Footer Bottom -->
   </footer>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" />
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/loopcounter.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          $('.forgotpasswordbutton').on('click', function (e) {
              e.preventDefault();
              $('.loginform').addClass('d-none');
              $('.forgotpasswordform').removeClass('d-none');
              $('.loginpaneltitle').html('Forgot Password');
          });
  
          $('.loginformbutton').on('click', function (e) {
              e.preventDefault();
              $('.loginform').removeClass('d-none');
              $('.forgotpasswordform').addClass('d-none');
              $('.loginpaneltitle').html('Login');
          });
  
          $('.forgotpasswordform').on('submit', function (e) {
              $(this).children('button').attr('disabled', 'disabled');
              e.preventDefault();
              var email = $('#forgotpasswordemail').val();
              $.ajax({
                  method: "POST",
                  url: "/forgotpassword",
                  data: {email: email}
              }).done(function(response) {
                  if(response._id){
                      $('#loginModal').modal('toggle');
                      $.alert('<div class="text-center"> <i style="font-size: 75px;" class="fa fa-plane color-primary"></i>\n' +
                          '            <h3>\n' +
                          '              Instructions on resetting your password are on their way!\n' +
                          '            </h3>\n' +
                          '            <p>If you do not receive an email soon ensure that the email is valid and that you can receive emails\n' +
                          '              from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p></div>');              }
                  console.log(response);
              });
          });
      });
  </script>
</body>
</html>