<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AMP Digital Course detail</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link href="/faicons/css/all.css" rel="stylesheet"> <!--load all styles -->
  <!-- Fontastic CSS-->
  <link rel="stylesheet" href="/css/font.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Swiper carousel-->
  <link rel="stylesheet" href="/vendor/swiper/css/swiper.css">
  <!-- Lity-->
  <link rel="stylesheet" href="/vendor/lity/lity.css">
  <!-- Bootstrap Select-->
  <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.css">
  <!-- Theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="/css/custom.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<style>
  .testimonials_background {
    background-image: url(https://images.pexels.com/photos/3821159/pexels-photo-3821159.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.course-details-header .review {
    margin-top: 0px!important;;
}
  /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 250px) { 
  header{
    text-align: left!important;
  }
  header h2{
    font-size: 1.3rem!important;
  }
  .modal-title{
    font-size: 1rem!important;
  }
  .course-details-header .review i {
    font-size: 0.4rem;
  }
  .course-details-header .course-information small {
    font-size: 0.7rem;
  }
  .course-details-header .course-price .current {
    font-size: 2rem!important;
  }
  .course-information {
    font-size: 0.75rem!important;
  } 
  .course-details-header .course-information strong {
    font-size: 0.7rem;
}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 325px) { 
  .course-details-header .review i {
    font-size: 0.58rem;
  }
  .course-details-header .course-information small {
    font-size: 0.8rem;
  }
  .course-information {
    font-size: 1rem!important;
  } 
  .course-details-header .course-information strong {
    font-size: 0.8rem;
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  header{
    text-align: center!important;
  }
  header h2{
    font-size: 2rem!important;
  }
  .modal-title{
    font-size: 1.25rem!important;
  }
  .course-details-header .review i {
    font-size: 0.7rem;
  }
  .course-information {
    font-size: 1rem!important;
  } 
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .course-information {
    font-size: 1rem!important;
  }
  .course-details-header .course-information strong {
    font-size: 1rem;
}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .course-information {
    font-size: 1rem!important;
  }
}
 
  .mb-0 > a {
  display: block;
  position: relative;
  color: white;
}
.mb-0 > a::before {
  content: "\25B4"; /* fa-chevron-down */
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]::before {
  content: "\25BE"; /* fa-chevron-up */
}
section{
	padding: 60px 0;
}
.card-header{
  background: #6a4e77 !important
}

  .deep-purple-text {
    color: #6a4e77 !important;
}

.pull-right{
  float:right!important;
}

#accordion a:hover{
  color: gray!important;
}
</style>
<body>
<!-- header-->
<form class="paymentlogin d-none" action="/paymentlogin" method="POST" role="form">
  <div class="form-group formField">
      <input name="email" required="" type="text" class="form-control border-color-1" id="emaillogin" placeholder="Email">
  </div>
  <div class="form-group formField">
      <input name="password" required="" type="password" class="form-control border-color-2 forgotpasswordbtn" id="passwordlogin" placeholder="Password">
  </div>
  <div class="form-group formField">
    <input name="alreadyenrolled" value="notenrolled" required="" type="hidden" class="form-control border-color-2 alreadyenrolled" id="alreadyenrolled" placeholder="Password">
</div>
<div class="form-group formField">
  <input name="couponcodelogin" value="notenrolled" required="" type="hidden" class="form-control border-color-2 couponcodelogin" id="couponcodelogin" placeholder="Password">
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <div class="form-group formField">
      <p class="help-block"><a class="forgotpasswordbutton" href="#">Forgot password?</a></p>
  </div>
</form>
<%-include partials/header.ejs%>
<!-- Hero Section -->
<!-- Course Details-->
<section class="course-details pt-3 pb-0">
  <div class="container">
    <div class="course-details-header">
      <div class="row justify-content-between align-items-center mb-4 ">
        <div class="col-md-8">
          <div class="row justify-content-center justify-content-md-start">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
                <li aria-current="page" class="breadcrumb-item active">Digital Marketing</li>
              </ol>
            </nav>
          </div>
          <div id="heading" class="row justify-content-center justify-content-md-start">
            <h1 class="mb-4 d-none d-md-block">Digital Marketing Training</h1>
            <h2 class=" d-md-none pl-3 pr-3">Digital Marketing Training</h2>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-6">
              <div class="course-information d-flex flex-wrap mt-1 mt-lg-4 mt-lg-0">
                <div class="cell border-left-0 border-top-0">
                  <small>Rating</small> <div class="review">
                    <ul class="rate pl-0">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-half"></i></li>
                    </ul>
                </div>
              </div>
                <div class="cell border-top-0"><small>Duration</small><strong>6 weeks</strong></div>
               
                <div class="cell border-top-0 border-right-0"> <small>Modules</small><strong>14</strong></div>
                <div class="d-none d-md-block cell border-bottom-0 border-left-0">
                  <small>INSTRUCTOR</small><div class="course-instructor">
                    <div class="row">
                      <div class="col-4 d-none d-md-block">
                        <div class="avatar"><img src="/img/amitabh.jpeg" alt="..." class="img-fluid"></div>
                      </div>
                      <div class="col-8">
                        <div class="name"><strong>Amitabh Verma</strong><span>Ex-Google, Founder AMP Digital</span></div>
                      </div>
                    </div>
                 
                </div>

              </div>
              <div class="d-md-none cell border-bottom-0 border-right-0"> <small>Instructor</small><strong>Amitabh Verma <span style="font-weight: lighter; font-size: x-small;">Ex-Google, Founder AMP Digital</span></strong></div>

                <div class="cell border-bottom-0"> <small>Level</small><strong>Introductory</strong></div>
                <div class="cell border-bottom-0 border-right-0"> <small>Enrolled</small><strong>35000 <span style="font-weight: lighter; font-size: x-small;">(Including Partner Enrollments)</span></strong></div>
              </div>
            </div>
          </div>
         
        </div>
        <div class="col-md-4">
          <%if(!user){%>
            <div class="course-price paymentloginform d-none text-left text-lg-right"> 
              <div class="modal-header" style="background-color: #6a4e77;">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title" style="color: white;">Login and Continue!
                </h4>
              </div>
              <div class="modal-body card pb-1" style="background: floralwhite;">
                <form id="paymentform2" action="/paymentlogin" method="POST" role="form">
                  <div class="row">
                        <div class="col-12 col-md-12 mb-2">
                          <input name="email" required type="email" class="form-control emailloginform" placeholder="Email">
                        </div>
                        <div class="col-6 col-md-6 mb-2">
                          <input name="password" required type="password" class="form-control passwordloginform" placeholder="Password">
                        </div>
                        <div class="col-9 col-md-12 mb-2">
                          <input name="couponcodelogin" type="text" class="form-control couponcode2loginform" placeholder="Coupon Code(Optional)">
                        </div>
                      </div>
                    <ul class="list-inline">
                      <li class="list-inline-item row ml-3">
                        <div class="row justify-content-md-start align-items-center">
                          <span style="font-size: x-large;
                          font-weight: bolder;">INR</span><div class="discounted ml-2"><i class="fas fa-rupee-sign"></i> 5000 </div>
                          <span class="ml-3" style="font-size: x-large;
                          font-weight: 500;"><i class="fas fa-rupee-sign"></i>4000</span>
                        </div>
                      </li>
                      <li class="list-inline-item row justify-content-center">
                        <div class="CTAs"><button data-paymentcouponcode="<%=paymentcouponcode%>" data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>" data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" type="submit" data-formtype="login" class="btn btn-primary btn-lg enrollnow">Enroll Now</button><a href="#" class="d-none btn btn-outline-primary">Bookmark</a></div>
                      </li>
                    </ul>
                </form>
              </div>
            </div>
          <div class="course-price paymentsignupform text-left text-lg-right"> 
            <div class="modal-header" style="background-color: #6a4e77;">
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
              <h4 class="modal-title" style="color: white;">Sign Up and Start Learning!
              </h4>
            </div>
            <div class="modal-body card pb-1" style="background: floralwhite;">
              <form id="paymentform" action="/paymentsignup" method="POST" role="form">
                <div class="row">
                      <div class="col-6 col-md-6 mb-2">
                        <input name="name" value="" required type="text" class="form-control namevalue" placeholder="Name">
                      </div>
                      <div class="col-6 col-md-6 mb-2">
                        <input name="lastname" required type="text" class="form-control lastnamevalue" placeholder="Last Name">
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <input name="email" required type="email" class="form-control emailvalue" placeholder="Email">
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <input name="phone" type="text" class="form-control phone2 phonevalue" placeholder="Phone">
                      </div>
                      <div class="col-6 col-md-6 mb-2">
                        <input name="password" required type="password" class="form-control passwordvalue" placeholder="Password">
                      </div>
                      <div class="col-6 col-md-6 mb-2">
                        <input name="repassword" required type="password" class="form-control repasswordvalue" placeholder="Re-Password">
                      </div>
                      <!-- <div class="form-group formField hidden"> -->
                    <!-- </div>  -->
                      <div class="col-9 col-md-12 mb-2">
                        <input name="couponcode" type="text" class="form-control couponcode2" placeholder="Coupon Code(Optional)">
                      </div>
                    </div>
                    <!-- <div class="form-group formField">
                      <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Register">
                    </div> -->
                  <ul class="list-inline">
                    <!-- <li class="list-inline-item">
                      <div class="discounted"><i class="fas fa-rupee-sign"></i> 5000 </div>
                    </li>
                    <li class="list-inline-item">
        
                      <div class="current"> <sup>INR</sup>&nbsp;<i class="fas fa-rupee-sign"></i>4000</div>
                    </li> -->
                    <li class="list-inline-item row ml-3 discountmessage justify-content-end">
                    </li>
                    <li class="list-inline-item row ml-3">
                      
                      <div class="row justify-content-md-start align-items-center">
                        <span style="font-size: x-large;
                        font-weight: bolder;">INR</span><div class="discounted ml-2"><i class="fas fa-rupee-sign"></i> 5000 </div>
                        <span class="ml-3" style="font-size: x-large;
                        font-weight: 500;"><i class="fas fa-rupee-sign"></i><span class="courseprice">4000</span></span>
      
                      </div>
                    </li>
                    <li class="list-inline-item row justify-content-center">
                      <%if(enrolled==true){%>
                        <div class="row align-items-center">
                          <div class="CTAs"><a href="/digital-marketing-course" class="btn btn-primary btn-lg">Go To the Course</button><a href="#" class="d-none btn btn-outline-primary">Bookmark</a></div>
                          <div class="ml-2">Already Enrolled  </div>
                        </div>
                      
                      <%}else{%>
                        <div class="CTAs"><button data-paymentcouponcode="<%=paymentcouponcode%>" data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>" data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" type="submit" data-formtype="signup" class="btn btn-primary btn-lg enrollnow">Enroll Now</button><a href="#" class="d-none btn btn-outline-primary">Bookmark</a></div>
                        <%}%>
                    </li>
                  </ul>
              </form>
            </div>
          </div>
          <%}else{%>

            <div class="course-price text-left text-lg-right"> 
              <div class="modal-header" style="background-color: #6a4e77;">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title" style="color: white;">Sign Up and Start Learning!
                </h4>
              </div>
              <div class="modal-body card pb-1" style="background: floralwhite;">
                <small>
                  <h5 class="text-left">Welcome <%=user.local.name%></h5>
                  <%if(enrolled==false){%>
                  <input name="couponcode" type="text" class="form-control couponcode3" placeholder="Coupon Code(Optional)">
                  <br>
                  <ul class="list-inline text-left">
                    <li class="list-inline-item row ml-3 discountmessage justify-content-end">
                    </li>
                    <li class="list-inline-item row ml-3">
                      
                      <div class="row justify-content-md-start align-items-center">
                        <span style="font-size: x-large;
                        font-weight: bolder;">INR</span><div class="discounted ml-2"><i class="fas fa-rupee-sign"></i> 5000 </div>
                        <span class="ml-3" style="font-size: x-large;
                        font-weight: 500;"><i class="fas fa-rupee-sign"></i><span class="courseprice">4000</span></span>
      
                      </div>
                    </li>
                  </ul>
                  <%}%>
              </small>
                <%if(enrolled==true){%>
                  <div class="row align-items-center justify-content-center">
                    <div class="col-12 mt-2 row justify-content-center">
                      <div class="ml-2">Already Enrolled  </div>
  
                    </div>
                    <div class="col-12 row justify-content-center">
                      <div class="CTAs"><a href="/digital-marketing-course" class="btn btn-primary btn-lg">Go to the Course</button><a href="#" class="d-none btn btn-outline-primary">Bookmark</a></div>
                    </div>
                   
                  </div>                <%}else{%>
                  <div class="CTAs row justify-content-center"><button data-paymentcouponcode="<%=paymentcouponcode%>" data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>" data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" type="submit" data-formtype="loggedin" class="btn btn-primary btn-lg enrollnow mb-3">Enroll Now</button></div>
                <%}%>
              </div>
            </div>
            <%}%>
        </div>
        </div>
      </div>
    </div>
    
    
    
  </div>
</section>
<section class="related-courses bg-gray">
  <div class="container">
    <header>
      <h2><small><!--We are rock stars...--></small>A comprehensive job oriented course for everyone:
      </h2>
    </header>
    <div class="row justify-content-center">
      <div class="col-md-12 text-content"> 
        <!-- <h2>Joe Denver</h2> -->
        <p>The video based self paced Digital Marketing marketing program is meant for beginners. This program will introduce you to the wonderful world of Digital marketing and will help you to grab an internship, a job offer or a freelancing assignment.   </p>
        <p>You will learn how to create a blog, measure traffic through Google Analytics, make your content discoverable through SEO, promote your products through Google search, display, mobile and video platform, as well as learn Social Media marketing on platforms like Facebook, LinkedIN, Twitter etc. You will also learn about driving traffic and sales through inbound and content marketing, and sending emailers through platform like MailChimp. Finally, you will learn about marketing automation and online reputation management. Almost every topic in digital marketing is covered in detail.</p>
      </div>
    </div>
  </div>
</section>
<section class="related-courses">
  <div class="container text-center">
    <header>
      <h2><small><!--We are rock stars...--></small>Through the program, you will work on platforms like:
      </h2>
    </header>
    <div class="container">
      <div class="row  justify-content-between">
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #3b5998">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
          </span> 
          <p>Facebook Ads</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #c4302b">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
          </span> 
          <p>YouTube</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #00acee">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span> 
          <p>Twitter</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #0e76a8">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
          </span> 
          <p>LinkedIn</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #FF0000">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-quora fa-stack-1x fa-inverse"></i>
          </span> 
          <p>Quora</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #FF0000">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
          </span> 
          <p>Pinterest</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #FF5722">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-blogger fa-stack-1x fa-inverse"></i>
          </span> 
          <p>Blogger/Blogspot</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <span class="fa-stack fa-lg" style="font-size: 3rem; color: #ffe01c">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-mailchimp fa-stack-1x fa-inverse"></i>
          </span> 
          <p>MailChimp</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <img style="    width: 6.1rem;" src="https://www.svgrepo.com/show/217133/adwords.svg">

          <p>Google Adwords</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
          <img style="    width: 6.1rem;" src="https://www.flaticon.com/premium-icon/icons/svg/720/720331.svg">
          <p>Google Analytics</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
                      <img style="    width: 6.1rem;" src="https://cdn.worldvectorlogo.com/logos/google-search-console.svg">

          <p>Google Search Console</p>
        </div>
        <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
         
          <!-- <svg style="font-size: 3rem; color: #0e76a8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12.002 0h.023a8.205 8.205 0 0 1 3.766.928a8.166 8.166 0 0 1 3.741-.906h.676V24l-.656-.002A15.743 15.743 0 0 1 8.4 19.373A15.575 15.575 0 0 1 3.791 8.23V.021h.677c1.301 0 2.586.311 3.741.906A8.226 8.226 0 0 1 12.002 0zm0 .654a7.522 7.522 0 0 0-3.791 1.021a7.49 7.49 0 0 0-3.742-1h-.022V8.23c-.025 8.35 6.764 15.09 15.107 15.113V.675h-.022a7.488 7.488 0 0 0-3.743.999a7.508 7.508 0 0 0-3.766-1.02h-.021zm3.252 2.754a3.24 3.24 0 1 1-1.746 5.97l-1.516 1.508l-1.507-1.516a3.239 3.239 0 1 1 1.506-3.019l.016-.02l.015.018a3.24 3.24 0 0 1 3.232-2.941zM8.76 8.789a2.16 2.16 0 0 0 2.072-2.794a1.081 1.081 0 0 1-1.972-.882a1.09 1.09 0 0 1 .548-.547a2.16 2.16 0 1 0-.652 4.223h.004zm6.478.019a2.16 2.16 0 1 0-.627-4.225c.545.244.789.883.547 1.428a1.084 1.084 0 0 1-1.428.545a1.088 1.088 0 0 1-.549-.553a2.162 2.162 0 0 0 2.057 2.805z" fill="#626262"/></svg> -->
          <img style="    width: 6.1rem;" src="https://www.practicepanther.com/wp-content/uploads/2014/11/Automating-Your-Social-Media-Using-Hootsuite-400x400.png">
          <p>Hootsuite</p>
        </div>
      </div>
    </div>
    <!--<div class="signature mx-auto"><img src="img/signature.png" alt="..." class="img-fluid"></div>
    <div class="author"><strong>katya Henry</strong><span>University Grandmaster</span></div>-->
  </div>
</section>
<section class="related-courses bg-gray">
  <div class="container">
    <header>
      <h2><small><!--We are rock stars...--></small>Features of the program</h2>
    </header>
    <div class="course-details-body">
     
      <div class="row text-center justify-content-center">
  <!-- Grid row -->
  <div class="container">
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6">
  
        <!-- Grid row -->
        <div class="row mb-3 align-items-center" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-flag-checkered deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Comprehensive Coverage</h5>
            <p class="grey-text">All the modules required for a digital marketer covered in the program</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3 align-items-center" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-flask deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Projects that simulate real life work</h5>
            <p class="grey-text">Projects like managing blogs, creating google ads campaign etc to simulate actual work </p>
          </div>
          <!-- Grid column -->
  
        </div>
        <div class="row mb-3 align-items-center" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-user deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Developed by ex-Googler</h5>
            <p class="grey-text">All content by ex-Google team.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-md-0 mb-3" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-info-circle deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Career guidance</h5>
            <p class="grey-text mb-md-0">Regular guidance on how to land an internship / job offer / project.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-2 text-center d-none">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png"
          alt="Sample image">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-6">
  
        <!-- Grid row -->
        <div class="row mb-3 align-items-center" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-book-open deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Easy to understand tutorials</h5>
            <p class="grey-text">Easy to follow video tutorials so that every thing is clear</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3 align-items-center" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-shapes deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Practical & hands on training</h5>
            <p class="grey-text">Tutorial will help you create your own marketing campaigns from scratch</p>
          </div>
          <!-- Grid column -->
  
        </div>
       
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-envelope-open-text deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Email Support for queries</h5>
            <p class="grey-text mb-0"> Get doubt clarified through emails. </p>
          </div>
          <!-- Grid column -->
  
        </div>

        <div class="row mb-3 align-items-center" style="height: 7rem!important;">
  
          <!-- Grid column -->
          <div class="col-2 align-self-start">
            <i class="fa fa-2x fa-bolt deep-purple-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Certification from AMP Digital</h5>
            <p class="grey-text">AMP Digital certification to add to your credibility</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Grid column -->
  
    </div>
  </div>
      </div>
    </div>
  </div>
</section>
<section class="related-courses">
  <div class="container">
    <header>
      <h2><small><!--We are rock stars...--></small>Course Content</h2>
    </header>
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div id="accordion">
          <% var i = 0; for(key in digitalmarketingcoursemodules){ %>
          <div class="card">
            <div class="card-header" style="    background: #f9f9f9!important;
            border: solid 1px #e8e9eb!important;" id="heading-<%=i%>">
              <h5 class="mb-0">
                <a class="d-none d-md-block" style="color: #505763;
                font-size: 16px;
                font-weight: 600;" role="button" data-toggle="collapse" href="#collapse-<%=i%>" aria-expanded="<%= i==0? 'true': 'false' %>" aria-controls="collapse-1">
                  <span><%=key%></span> <span style="font-weight: normal; font-size: smaller" class="pull-right mr-4">
                    <%=digitalmarketingcoursemodules[key].filter(function (el) {
                    return el.element_type == 'video'
                  }).length%> Lectures &nbsp;&nbsp; <%=digitalmarketingcoursemodules[key].filter(function (el) {
                    return el.element_type == 'quiz'
                  }).length%> <%=digitalmarketingcoursemodules[key].filter(function (el) {
                    return el.element_type == 'quiz'
                  }).length>1? 'Quizes': 'Quiz'%>  &nbsp;&nbsp;<%=digitalmarketingcoursemodules[key][0]['duration']%></span>
                </a>
                <a class="d-md-none" style="color: #505763;
                font-size: 12px;
                font-weight: 600;" role="button" data-toggle="collapse" href="#collapse-<%=i%>" aria-expanded="<%= i==0? 'true': 'false' %>" aria-controls="collapse-1">
                  <span><%=key%></span> <span style="font-weight: normal; font-size: smaller" class="pull-right mr-4">
                    <%=digitalmarketingcoursemodules[key].filter(function (el) {
                    return el.element_type == 'video'
                  }).length%> Lectures &nbsp;&nbsp; <%=digitalmarketingcoursemodules[key].filter(function (el) {
                    return el.element_type == 'quiz'
                  }).length%> <%=digitalmarketingcoursemodules[key].filter(function (el) {
                    return el.element_type == 'quiz'
                  }).length>1? 'Quizes': 'Quiz'%>  &nbsp;&nbsp;<%=digitalmarketingcoursemodules[key][0]['duration']%></span>
                </a>
              </h5>
            </div>
            <div id="collapse-<%=i%>" class="collapse <%= i==0? 'show': '' %>" data-parent="#accordion" aria-labelledby="heading-<%=i%>">
              <div class="card-body">
        
                <div id="accordion-<%=i%>">
                  <div class="list-group">
                  <% for(var j = 1; j < digitalmarketingcoursemodules[key].length; j++){%>
                      <a style="  color: #007791;  background: #f9f9f9;
                      border: solid 1px #e8e9eb; font-size: 14px;" href="#" class="pl-5 list-group-item list-group-item-action d-none d-md-block">
                      <i class="fa <%=digitalmarketingcoursemodules[key][j]['element_type']=='video'? 'fa-play-circle': 'fa-clipboard-check'%>"></i>&nbsp;
                      <span><%=digitalmarketingcoursemodules[key][j]['element_name']%></span> <span style="font-weight: normal; font-size: smaller" class="pull-right mr-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=digitalmarketingcoursemodules[key][j]['element_duration']%></span>
                    </a>
                    <a style="  color: #007791;  background: #f9f9f9;
                    border: solid 1px #e8e9eb; font-size: 11px;" href="#" class="pl-5 list-group-item list-group-item-action d-md-none">
                    <span><i class="fa <%=digitalmarketingcoursemodules[key][j]['element_type']=='video'? 'fa-play-circle': 'fa-clipboard-check'%>"></i>&nbsp;<%=digitalmarketingcoursemodules[key][j]['element_name']%></span> <span style="font-weight: normal; font-size: smaller" class="pull-right mr-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=digitalmarketingcoursemodules[key][j]['element_duration']%></span>
                  </a>
                  <%}%>
                  </div>
                </div>      
              
              </div>
            </div>
          </div>
          <% i++; }%>
        </div>
      </div>
    </div>
</div>
</section>
<!-- Section: Features v.4 -->
<section class="testimonials testimonials_background related-courses">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
      <header>
        <h2 style="color: white;">Participant Testimonials</h2>
      </header>
      <div class="swiper-container testimonials-slider" style="background: white;">
        <div class="swiper-wrapper">
          <% for(var i = 0; i < testimonials.length; i++){ %>
            <div class="swiper-slide" >
              <div class="testimonial">
                <div class="row">
                  <p class="feedback col-lg-8 mx-auto"><i class="fas fa-quote-left"></i><%=testimonials[i].testimonial%><i class="fas fa-quote-right"></i></p>
                </div>
                <div class="user d-flex align-items-center justify-content-center">
                  <div class="avatar"><img src="<%=testimonials[i].image%>" alt="<%=testimonials[i].name%>" class="img-fluid"></div>
                  <div class="title"><strong class="text-uppercase"><%=testimonials[i].name%></strong><span><%=testimonials[i].designation%></span></div>
                </div>
              </div>
            </div>
            <%}%>
        </div>
        
        <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
        <!-- Add Pagination-->
        <div class="swiper-pagination"></div>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="bg-gray related-courses">
  <div class="container">
    <header>
      <h2><small><!--We are rock stars...--></small>Frequently Asked Questions</h2>
    </header>
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div id="accordion">
          <% for(var i = 0; i<faqdocs.length; i++){ %>
          <div class="card">
            <div class="card-header" id="heading-<%=i%>">
              <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#faq-collapse-<%=i%>" aria-expanded="<%= i==0? 'true': 'false' %>" aria-controls="faq-collapse-1">
                  <%=faqdocs[i]['_id'].category%>
                </a>
              </h5>
            </div>
            <div id="faq-collapse-<%=i%>" class="collapse <%= i==0? 'show': '' %>" data-parent="#accordion" aria-labelledby="faq-heading-<%=i%>">
              <div class="card-body">
        
                <div id="faq-accordion-<%=i%>">
                  <% for(var j = 0; j < faqdocs[i].question.length; j++){%>

                  <div class="card">
                    <div class="card-header" id="faq-heading-<%=i%>-<%=j%>">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#faq-collapse-<%=i%>-<%=j%>" aria-expanded="false" aria-controls="faq-collapse-<%=i%>-<%=j%>">
                          Q. <%=faqdocs[i].question[j]%>
                        </a>
                      </h5>
                    </div>
                    <div id="faq-collapse-<%=i%>-<%=j%>" class="collapse <%= j==0? 'show': '' %>" data-parent="#faq-accordion-1" aria-labelledby="faq-heading-<%=i%>-<%=j%>">
                      <div class="card-body">
                        <p class="mb-0">
                          <%-faqdocs[i].answer[j]%>
                        </p>
                      </div>
                    </div>
                  </div>
                  <%}%>
                </div>      
              
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="CTAs row pl-3"><a id="enquirenow" href="#heading" class="btn btn-primary btn-lg">Enroll Now</a><a href="/contact" class="ml-3 btn btn-success btn-lg">Enquire Now</a></div>
    </div>
</div>
</section>
<!-- footer-->
<%-include partials/footer.ejs%>
<!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/swiper/js/swiper.js"></script>
<script src="/vendor/lity/lity.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.js"></script>
<script src="/js/front.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<!---->
<script type="text/javascript">
    $(document).ready(function(){
//setup before functions
var typingTimer;                //timer identifier
        var doneTypingInterval = 1000;  //time in ms, 5 second for example
        var $input = $('.couponcode2, .couponcode3');

        //on keyup, start the countdown
        $input.on('keyup', function () {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //on keydown, clear the countdown 
        $input.on('keydown', function () {
          clearTimeout(typingTimer);
        });

        //user is "finished typing," do something
        function doneTyping () {
          $.ajax({
              type: "GET",
              url: '/isvalidcoupon?couponcode='+$input.val(),
              success: function(result){
                var price = 4000;
                if(result !== false){
                  if(result.type=="referralcode"){
                    price = price - price*result.offertoenrollment/100;
                  }
                  else if(result.type=="amount"){
                    price = price-result.discount;
                  }
                  else{
                    price = price-price*result.discount/100
                  }
                  $('.courseprice, .courseprice3').html(price);
                  $('.discountmessage').html('<span style="color:green; font-size: small">Coupon applied</span>')
                }
                else{
                  $('.courseprice, .courseprice3').html(4000);
                  $('.discountmessage').html('<span style="color:red; font-size: small">Coupon invalid</span>')
                }
              }
            });
          //do something
        }

      $('.list-group-item').on('click', function(e){
        e.preventDefault();
      })

      function getUrlVars()
      {
          var vars = [], hash;
          var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
          for(var i = 0; i < hashes.length; i++)
          {
              hash = hashes[i].split('=');
              vars.push(hash[0]);
              vars[hash[0]] = hash[1];
          }
          return vars;
      }

      if(typeof getUrlVars()['payment']!=='undefined' && getUrlVars()['payment']=="true"){
        var price = 4000;
        var discount = 0;
        var coupontype = "couponcode";
        var offertoparticipant = 0;
        var participantname = "";
        var email = $('.enrollnow').data('paymentemail');
        var name = $('.enrollnow').data('paymentname');
        var phone = $('.enrollnow').data('paymentphone');
        var couponcode = $('.enrollnow').data('paymentcouponcode');
        if(typeof getUrlVars()['couponcode']!=='undefined' && getUrlVars()['couponcode']!==""){
          couponcode = getUrlVars()['couponcode'];
        }
        couponcodeexists = false;
        if( getUrlVars()['enrolled']=="true"){
          return;
        }
        var puserid = $('.enrollnow').data('paymentuser_id');
        $('.course-details').html('<h2 class="ml-5">Redirecting you to payments page ... <i class="fa fa-spin fa-spinner"></i> </h2>');
        $('.related-courses, footer').remove();
        $.ajax({
              type: "GET",
              url: '/isvalidcoupon?couponcode='+couponcode,
              success: function(result){
                if(result !== false){
                  if(result.type=="referralcode"){
                    coupontype = result.type;
                    discount = price*result.offertoenrollment/100;
                    offertoparticipant = result.offertoparticipant;
                    participantname = result.participantname;
                  }
                  else if(result.type=="amount"){
                    discount = result.discount;
                  }
                  else{
                    discount = price*result.discount/100;
                  }
                  price = price - discount;
                  couponcodeexists=true;
                }
                var user_id = puserid+'_5ba67703bda6d500142e2d15';
                
                if( getUrlVars()['enrolled']!=="true" && email!==''){
                  const data = {
                    purpose: 'Digital Marketing Course',
                    amount: price,
                    buyer_name: name,
                    email: email,
                    coupontype: coupontype,
                    couponcodeapplied: couponcodeexists == true ? "yes" : "no",
                    couponcode: couponcodeexists == true ? couponcode: "",
                    discount: discount,
                    offertoparticipant: offertoparticipant,
                    participant: participantname,
                    phone: phone,
                    user_id: user_id,
                    redirect_url: `${window.location.origin}/callback?user_id=${user_id}`,
                    webhook_url: '/webhook/',
                  };


                  $.ajax({
                      type: "POST",
                      url: '/requestpayment',
                      data: data,
                      success: function(result){
                        console.log(result);
                        if(result == -1){
                          $.confirm({
                              title: 'Invalid Referral Code!',
                              content: ' You cannot use your own referral code.!',
                              buttons: {
                                  somethingElse: {
                                      text: 'Okay take me back to enrollment form',
                                      btnClass: 'btn-blue',
                                      action: function(){
                                        window.location.href = window.location.origin+'/courses/digital-marketing-course';
                                      }
                                  }
                              }
                          });
                        }
                        else if(result == 'Invalid Phone'){
                          setTimeout(function(){
                            window.location.href = window.location.origin+'/courses/digital-marketing-course';
                          }, 2000)
                        }
                        else{
                          // window.location.href = result;
                        }
                      }
                  });
                }
              }
          });
      }
      
      $('.loginbtn').on('click', function(e){
            e.preventDefault();
            $('#paymentCreateAccount').modal('toggle');
            $('#paymentLoginModal').modal('toggle');
          })

      $('.enrollnow').on('click', function(e){
        e.preventDefault();
        var emailvalue = $('.emailvalue').val();
        var passwordvalue = $('.passwordvalue').val();
        var couponcode_el = $('.couponcode2');
        var coursedetails_el =$('.course-details');
        var enrollnow_el = $('.enrollnow');
        var relatedcourses_el = $('.related-courses');
        var paymentform_el = $('#paymentform');
        if($(this).data('formtype')=='loggedin'){
          if($('.couponcode3').val()!==''){
            $.ajax({
              type: "GET",
              url: '/isvalidcoupon?couponcode='+$('.couponcode3').val(),
              success: function(result){
                if(result !== false){
                  window.location.href = window.location.origin+'/courses/digital-marketing-course?payment=true&couponcode='+$('.couponcode3').val();
                }
              }
            });
          }
          else{
            window.location.href = window.location.origin+'/courses/digital-marketing-course?payment=true';
          }
        }
        else if($(this).data('formtype')=='signup'){
          $.ajax({
              type: "GET",
              url: '/userexistsindatabase?email='+emailvalue+"&password="+passwordvalue+"&courseid=5ba67703bda6d500142e2d15",
              success: function(result){
                if(result == false){
                  if($('.namevalue').val()==''){
                    $.alert('Name cannot be empty');
                  }
                  else if($('.lastnamevalue').val()==''){
                    $.alert('Last name cannot be empty');
                  }
                  else if($('.emailvalue').val()==''){
                    $.alert('Email cannot be empty');
                  }
                  else if($('.phonevalue').val()==''){
                    $.alert('Phone cannot be empty');
                  }
                  else if($('.passwordvalue').val()==''){
                    $.alert('Password cannot be empty');
                  }
                  else if($('.repasswordvalue').val()==''){
                    $.alert('Re-password cannot be empty');
                  }
                  else if($('.passwordvalue').val()!==$('.repasswordvalue').val()){
                    $.alert("Passwords don't match. Kindly try again.");
                  }
                  else{
                    paymentform_el.submit();
                  }
                }
                else{
                  if(result==2){
                    $('#emaillogin').val(emailvalue);
                    $('#passwordlogin').val(passwordvalue);
                    $('#couponcodelogin').val(couponcode_el.val());
                    $('.paymentlogin').submit();
                  }
                  else if(result ==1){
                    $('#emaillogin').val(emailvalue);
                    $('#passwordlogin').val(passwordvalue);
                    $('#alreadyenrolled').val("enrolled");
                    $('.paymentlogin').submit();
                  }
                  else if(result ==3){
                    $.alert('You already have an account associated with this email address. Kindly login through it.')
                    $('.paymentsignupform, .paymentloginform').toggleClass('d-none');
                    $('.emailloginform').val($('.emailvalue').val());
                    // $('.passwordloginform').val($('.passwordvalue').val());
                    $('.couponcode2loginform').val($('.couponcode2').val());
                  }
                }
              }
          });
        }
        else{
          if($('.passwordloginform').val()==''){
            $.alert('Kindly fill password');
          }
          else{
            $('#paymentform2').submit();
          }
        }
      })
    });

    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>
