<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- ========== Meta Tags ========== -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="<%=course.course_objective%>">
      <meta name="keywords"
         content="google analytics, blogger, advanced google analytics, google analytics individual qualification">
      <meta name="author" content="AMP Digital">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      <meta property="og:title" content="Digital Marketing Course | AMP Digital" />
      <meta property="og:url" content="https://www.ampdigital.co/courses/digital-marketing-course" />
      <meta property="og:type" content="blog" />
      <meta property="og:description" content="<%=course.course_objective%>" />
      <meta property="og:image" content="https://www.ampdigital.co/gacard.png" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      <!-- ========== Page Title ========== -->
      <title><%=course.course_name%> | AMP Digital</title>
      <!-- ========== Favicon Icon ========== -->
      <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
      <!-- ========== Start Stylesheet ========== -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
      <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
      <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
      <link href="/assets/css/elegant-icons.css" rel="stylesheet" />
      <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
      <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
      <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
      <link href="/assets/css/animate.css" rel="stylesheet" />
      <link href="/assets/css/bootsnav.css" rel="stylesheet" />
      <link href="/style.css" rel="stylesheet">
      <link href="/assets/css/responsive.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
      <style>
         .item{
            width: 100%!important;
         }
         /* .item2 p{
            display: none!important;
         } */
         .info span{
            color: #202F68!important;
         }
         .owl-prev,
         .owl-next {
         background: #0477BF !important
         }
         .enroll {
         position: absolute;
         bottom: 3px;
         margin-bottom: 9px;
         }
         .owl-dots {
         margin-top: 3px !important
         }
         @media only screen and (max-width: 768px) {
         .g-recaptcha {
         transform: scale(0.7);
         transform-origin: 0 0;
         }
         }
         .rating i {
         color: #ffb606;
         font-size: x-small;
         }
         .site-heading h5 {
         display: none !important
         }
         /* .breadcrumb-area {
         background: url('/googleanalytics.png') no-repeat center center !important;
         -webkit-background-size: cover !important;
         -moz-background-size: cover !important;
         -o-background-size: cover !important;
         background-size: cover !important;
         } */
         .fa-2x {
         color: #0477BF !important;
         }
         .search-icon-container {
         position: absolute;
         background-color: rgba(0, 0, 0, .08);
         cursor: pointer;
         right: 0;
         z-index: 10;
         bottom: 0;
         padding: 5px 3px 3px 5px
         }
         .image-container {
         margin-top: 5px;
         margin-bottom: 5px;
         cursor: pointer;
         position: relative
         }
         .form-check-input {
         position: absolute;
         margin-top: -0.4rem;
         margin-left: -1.25rem;
         }
         .src-app-components-Form-__link___1OSjY {
         color: black !important;
         }
         input {
         min-height: 38px !important;
         }
         @media only screen and (max-width: 600px) {
         .navbar-brand>img {
         display: initial;
         width: 5.5rem !important;
         height: auto !important;
         }
         }
         .owl-carousel .owl-stage {
         display: flex;
         }
         .owl-carousel .item {
         text-align: center !important;
         display: block;
         flex: 1 0 auto;
         height: 100%;
         }
         .owl-carousel .item h4 {
         margin-top: 5% !important;
         }
         .owl-carousel .item .title {
         position: relative;
         overflow: hidden;
         /* margin-bottom: 80px; */
         /*This is optional*/
         display: flex;
         flex-direction: column;
         align-items: stretch;
         }
         @media only screen and (min-width: 1367px) {
         .owl-theme .owl-nav.disabled+.owl-dots {
         margin-top: 10px;
         margin-right: calc((100% - 1140px)/ 2);
         }
         }
         .thumb-categories-carousel .owl-stage-outer {
         margin-bottom: 2%;
         }
         .bg-gray{
            background-color: #fff5f6!important
         }
      </style>
      <!-- ========== End Stylesheet ========== -->
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="/assets/js/html5/html5shiv.min.js"></script>
      <script src="/assets/js/html5/respond.min.js"></script>
      <![endif]-->
      <!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
   w[l] = w[l] || []; w[l].push({
       'gtm.start':
           new Date().getTime(), event: 'gtm.js'
   }); var f = d.getElementsByTagName(s)[0],
       j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
           'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
   })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
 <!-- End Google Tag Manager -->
   </head>
   <%
   var today = new Date();
   today.setHours(0,0,0,0);
   var discountvaliddate = new Date(course.course_discount_valid);
   discountvaliddate.setHours(0,0,0,0);
   var course_price = ((1+0.01*parseInt(course.course_tax))*parseInt(course.course_price)).toString()
   course_price = Math.floor(course_price);
   var discounted_price = (course.course_discountactive=="Active" &&  (discountvaliddate == today || discountvaliddate > today)) ? course_price*(100-course.course_discount)*.01 :course_price
   discounted_price = Math.floor(discounted_price);
   var validtill = (course.course_discountactive=="Active" &&  (discountvaliddate == today || discountvaliddate > today)) ? "Till "+moment(course['course_discount_valid']).format( 'DD MMMM') :""
   
   %>
   <body data-course_price="<%=discounted_price%>" data-course_name="<%=course.course_name%>">
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L" height="0" width="0"
   style="display:none;visibility:hidden"></iframe></noscript>
 <!-- End Google Tag Manager (noscript) -->
      <div class="modal" id="myModal">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <!-- Modal body -->
               <div class="modal_body">
                  <img width="100%" src="" class="imgsrc" alt="">
               </div>
            </div>
         </div>
      </div>
      <!-- Preloader Start -->
      <!-- <div class="se-pre-con"></div> -->
      <!-- Preloader Ends -->
      <!-- Header 
         ============================================= -->
      <header id="home">
         <form class="paymentlogin d-none" action="/paymentlogin" method="POST" role="form">
            <div class="form-group formField">
               <input name="email" required="" type="text" class="form-control border-color-1" id="emaillogin"
                  placeholder="Email">
            </div>
            <input type="hidden" value="<%=path%>" name="path">

            <div class="form-group formField">
               <input name="password" required="" type="password" class="form-control border-color-2 forgotpasswordbtn"
                  id="passwordlogin" placeholder="Password">
            </div>
            <div class="form-group formField">
               <input name="alreadyenrolled" value="notenrolled" required="" type="hidden"
                  class="form-control border-color-2 alreadyenrolled" id="alreadyenrolled" placeholder="Password">
            </div>
            <input type="hidden" class="studentcheckbox2" name="studentcheckbox" value="">
            <div class="form-group formField">
               <input name="couponcodelogin" value="notenrolled" required="" type="hidden"
                  class="form-control border-color-2 couponcodelogin" id="couponcodelogin" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="form-group formField">
               <p class="help-block"><a class="forgotpasswordbutton" href="#">Forgot password?</a></p>
            </div>
         </form>
         <!-- Start Navigation -->
         <nav data-discounted_price="<%=course.course_price%>"
            class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
            <div class="container-fluid">
               <!-- Start Header Navigation -->
               <div class="navbar-header row align-items-center ml-3">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                  <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" href="/">
                  <img src="/google_logo (1).jpg" class="logo" alt="Logo">
                  </a>
                  <a class="navbar-brand" href="/">
                  <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
                  </a>
                  <!-- <a href="/" class="navbar-brand">
                     <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                     </a>
                     <a href="/" class="navbar-brand">
                     <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                     </a> -->
               </div>
               <!-- End Header Navigation -->
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="navbar-menu">
                  <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Courses</a>
                        <ul class="dropdown-menu">
                           <!-- <li><a href="index.html">Home Version One</a></li>
                              <li><a href="index-2.html">Home Version Two</a></li>
                              <li><a href="index-3.html">Home Version Three</a></li>
                              <li><a href="index-4.html">Home Version Four</a></li> -->
                           <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>
                           
                           <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
<li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA) Certification Course</a></li>
                        </ul>
                     </li>
                     <li><a href="https://www.newsapp.io">News</a></li>
                     <li><a href="/jobs/home">Jobs</a></li>
                     <li><a href="/webinars">Webinars</a></li>
                     <li><a href="/dashboard">Dashboard</a></li>
                     <li><a href="/blogs">Blogs</a></li>
                     <li><a href="/digital-marketing-community-forums">Forum</a></li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Tools</a>
                        <ul class="dropdown-menu">
                           <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                           <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
                        </ul>
                     </li>
                     
                     <%if(typeof email =='undefined'){%>
                     <li>
                        <a href="/auth">Register</a>
                     </li>
                     <%}else{%>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
                        <ul class="dropdown-menu">
                           <li><a href="/logout">Logout</a></li>
                        </ul>
                     </li>
                     <%}%>
                  </ul>
               </div>
               <!-- /.navbar-collapse -->
            </div>
         </nav>
         <!-- End Navigation -->
      </header>
      <!-- End Header -->
      <!-- Start Breadcrumb 
         ============================================= -->
      <div class="paymentgatewayprocessing h-100 d-none" style="background: #f36a1b">

      </div>
      <div class="towardspaymentgateway breadcrumb-area shadow  text-light bg-cover py-3" style="
         background: #f36a1b;
         ">
         <div class="container">
            <div class="row align-items-center">
               <!-- <div class="col-lg-12">
                  <h5>
                     <span style="background: #0477BF!important" class="badge badge-primary">50% off for
                        students</span>
                  
                  </h5>
                  </div> -->
               <div class="col-lg-8">
                  <div class="row align-items-center justify-content-center justify-content-md-start">
                     <!-- <img src="/galogo.png" class="col-md-2" style="width: 7rem;"> -->
                     <div class="col-md-12 ">
                        <span style="background: #0477BF!important" class="badge badge-primary">50% off for
                        students</span> 
                        <h1>Advanced Google Analytics (GA) Certification Course</h1>
                        <h4 style="font-family: 'Nunito', sans-serif;">
                           <%=course.course_objective%>
                        </h4>
                        <div class="course-details-area pt-md-5 mb-4 mb-md-0">
                           <div class="container-fluid">
                              <div class="row justify-content-md-start justify-content-center">
                                 <div class="info">
                                    <div class="top-info">
                                       <ul>
                                          <li>
                                             <div class="info">
                                                <span>Certification</span>
                                                <h5>GA IQ, AMPDigital</h5>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="info">
                                                <span>Modules</span>
                                                <h5><%=course.course_modules%></h5>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="info">
                                                <span>Duration</span>
                                                <h5><%=course.course_duration%></h5>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="thumb">
                                                <img src="/amitabh.jpg" alt="Thumb">
                                             </div>
                                             <div class="info">
                                                <span>Instructor</span>
                                                <h5>Amitabh Verma,<br> Ex-Google</h5>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="info">
                                                <span>Level</span>
                                                <h5><%=course.course_target_audience%></h5>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- <ul class="breadcrumb">
                     <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                     <li><a href="#">Pages</a></li>
                     <li class="active">Course Details</li>
                     </ul> -->
               </div>
               <div class="col-lg-4 sidebar mb-3 mb-md-0">
                  <!-- Single Item -->
                  <div class="item course-preview">
                     <!-- <div class="thumb">
                        <img src="/digitalmarketingtrainingthumbnail.jpg" alt="Thumb">
                        <a href="https://www.youtube.com/watch?v=MCIFw0UrU0U"
                           class="popup-youtube light video-play-button item-center">
                           <i class="fa fa-play"></i>
                        </a>
                        </div> -->
                     <div class="content">
                        <div class="top d-none">
                           <div class="pricce">
                              <h4 class="mb-0" style="font-weight:900;color: black;">Fill the form to signup</h4>
                              <h5>
                                 <span style="background: #0477BF!important" class="badge badge-primary">50% off for
                                 students</span>
                              </h5>
                           </div>
                           <!-- <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-alt"></i>
                              <span style="color:grey">4.5</span>
                              </div> -->
                        </div>
                        <div class="course-includes">
                           <%if(user){%>
                              <div class="course-price paymentloginform">
                                 <div>
                                   <div class="text-center forgotpasswordinstructionssent d-none">
                                     <i style="font-size: 75px;" class="fa fa-plane color-4"></i>
                                     <h3>
                                       Instructions on resetting your password are on their way!
                                     </h3>
                                     <p>If you don't receive an email soon ensure that the email is valid and that you can receive emails
                                       from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p>
                                   </div>
                                   <form class="d-none forgotpasswordform" action="/forgotpassword" method="POST" role="form">
                                     <div class="form-group formField">
                                       <input name="email" required type="email" class="form-control border-color-1 forgotpasswordemail"
                                         id="forgotpasswordemail" placeholder="Email">
                                     </div>
                                     <!-- <div class="g-recaptcha" data-sitekey="6Lcu9u0ZAAAAAOM6_AebYFXdQMfDHG39bAU9ejaC"></div> -->
                                     <button type="submit" class="btn btn-primary">Forgot Password</button>
                                     <div class="form-group formField">
                                       <p class="help-block">Not What you are looking for?<a class="loginformbutton" href="#" style="color: grey;">Login</a>
                                         instead</p>
                                     </div>
                                   </form>
                                   <%if(enrolled==true){%>
                                    <div class="row justify-content-center">
                                       <h4 style="color: grey;">Already enrolled in course</h4>
                                    </div>
                                    <div class="CTAs"><a href="<%=course.course_access_url%>" data-paymentcouponcode="<%=paymentcouponcode%>"
                                       data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>"
                                       data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" type="submit"
                                       data-formtype="login" class="btn btn-primary btn-lg btn-block mt-0"><i class="fa fa-plane"></i> Start Learning</a><a href="#"
                                       class="d-none btn btn-outline-primary">Bookmark</a></div>
              
                                    <%} %>
                                    <%if(enrolled!==true){%>
                                   <form id="paymentform2" class="paymentformloggedin" action="/paymentlogin" method="POST" role="form">
                                     <div class="row">
                                       <!-- <div class="col-12 col-md-12 mb-2">
                                         <input name="email" required type="email" class="form-control emailloginform" placeholder="Email">
                                       </div> -->
                                       <input type="hidden" value="<%=path%>" name="path">

                                       <!-- <div class="col-6 col-md-6 mb-2">
                                         <input name="password" required type="password" class="form-control passwordloginform"
                                           placeholder="Password">
                                       </div> -->
                                       <div class="col-9 col-md-12 mb-2">
                                         <input name="couponcodelogin" type="text" class="form-control couponcode2loginform"
                                           placeholder="Coupon Code(Optional)">
                                       </div>
                                       <div class="col-12 col-md-12 mb-2 text-left">
                                        <div class="form-check">
                                           <input class="termsandconditionscheckbox form-check-input form-check-input3" type="checkbox" name="termsandconditions"
                                              class="form-check-input form-check-input3" id="exampleCheck1">
                                           <label class="form-check-label" for="exampleCheck1"><span class="sc-checkbox__label"
                                                 style="font-size: x-small; color: grey!important;">I agree to the <a
                                                    class="src-app-components-Form-__link___1OSjY" href="/termsofservice"
                                                    rel="noopener noreferrer" target="_blank">Terms of Service</a> and <a
                                                    class="src-app-components-Form-__link___1OSjY" href="/privacypolicy"
                                                    rel="noopener noreferrer" target="_blank">Privacy Policy</a></span></label>
                                        </div>
                                        <div class="form-check">
                                           <input id="studentcheckbox" type="checkbox" name="studentcheckbox"
                                              class="form-check-input form-check-input3">
                                           <label class="form-check-label" for="studentcheckbox"><span
                                                 class="sc-checkbox__label"
                                                 style="font-size: x-small; color: grey!important;">I confirm that I am a student & eligible for discount</span></label>
                                        </div>
                                     </div>
                                     </div>
                                     <div class="form-group formField">
                                       <p class="help-block"><a class="forgotpasswordbutton" href="#" style="color: grey!important;">Forgot password?</a></p>
                                     </div>
                                     <ul class="list-inline">
                                       <li class="list-inline-item row ml-3 discountmessage justify-content-end d-none">
                                       </li>
                                       <li class="list-inline-item row ml-3">
                                         <div class="row justify-content-md-start align-items-center">
                                           <span style="font-size: x-large;
                                             font-weight: bolder; color: #0477BF">INR</span>
                                             <%if(validtill!==""){%>
                                           <div class="discounted ml-2"><i class="fas fa-rupee-sign"></i> <span class="courseprice" style="color: #0477BF"> <%=course_price%> </span> </div>
                                           <%}%>
                                           <span class="ml-3" style="font-size: x-large;
                                             font-weight: 500;"><i class="fas fa-rupee-sign"></i> <span class="courseprice" style="color: #0477BF"> <%=discounted_price%> </span><span style="font-size: small; color: red;"><%=validtill%></span></span>
                                         </div>
                                       </li>
                                       <li>
                                          <%if(enrolled==true){%>
                                             <div class="CTAs"><button disabled data-paymentcouponcode="<%=paymentcouponcode%>"
                                                data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>"
                                                data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" type="submit"
                                                data-formtype="login" class="btn btn-primary btn-lg btn-block enrollnow">Already Enrolled, Start Learning</button><a href="#"
                                                class="d-none btn btn-outline-primary">Bookmark</a></div>
                       
                                             <%} else{%>
                                         <div class="CTAs"><button data-paymentcouponcode="<%=paymentcouponcode%>"
                                             data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>"
                                             data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" type="submit"
                                             data-formtype="login" class="btn btn-primary btn-lg btn-block enrollnow enrollnowloggedin">Enroll Now</button><a href="#"
                                             class="d-none btn btn-outline-primary">Bookmark</a></div>
                                             <%}%>
                                       </li>
                                     </ul>
                                   </form>
                                   <%}%>
                                 </div>
                               </div> 
                           <% } else{%>
                              <div class="course-price paymentloginform d-none">
                              <div>
                                <div class="text-center forgotpasswordinstructionssent d-none">
                                  <i style="font-size: 75px;" class="fa fa-plane color-4"></i>
                                  <h3>
                                    Instructions on resetting your password are on their way!
                                  </h3>
                                  <p>If you don't receive an email soon ensure that the email is valid and that you can receive emails
                                    from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p>
                                </div>
                                <form class="d-none forgotpasswordform" action="/forgotpassword" method="POST" role="form">
                                  <div class="form-group formField">
                                    <input name="email" required type="email" class="form-control border-color-1 forgotpasswordemail"
                                      id="forgotpasswordemail" placeholder="Email">
                                  </div>
                                  <!-- <div class="g-recaptcha" data-sitekey="6Lcu9u0ZAAAAAOM6_AebYFXdQMfDHG39bAU9ejaC"></div> -->
                                  <button type="submit" class="btn btn-primary">Forgot Password</button>
                                  <div class="form-group formField">
                                    <p class="help-block">Not What you are looking for?<a class="loginformbutton" href="#" style="color: grey;">Login</a>
                                      instead</p>
                                  </div>
                                </form>
                                <form id="paymentform2" action="/paymentlogin" method="POST" role="form">
                                  <div class="row">
                                    <div class="col-12 col-md-12 mb-2">
                                      <input name="email" required type="email" class="form-control emailloginform" placeholder="Email">
                                    </div>
                                    <div class="col-6 col-md-6 mb-2">
                                      <input name="password" required type="password" class="form-control passwordloginform"
                                        placeholder="Password">
                                    </div>
                                    <input type="hidden" value="<%=path%>" name="path">
                                    <div class="col-9 col-md-12 mb-2">
                                      <input name="couponcodelogin" type="text" class="form-control couponcode2loginform"
                                        placeholder="Coupon Code(Optional)">
                                    </div>
                                    <div class="col-12 col-md-12 mb-2 text-left">
                                     <div class="form-check">
                                        <input class="termsandconditionscheckbox form-check-input form-check-input3" type="checkbox" name="termsandconditions"
                                           class="form-check-input form-check-input3" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"><span class="sc-checkbox__label"
                                              style="font-size: x-small; color: grey!important;">I agree to the <a
                                                 class="src-app-components-Form-__link___1OSjY" href="/termsofservice"
                                                 rel="noopener noreferrer" target="_blank">Terms of Service</a> and <a
                                                 class="src-app-components-Form-__link___1OSjY" href="/privacypolicy"
                                                 rel="noopener noreferrer" target="_blank">Privacy Policy</a></span></label>
                                     </div>
                                     <div class="form-check">
                                        <input id="studentcheckbox" type="checkbox" name="studentcheckbox"
                                           class="form-check-input form-check-input3">
                                        <label class="form-check-label" for="studentcheckbox"><span
                                              class="sc-checkbox__label"
                                              style="font-size: x-small; color: grey!important;">I confirm that I am a student & eligible for discount</span></label>
                                     </div>
                                  </div>
                                  </div>
                                  <div class="form-group formField">
                                    <p class="help-block" style="color: grey!important;"><a class="forgotpasswordbutton" href="#">Forgot password?</a></p>
                                  </div>
                                  <ul class="list-inline">
                                    <li class="list-inline-item row ml-3">
                                      <div class="row justify-content-md-start align-items-center">
                                        <span style="font-size: x-large;
                                          font-weight: bolder; color: #0477BF">INR</span>
                                          <%if(validtill!==""){%>
                                        <div class="discounted ml-2"><i class="fas fa-rupee-sign"></i> <span class="courseprice" style="color: #0477BF"> <%=course_price%> </span> </div>
                                        <%}%>
                                        <span class="ml-3" style="font-size: x-large;
                                          font-weight: 500;"><i class="fas fa-rupee-sign"></i> <span class="courseprice" style="color: #0477BF"> <%=discounted_price%> </span><span style="font-size: small; color: red;"><%=validtill%></span></span>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="CTAs"><button data-paymentcouponcode="<%=paymentcouponcode%>"
                                          data-paymentemail="<%=paymentemail%>" data-paymentname="<%=paymentname%>"
                                          data-paymentphone="<%=paymentphone%>" data-paymentuser_id="<%=paymentuser_id%>" type="submit"
                                          data-formtype="notloggedinaccountexists" class="btn btn-primary btn-lg btn-block enrollnow">Enroll Now</button><a href="#"
                                          class="d-none btn btn-outline-primary">Bookmark</a></div>
                                    </li>
                                  </ul>
                                </form>
                              </div>
                            </div>
                              <div class="course-price paymentsignupform">
                                 <form id="paymentform" action="/paymentsignup" method="POST" role="form">
                                    <div class="row">
                                       <div class="col-6 col-md-6 mb-2">
                                          <input name="name" value="" required="" type="text" class="form-control namevalue"
                                             placeholder="First Name">
                                       </div>
                                       <div class="col-6 col-md-6 mb-2">
                                          <input name="lastname" required="" type="text" class="form-control lastnamevalue"
                                             placeholder="Last Name">
                                       </div>
                                       <input type="hidden" value="<%=path%>" name="path">
                                       <div class="col-12 col-md-12 mb-2">
                                          <input name="email" required="" type="email" class="form-control emailvalue"
                                             placeholder="Email">
                                       </div>
                                       <div class="col-3 col-md-4 mb-2">
                                          <input name="countrycode" readonly="" type="text" class="form-control countrycode"
                                             value="+91" placeholder="Country Code">
                                       </div>
                                       <div class="col-9 col-md-8 mb-2">
                                          <input id="phonenumber" name="phone" type="text" class="form-control phone2 phonevalue"
                                             placeholder="9999999999">
                                       </div>
                                       <div class="col-6 col-md-6 mb-2">
                                          <input name="password" required="" type="password" class="form-control passwordvalue"
                                             placeholder="Password">
                                       </div>
                                       <div class="col-6 col-md-6 mb-2">
                                          <input name="repassword" required="" type="password"
                                             class="form-control repasswordvalue px-sm-0" placeholder="Re-Password">
                                       </div>
                                       <!-- <div class="form-group formField hidden"> -->
                                       <!-- </div>  -->
                                       <div class="col-9 col-md-12 mb-2">
                                          <input name="couponcode" type="text" class="form-control couponcode2"
                                             placeholder="Coupon Code(Optional)">
                                       </div>
                                       <div class="col-12 col-md-12 mb-2 text-left">
                                          <div class="form-check">
                                             <input class="termsandconditionscheckbox form-check-input form-check-input3" type="checkbox" name="termsandconditions"
                                                class="form-check-input form-check-input3" id="exampleCheck1">
                                             <label class="form-check-label" for="exampleCheck1"><span class="sc-checkbox__label"
                                                   style="font-size: x-small; color: grey!important;">I agree to the <a
                                                      class="src-app-components-Form-__link___1OSjY" href="/termsofservice"
                                                      rel="noopener noreferrer" target="_blank">Terms of Service</a> and <a
                                                      class="src-app-components-Form-__link___1OSjY" href="/privacypolicy"
                                                      rel="noopener noreferrer" target="_blank">Privacy Policy</a></span></label>
                                          </div>
                                          <div class="form-check">
                                             <input id="studentcheckbox" type="checkbox" name="studentcheckbox"
                                                class="form-check-input form-check-input3">
                                             <label class="form-check-label" for="studentcheckbox"><span
                                                   class="sc-checkbox__label"
                                                   style="font-size: x-small; color: grey!important;">I confirm that I am a student & eligible for discount</span></label>
                                          </div>
                                          <!-- <div class="g-recaptcha" data-sitekey="6Lcu9u0ZAAAAAOM6_AebYFXdQMfDHG39bAU9ejaC"></div> -->
                            
                                       </div>
                                    </div>
                                    <ul class="list-inline">
                                       <li class="list-inline-item row ml-3 discountmessage justify-content-end">
                                       </li>
                                       <li class="list-inline-item row ml-3">
         
                                          <!-- <div class="row justify-content-md-start align-items-center">
                                             <span style="font-size: x-large;
                                               font-weight: bolder; color: #0477BF">INR</span>
         
                                             <span class="ml-3" style="font-size: x-large;
                                               font-weight: 500;"><i class="fas fa-rupee-sign"></i><span class="courseprice2"
                                                   style="color: #0477BF!important;"><span class="courseprice">4000</span><span
                                                      style="font-size: small; color: red;"></span></span></span>
         
                                          </div> -->
                                          <div class="row justify-content-md-start align-items-center">
                                             <span style="font-size: x-large;
                                             font-weight: bolder; color: #0477BF!important;">INR</span>
                                             <%if(validtill!==""){%>
                                               <div class="discounted ml-2"><i class="fas fa-rupee-sign"></i> <span class="courseprice" style="color: #0477BF!important;"> <%=course_price%> </span> </div>
                                               <%}%>
                                             <span class="ml-3" style="font-size: x-large;
                                             font-weight: 500;"><i class="fas fa-rupee-sign"></i><span
                                                 class="courseprice" style="color: #0477BF!important;"><%=discounted_price%><span style="font-size: small; color: red;"><%=validtill%></span></span></span>
                     
                                           </div>
                                       </li>
                                       <li class="">
         
                                          <div class="CTAs"><button data-paymentcouponcode="" data-paymentemail=""
                                                data-paymentname="" data-paymentphone="" data-paymentuser_id="" type="submit"
                                                data-formtype="signup" class="btn btn-theme effect btn-block enrollnow">Sign Up</button><a href="#" class="d-none btn btn-outline-primary">Bookmark</a></div>
         
                                       </li>
                                    </ul>
                                 </form>
                            </div>
                            <%}%>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Breadcrumb -->
      <!-- Start Course Details 
         ============================================= -->
      <div class="towardspaymentgateway course-details-area item2">
         <div class="categories-area carousel-shadow thumb-cats default-padding py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="site-heading text-center">
                        <h5>Features of the Program</h5>
                        <h2>Course Features</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="default-design relative bottom-less text-center">
                  <div class="container">
                     <div class="item-box">
                        <div class="row">
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-user"></i>
                                    <h4>Ex-Google faculty (Top 100 Marketers in India)</h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-graduation-cap"></i>
                                    <h4>Earn Google Analytics certification</h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-info-circle"></i>
                                    <h4>Career guidance & Placement assistance</h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-book"></i>
                                    <h4>Projects & Assignments to reinforce learning
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-list-alt"></i>
                                    <h4>Mock tests for Certification preparation </h4>
                                                                   </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-list-ol"></i>
                                    <h4>14 topics to be covered
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-file-text-o"></i>
                                    <h4>Reinforce learning through Practice Quizzes
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-info"></i>
                                    <h4>Doubt clarification through Community Forum</h4>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="categories-area bg-gray carousel-shadow thumb-cats default-padding py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="site-heading text-center">
                        <h5>Features of the Program</h5>
                        <h2>A Beginner to Advanced level course where you will learn the following
                        </h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="default-design relative bottom-less text-center">
                  <div class="container">
                     <div class="item-box">
                        <div class="row">
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-rss"></i>
                                    <h4>Implementing Blogger platform to create your own personal blog
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-wordpress"></i>
                                    <h4>Understanding of multiple blogging platforms like Wordpress, Medium
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-bar-chart"></i>
                                    <h4>Implementing Google Analytics for tracking blogs and websites
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-leanpub"></i>
                                    <h4>Understanding key metrics, dimensions and standard reports
                                    </h4>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="default-design relative bottom-less text-center">
                  <div class="container">
                     <div class="item-box">
                        <div class="row">
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-database"></i>
                                    <h4>Data collection and processing techniques using Google Measurement Protocol
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-filter"></i>
                                    <h4>Advance filters, Custom dimensions / metrics and Event tracking
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-pie-chart"></i>
                                    <h4>Advance Analysis tools like Segmentation, channel reports, custom reports
                                    </h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-bullhorn"></i>
                                    <h4>Advance Marketing tools like Remarketing, Dynamic Remarketing</h4>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="course-details-area">
            <div class="d-none blog-area  default-padding bottom-less py-5">
               <div class="container d-none">
                  <div class="row align-items-center">
                     <div class="col-lg-4 sidebar mb-5 mb-md-0 mt-3 mt-md-0">
                        <!-- Single Item -->
                        <div class="item course-preview">
                           <div class="thumb">
                              <img src="/digitalmarketingthumbnail3.jpg" alt="Thumb">
                              <a href="https://www.youtube.com/watch?v=MCIFw0UrU0U"
                                 class="popup-youtube light video-play-button item-center">
                              <i class="fa fa-play"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="blog-area default-padding bottom-less py-5">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="site-heading text-center">
                           <!-- <h5>Through the program, you will work on platforms like: </h5> -->
                           <h2>Course Overview Video
                           </h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="row align-items-center justify-content-center">
                     <div class="col-lg-8 sidebar mb-5 mb-md-0 mt-3 mt-md-0">
                        <!-- Single Item -->
                        <div class="item course-preview">
                           <div class="thumb">
                              <img src="/gathumbnail.jpg" alt="Thumb">
                              <a href="https://www.youtube.com/watch?v=mpCZGLpW_xA"
                                 class="popup-youtube light video-play-button item-center">
                              <i class="fa fa-play"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="blog-area bg-gray default-padding bottom-less py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="site-heading text-center">
                        <!-- <h5>Through the program, you will work on platforms like: </h5> -->
                        <h2>Through the program, you will work on platforms like:
                        </h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row  justify-content-center">
                  <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
                     <img style="    width: 6.1rem;" src="/blogger.png">
                     <p>Blogger</p>
                  </div>
                  <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
                     <img style="    width: 6.1rem;" src="/googleanalyticslogo.jpg">
                     <p>Google Analytics</p>
                  </div>
                  <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
                     <span class="fa-stack fa-lg" style="font-size: 3rem; color: #2A759B">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
                     </span>
                     <p>Wordpress</p>
                  </div>
                  <div class="col-md-2 col-6 text-center" style="    font-size: 0.9rem;">
                     <span class="fa-stack fa-lg" style="font-size: 3rem; color: black;">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                     </span>
                     <p>Medium</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="categories-area carousel-shadow thumb-cats default-padding py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="site-heading text-center">
                        <h2>How to earn certificates </h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-less text-center">
               <div class="container">
                  <div class="item-box">
                     <div class="row">
                        <div class="col-lg-4 col-md-6 single-item d-flex align-items-stretch">
                           <div class="item">
                              <i class="fa fa-tablet"></i>
                              <h4>1. Enroll</h4>
                              <p>
                                 First enroll into this course by signing up 
                              </p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6 single-item d-flex align-items-stretch">
                           <div class="item">
                              <i class="fa fa-google"></i>
                              <h4>2. Take the certification exam
                              </h4>
                              <p>
                                 Watch course videos carefully, practice questions through quizzes / modules tests and
                                 then take
                                 the certification exam online on the Google's Skillshare portal. Pass the exam by
                                 scoring the requisite marks in the Google test. 
                              </p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6 single-item d-flex align-items-stretch">
                           <div class="item">
                              <i class="fa fa-graduation-cap"></i>
                              <h4>3. Earn your Certificate
                              </h4>
                              <p>
                                 Download or print to share
                                 your certificate with others or
                                 show on your LinkedIn profile / Resume 
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="blog-area bg-gray default-padding bottom-less py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="site-heading text-center">
                        <h5>You will need to take the certification exam with Google to get the certificates below:
                        </h5>
                        <h2>Industry Recognized Course Certification</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row justify-content-center align-items-center">
                  <div class="col-12 col-lg-4">
                     <div class="image-container" data-img="/googleanalyticscertification.png">
                        <img width="100%" src="/googleanalyticscertification.png" class="image">
                        <div class="search-icon-container"><img width="100%" class="search-icon"
                           src="https://trainings.internshala.com/static/images/icons/search_plus.svg"
                           alt="search_plus"></div>
                     </div>
                  </div>
                  <div class="col-12 col-lg-7">
                     <div class="image-container" data-img="/ampdigitalcertificate.png">
                        <img width="100%" src="/ampdigitalcertificate.png" class="image">
                        <div class="search-icon-container"><img width="100%" class="search-icon"
                           src="https://trainings.internshala.com/static/images/icons/search_plus.svg"
                           alt="search_plus"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="categories-area carousel-shadow thumb-cats default-padding py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="site-heading text-center">
                        <h5>Features of the Program</h5>
                        <h2>Course Features</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="default-design relative bottom-less text-center">
                  <div class="container">
                     <div class="item-box">
                        <div class="row">
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-list-alt"></i>
                                    <h4>Comprehensive Coverage </h4>
                                    <p>
                                       All the modules required for a digital marketer covered in the program
                                    </p>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-book-open"></i>
                                    <h4>Easy to understand tutorials
                                    </h4>
                                    <p>
                                       Easy to follow video tutorials so that every thing is clear
                                    </p>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-swatchbook"></i>
                                    <h4>Projects that simulate real life work
                                    </h4>
                                    <p>
                                       Projects like managing blogs, creating google ads campaign etc to simulate actual
                                       work
                                    </p>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-book"></i>
                                    <h4>Practical & hands on training
                                    </h4>
                                    <p>
                                       Tutorial will help you create your own marketing campaigns from scratch
                                    </p>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="default-design relative bottom-less text-center">
                  <div class="container">
                     <div class="item-box">
                        <div class="row">
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-user"></i>
                                    <h4>Developed by ex-Googler</h4>
                                    <p>All content by ex-Google team.</p>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Email Support for queries</h4>
                                    <p>
                                       Get doubt clarified through emails.
                                    </p>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-info-circle"></i>
                                    <h4>Career guidance</h4>
                                    <p>Regular guidance on how to land an internship / job offer / project.</p>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
                              <div class="item">
                                 <a href="#">
                                    <i class="fa fa-medal"></i>
                                    <h4>Certification from AMP Digital</h4>
                                    <p>AMP Digital certification to add to your credibility</p>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            </div> -->
         <div class="blog-area default-padding bottom-less py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="site-heading text-center">
                        <h5>Course Content</h5>
                        <h2>Topics you will learn</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-lg-8 accordiondata">
                     <div class="row justify-content-center align-items-center">
                        Loading Please wait &nbsp; &nbsp; <i class="fa fa-spinner fa-spin"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="towardspaymentgateway categories-area bg-gray carousel-shadow thumb-cats py-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="site-heading text-center">
                     <h5>What projects will you build? </h5>
                     <h2>Course Projects</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-4 text-center">
                  <div class="category-items">
                     <div class="item">
                        <div class="title">
                           <!-- <img style="width: 50px;" src="/blog.jpg" alt=""> -->
                           <h4 class="text-center w-100"><a href="#">Create your own blog
                              </a></h4>
                           <!-- <p>Set up your own blog and link it with Google Analytics to track the number of visitors on it.
      
                              </p> -->
                        </div>
                        <div class="thumb">
                           <p>
                              Set up your own blog and link it with Google Analytics to track the number of
                              visitors on it.
      
      
                           </p>
                           <!-- <span>58 Courses</span> -->
                           <!-- <img src="/assets/img/800x600.png" alt="Thumb"> -->
                        </div>
                     </div>
                  </div>
               
               </div>
            </div>
            </div>
      </div>
      <div class="towardspaymentgateway testimonials-area carousel-shadow default-padding py-5">
      <div class="towardspaymentgateway container">
      <div class="row">
      <div class="col-lg-12">
      <div class="site-heading text-center">
      <h5>Testimonials</h5>
      <h2>What People say about <br> Our Training Program</h2>
      </div>
      </div>
      </div>
      </div>
      <div class="towardspaymentgateway container">
      <div class="towardspaymentgateway testimonial-items text-center">
      <div class="row">
      <div class="col-lg-12">
      <div class="testimonials-carousel owl-carousel owl-theme">
      <% let h = 1; for(const testimonial of testimonials) { %>
      <div class="item">
      <div class="icon">
      <i class="flaticon-quotation"></i>
      </div>
      <div class="content">
      <p>
      <%=testimonial.testimonial%>
      </p>
      <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i
         class="fas     <%= (h++)%2 == 0 ? 'fa-star-half-alt' : 'fa-star'  %>"></i>
      </div>
      </div>
      <div class="provider">
      <div class="thumb">
      <img src="<%=testimonial.image%>" alt="Thumb">
      </div>
      <div class="info">
      <h5><%=testimonial.name%></h5>
      <span><%=testimonial.designation%></span>
      </div>
      </div>
      </div>
      <% } %>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="towardspaymentgateway testimonials-area bg-gray carousel-shadow default-padding py-5">
      <div class="container">
      <div class="row">
      <div class="col-lg-12">
      <div class="site-heading text-center">
      <h5>Amitabh Verma</h5>
      <h2>Lead Instructor</h2>
      </div>
      </div>
      </div>
      </div>
      <div class="advisor-details-area">
      <div class="container">
      <div class="row">
      <div class="col-lg-3 basic-info">
      <img src="/amitabh.jpg" alt="Advisor">
      <div class="contact">
      <ul>
      <!-- <li>
         <i class="fa fa-phone"></i>
         <span>+919971060035</span>
         </li> -->
      <li>
      <i class="fa fa-envelope"></i>
      <span>amitabh@ads4growth.com</span>
      </li>
      </ul>
      </div>
      <div class="social">
      <ul>
      <!-- <li class="facebook">
         <a href="https://www.facebook.com/amitabh.verma">
             <i class="fab fa-facebook-f"></i>
         </a>
         </li>
         <li class="twitter">
         <a href="https://twitter.com/amitabh26">
             <i class="fab fa-twitter"></i>
         </a>
         </li> -->
      <li class="linkedin">
      <a href="https://in.linkedin.com/in/amitabhverma">
      <i class="fab fa-linkedin-in"></i>
      </a>
      </li>
      </ul>
      </div>
      </div>
      <div class="col-lg-9 info">
      <h2>Amitabh Verma</h2>
      <span>Ex-Googler</span>
      <p>
      After having worked at Google for over 7 years as the Global SMB
      Advertiser
      Services Leader, Amitabh was rated amongst top 100 digital marketers by
      Paul
      Writer and Pluralsight survey. Amitabh has worked with companies like
      HP, LG,
      Sr Reddy's Lab, Havas Digital and many other large and small businesses
      to
      create and manage their Digital Marketing strategies. Amitabh brings his
      years
      of experience into the content developed for the training programs and
      ensures
      that all program participants benefit from this and deploy them in their
      own
      careers. Amitabh and his team of trainers also help the participants
      with
      their career development to ensure that everyone charts out a clear path
      for
      themselves that leads them to a successful career. Amitabh is also
      passionate
      about Personal Branding and ensures every participant is putting in the
      effort
      required to create an everlasting brand for themselves.
      </p>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="towardspaymentgateway blog-area default-padding bottom-less py-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="site-heading text-center">
                     <h5>Frequently asked questions and answers</h5>
                     <h2>FAQs</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="faq-area">
            <div class="container">
               <div class="faq-items">
                  <div class="row align-center">
                     <div class="col-lg-10 offset-lg-1">
                        <div class="faq-content wow fadeInUp">
                           <div class="accordion accordionfaq" id="accordionExample">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="towardspaymentgateway courses-area bg-gray trend-layout py-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="site-heading text-center">
                     <h2>Related Courses</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="courses-items">
               <div class="row">
                  <!-- Single item -->
                  <%for(let i = 0; i< courses.length; i++){
                     let course = courses[i];
                     let today = new Date();
                     today.setHours(0,0,0,0);
                     let discountvaliddate = new Date(course.course_discount_valid);
                     discountvaliddate.setHours(0,0,0,0);
                     let course_price = ((1+0.01*parseInt(course.course_tax))*parseInt(course.course_price)).toString()
                     course_price = Math.floor(course_price);
                     let discounted_price = (course.course_discountactive=="Active" &&  (discountvaliddate == today || discountvaliddate > today)) ? course_price*(100-course.course_discount)*.01 :course_price
                     discounted_price = Math.floor(discounted_price); 
                     let validtill = (course.course_discountactive=="Active" &&  (discountvaliddate == today || discountvaliddate > today)) ? "(till "+moment(course['course_discount_valid']).format( 'DD MMMM') + ")" :"";
                     
                     %> 
                  <div class="single-item col-lg-4 col-md-6 d-flex align-items-stretch">
                     <div class="item" style="border-radius: 14px!important;">
                        <div class="thumb">
                           <a href="/courses/<%=courses[i]['course_url']%>">
                           <img src="<%=courses[i]['course_image']%>" alt="Thumb">
                           </a>
                        </div>
                        <div class="info">
                           <div class="top-info">
                              <!-- <div class="rating">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star-half-alt"></i>
                                 <span>4.5 (34000)</span>
                              </div> -->
                              <div class="price">
                                 <i style="color: #0477BF;" class="fa fa-rupee-sign"></i>
                                 <%=discounted_price%>
                              </div>
                           </div>
                           <div class="meta">
                              <ul>
                                 <li>
                                    <img src="/amitabh.jpg" alt="Advisor">
                                    by<a href="#">Amitabh Verma</a>
                                 </li>
                              </ul>
                           </div>
                           <h4>
                              <a
                                 href="/courses/<%=courses[i]['course_url']%>"><%=courses[i]['course_name']%></a>
                           </h4>
                           <!-- <p>
                              <%=course.course_objective%>
                              </p> -->
                           <div class="bottom-info">
                              <!-- <div class="course-info">
                                 <ul>
                                     <li><i class="fa fa-clock"></i> 08:27:00</li>
                                     <li><i class="fa fa-list-ul"></i> 65</li>
                                     <li><i class="fa fa-user"></i> 6K</li>
                                 </ul>
                                 </div> -->
                              <div class="enroll">
                                 <a class="btn btn-theme effect btn-sm"
                                    href="/courses/<%=courses[i]['course_url']%>">Know More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% } %>
               </div>
            </div>
         </div>
      </div>
      </div>
      <footer class="bg-dark text-light">
         <div class="container">
            <div class="f-items default-padding">
               <div class="row">
                  <div class="col-lg-3 col-md-6 item">
                     <div class="f-item about">
                        <img src="/ampdigitalwhitelogo.png" alt="Logo">
                        <p>
                           AMP Digital runs and operates Ads4Growth.com which provides digital
                           marketing
                           services and training.
                        </p>
                        <div class="row mt-4 mb-4 ml-0">
                           <div style="display:flex;flex-wrap:wrap">
                              <a href="https://www.facebook.com/AMPDigitalco/" target="_blank" rel="noopener noreferrer" style="text-decoration:none;border:0;width:30px;height:30px;padding:2px;margin:5px;border-radius:15%;background-color: #4267B2;"><svg class="niftybutton-facebook" style="display:block;fill:white" data-tag="fac" data-name="Facebook" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                 <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path>
             </svg></a><a href="https://twitter.com/ampdigitalco" target="_blank" rel="noopener noreferrer" style="text-decoration:none;border:0;width:30px;height:30px;padding:2px;margin:5px;border-radius:15%;background-color:#1DA1F2;"><svg class="niftybutton-twitter" style="display:block;fill:white" data-tag="twi" data-name="Twitter" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                 <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
             </svg></a><a href="https://www.instagram.com/ampdigital.co/" target="_blank" rel="noopener noreferrer" style="text-decoration:none;border:0;width:30px;height:30px;padding:2px;margin:5px;border-radius:15%;background: #f09433; 
             background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
             background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
             background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );"><svg class="niftybutton-instagram" style="display:block;fill:white" data-tag="ins" data-name="Instagram" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                 <path d="M256 109.3c47.8 0 53.4 0.2 72.3 1 17.4 0.8 26.9 3.7 33.2 6.2 8.4 3.2 14.3 7.1 20.6 13.4 6.3 6.3 10.1 12.2 13.4 20.6 2.5 6.3 5.4 15.8 6.2 33.2 0.9 18.9 1 24.5 1 72.3s-0.2 53.4-1 72.3c-0.8 17.4-3.7 26.9-6.2 33.2 -3.2 8.4-7.1 14.3-13.4 20.6 -6.3 6.3-12.2 10.1-20.6 13.4 -6.3 2.5-15.8 5.4-33.2 6.2 -18.9 0.9-24.5 1-72.3 1s-53.4-0.2-72.3-1c-17.4-0.8-26.9-3.7-33.2-6.2 -8.4-3.2-14.3-7.1-20.6-13.4 -6.3-6.3-10.1-12.2-13.4-20.6 -2.5-6.3-5.4-15.8-6.2-33.2 -0.9-18.9-1-24.5-1-72.3s0.2-53.4 1-72.3c0.8-17.4 3.7-26.9 6.2-33.2 3.2-8.4 7.1-14.3 13.4-20.6 6.3-6.3 12.2-10.1 20.6-13.4 6.3-2.5 15.8-5.4 33.2-6.2C202.6 109.5 208.2 109.3 256 109.3M256 77.1c-48.6 0-54.7 0.2-73.8 1.1 -19 0.9-32.1 3.9-43.4 8.3 -11.8 4.6-21.7 10.7-31.7 20.6 -9.9 9.9-16.1 19.9-20.6 31.7 -4.4 11.4-7.4 24.4-8.3 43.4 -0.9 19.1-1.1 25.2-1.1 73.8 0 48.6 0.2 54.7 1.1 73.8 0.9 19 3.9 32.1 8.3 43.4 4.6 11.8 10.7 21.7 20.6 31.7 9.9 9.9 19.9 16.1 31.7 20.6 11.4 4.4 24.4 7.4 43.4 8.3 19.1 0.9 25.2 1.1 73.8 1.1s54.7-0.2 73.8-1.1c19-0.9 32.1-3.9 43.4-8.3 11.8-4.6 21.7-10.7 31.7-20.6 9.9-9.9 16.1-19.9 20.6-31.7 4.4-11.4 7.4-24.4 8.3-43.4 0.9-19.1 1.1-25.2 1.1-73.8s-0.2-54.7-1.1-73.8c-0.9-19-3.9-32.1-8.3-43.4 -4.6-11.8-10.7-21.7-20.6-31.7 -9.9-9.9-19.9-16.1-31.7-20.6 -11.4-4.4-24.4-7.4-43.4-8.3C310.7 77.3 304.6 77.1 256 77.1L256 77.1z"></path>
                 <path d="M256 164.1c-50.7 0-91.9 41.1-91.9 91.9s41.1 91.9 91.9 91.9 91.9-41.1 91.9-91.9S306.7 164.1 256 164.1zM256 315.6c-32.9 0-59.6-26.7-59.6-59.6s26.7-59.6 59.6-59.6 59.6 26.7 59.6 59.6S288.9 315.6 256 315.6z"></path>
                 <circle cx="351.5" cy="160.5" r="21.5"></circle>
             </svg></a><a href="https://www.linkedin.com/in/amitabhverma" target="_blank" rel="noopener noreferrer" style="text-decoration:none;border:0;width:30px;height:30px;padding:2px;margin:5px;border-radius:15%;background-color:#0072b1;"><svg class="niftybutton-linkedin" style="display:block;fill:white" data-donate="true" data-tag="lin" data-name="LinkedIn" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                 <path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"></path>
             </svg></a><a href="https://www.youtube.com/channel/UCMOBtxDam_55DCnmKJc8eWQ" target="_blank" rel="noopener noreferrer" style="text-decoration:none;border:0;width:30px;height:30px;padding:2px;margin:5px;border-radius:15%;background-color:#c4302b;"><svg class="niftybutton-youtube" style="display:block;fill:white" data-donate="true" data-tag="you" data-name="YouTube" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                 <path d="M422.6 193.6c-5.3-45.3-23.3-51.6-59-54 -50.8-3.5-164.3-3.5-215.1 0 -35.7 2.4-53.7 8.7-59 54 -4 33.6-4 91.1 0 124.8 5.3 45.3 23.3 51.6 59 54 50.9 3.5 164.3 3.5 215.1 0 35.7-2.4 53.7-8.7 59-54C426.6 284.8 426.6 227.3 422.6 193.6zM222.2 303.4v-94.6l90.7 47.3L222.2 303.4z"></path>
             </svg></a>
                       </div>
                       </div>
                        <!-- <p class="text-italic">
                           Please write your email and get our amazing updates, news and support*
                           </p>
                           <div class="subscribe">
                           <form action="#">
                               <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
                               <button type="submit"><i class="fa fa-paper-plane"></i></button>  
                           </form>
                           </div> -->
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 item">
                     <div class="f-item link">
                        <h4 class="widget-title">Useful Links</h4>
                        <ul>
                           <li>
                              <a href="/">Home</a>
                           </li>
                           <li>
                              <a href="/about">About</a>
                           </li>
                           <li>
                              <a href="http://seotools.ampdigital.co/">SEO Tools</a>
                           </li>
                           <li>
                              <a href="/faq">FAQs, Help/Support</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 item">
                     <div class="f-item link">
                        <h4 class="widget-title">Courses</h4>
                        <ul>
                           <li>
                              <a href="/courses/digital-marketing-course">Digital Marketing Course</a>
                           </li>
                           <li>
                              <a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA) Certification Course
                              </a>
                           </li>
                           <li>
                              <a href="/courses/seo-workshop">SEO Workshop</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 item">
                     <div class="f-item contact">
                        <h4 class="widget-title">Contact Info</h4>
                        <div class="address">
                           <ul>
                              <li>
                                 <strong>Registered Address:</strong> 403, Sovereign 1, Sohna Rd,
                                 Vatika
                                 City, Gurugram, Haryana 122018
                              </li>
                              <li>
                                 <strong>Contact:</strong> +919971060035
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Footer Bottom -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <p>&copy; Copyright 2021, <a href="/">AMP Digital</a></p>
                  </div>
                  <div class="col-lg-6 text-right link">
                     <ul>
                        <li>
                           <a href="/termsofservice">Terms of Service</a>
                        </li>
                        <li>
                           <a href="/privacypolicy">Privacy Policy</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Footer Bottom -->
      </footer>
      <!-- End Footer-->
      <!-- jQuery Frameworks
         ============================================= -->
      <script src="/assets/js/jquery-1.12.4.min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/jquery.appear.js"></script>
      <script src="/assets/js/jquery.easing.min.js"></script>
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      <script src="/assets/js/modernizr.custom.13711.js"></script>
      <script src="/assets/js/owl.carousel.min.js"></script>
      <script src="/assets/js/wow.min.js"></script>
      <script src="/assets/js/progress-bar.min.js"></script>
      <script src="/assets/js/isotope.pkgd.min.js"></script>
      <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="/assets/js/count-to.js"></script>
      <script src="/assets/js/YTPlayer.min.js"></script>
      <script src="/assets/js/jquery.nice-select.min.js"></script>
      <script src="/assets/js/loopcounter.js"></script>
      <script src="/assets/js/bootsnav.js"></script>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
         integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
         crossorigin="anonymous" />
      <link href="/assets/css/themify-icons.css" rel="stylesheet" />
      <script src="/assets/js/main.js"></script>
      <script src="/js/custom/bloggingandgoogleanalytics.js"></script>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
      <script src='https://www.google.com/recaptcha/api.js' async defer></script>
      <%-include partials/ebook.ejs%>

   </body>
</html>