

<!DOCTYPE html>
<html lang="en">
   <head>
       <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MVGP6ST2J1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MVGP6ST2J1');
</script>
      <!-- ========== Meta Tags ========== -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="robots" content="all,follow">
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      <!-- ========== Page Title ========== -->
      <title>Origo</title>
      <!-- ========== Favicon Icon ========== -->
      <!-- ========== Start Stylesheet ========== -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
      <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
      <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
      <link href="/assets/css/elegant-icons.css" rel="stylesheet" />
      <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
      <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
      <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
      <link href="/assets/css/animate.css" rel="stylesheet" />
      <link href="/assets/css/bootsnav.css" rel="stylesheet" />
      <link href="/assets/css/style3.css" rel="stylesheet">
      <link href="/assets/css/responsive.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
      
      <style>
          .bottom-info{
              margin-top: 14%;
          }
          .enroll {
         position: absolute;
         bottom: 3px;
         margin-bottom: 9px;
         }
        .info-box2::before {
    background: rgba(63,144,201,.89)!important;
}
      .default-features-area .item a{
          cursor: default!important;
      }
      .stat3::after{
          content:''!important;
      }
     
      footer.bg-dark .footer-bottom {
    box-shadow: 0px 0px 0px rgb(0 0 0 / 40%), inset 0 1px 1px rgb(255 255 255 / 20%)!important;
}
.scholarship-area .info ul li h5, .scholarship-area .info-case-study ul li h4
       {
           font-weight: 400!important;
           font-size: 18px!important;
           color: black!important;
}
      p{
          font-size: 18px;
    color: black!important;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
      }
      .title {
    font-size: 30px;
    color: #447EED;
    padding: 0;
    margin: 0 0 18px;
    font-weight: 700;
}
     .savingCard {
    flex-grow: 1;
    flex-basis: 0;
    background: white;
    margin: 50px 15px 0;
    line-height: 1.2;
    position: relative;
    padding: 70px 24px 34px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 4%);
    border-radius: 10px;
    max-width: 490px;
}
      .advisor-area .owl-stage{
          margin-bottom: 3rem!important;
      }
    
.single-item:hover{
     transform: scale(1.05);
  /*box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);*/
}

      /*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  /*padding-top: 80px; */
  /*padding-bottom: 100px;*/
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.9;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}


      .h-40{
          height: 200px!important;
      }
      .about-area .info span{
          color: #add100!important;
      }
      .info h4 a {
    color: black;
}
      .module {
  background-image: url(/images/bgimg1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*background-attachment: scroll;*/
    box-shadow: 0px 0px 0px 4000px rgba(61, 61, 61, 0.7) inset!important;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.module  header {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
}
.module  header::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.module  header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(61, 61, 61, 0.63)*/
}
.module  header > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}
      .fa-quote-left, .fa-quote-right {
    font-size: 2rem;
    color: #add100;
    margin-right: 20px;
    display: inline-block;
}
      .default-features-area.default-design .item-box .single-item .item a {
    display: block;
    background: white!important;
    border-radius: 10px !important;
    padding-top: 41px;
    padding-bottom: 30px;
    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
}
.default-features-area .item-box .item h4 {
    text-transform: capitalize;
    font-weight: 700;
    color: black!important;
}
@media (max-width:580px){
    .default-features-area .item-box .item h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 12px!important;
    min-height: 33px!important;
}
}
      label{
            color: green;
         }
         .countdown-inner::after {
    position: absolute;
    left: 0;
    bottom: -24px;
    content: "";
    height: 100%;
    width: 104%;
    background: url(/assets/img/shape/13.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: -1;
    opacity: 0.3;
}
.btn-gradient{
    font-size: 16px;
}
         .btn-gradient::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(
90deg
,#add100 0%, #add100 75%)!important;
    transition: all 0.35s ease-in-out;
    z-index: -1;
    box-shadow: 0 0 10px rgb(255 136 0 / 50%), inset 0 0 1px 1px #add100;
}
         .card{
            width: 100%;
         }
         .about-area .fixed-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top!important;
    max-width: 30%!important;
    right: 0;
    left: auto;
    top: 9%;
}
         .eluidc1e87e3b .tbk__title {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}
/*.eluidc1e87e3b .tbk__subtitle {*/
/*    font-family: "Montserrat", Helvetica, Arial, sans-serif;*/
/*    font-size: 11px;*/
/*    color: #999999;*/
/*}*/

/*.tbk__subtitle {*/
/*    margin-top: 0;*/
/*    font-size: 20px;*/
/*    font-size: 20px;*/
/*    line-height: 26px;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
/*.eluid10daa6a6 .tbk__subtitle {*/
/*    font-family: "Montserrat", Helvetica, Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    color: #999999;*/
/*}*/

/*.tbk__subtitle {*/
/*    margin-top: 0;*/
/*    font-size: 20px;*/
/*    font-size: 20px;*/
/*    line-height: 26px;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
    /*     footer{*/
    /*        background-image: url('/images/footer-bg.jpg');*/
    /*background-repeat: repeat-x;*/
    /*background-position: center bottom;*/
    /*background-size: cover;*/
    /*background-attachment: scroll;*/
    /*box-shadow: 0px 0px 0px 4000px rgba(255,255,255,0.7) inset!important;*/
    /*     }*/
         .card-body h4{
            color: #F3973E; font-weight: bold;
         }
         .card-body{
            background: #DCECDC!important;
         }
         .card-body p{
            color: black;
         }
         .fa-object-ungroup{
            display: none;
         }
         .item{
            width: 100%!important;
         }
         /* .item2 p{
            display: none!important;
         } */
         .info span{
            color: #202F68!important;
         }
         .owl-prev,
         .owl-next {
         background: #add100 !important
         }
         .enroll {
         position: absolute;
         bottom: 3px;
         margin-bottom: 9px;
         }
         .owl-dots {
         margin-top: 3px !important
         }
         @media only screen and (max-width: 768px) {
         .g-recaptcha {
         transform: scale(0.7);
         transform-origin: 0 0;
         }
         }
         .rating i {
         color: #ffb606;
         font-size: x-small;
         }
         /* .breadcrumb-area {
         background: url('/googleanalytics.png') no-repeat center center !important;
         -webkit-background-size: cover !important;
         -moz-background-size: cover !important;
         -o-background-size: cover !important;
         background-size: cover !important;
         } */
         .fa-2x {
         color: #add100 !important;
         }
         .search-icon-container {
         position: absolute;
         background-color: rgba(0, 0, 0, .08);
         cursor: pointer;
         right: 0;
         z-index: 10;
         bottom: 0;
         padding: 5px 3px 3px 5px
         }
         .image-container {
         margin-top: 5px;
         margin-bottom: 5px;
         cursor: pointer;
         position: relative
         }
         .form-check-input {
         position: absolute;
         margin-top: -0.4rem;
         margin-left: -1.25rem;
         }
         .src-app-components-Form-__link___1OSjY {
         color: black !important;
         }
         input {
         min-height: 38px !important;
         }
         @media only screen and (max-width: 600px) {
         .navbar-brand>img {
         display: initial;
         width: 5.5rem !important;
         height: auto !important;
         }
         }
         .owl-carousel .owl-stage {
         display: flex;
         }
         .owl-carousel .item {
         text-align: center !important;
         display: block;
         flex: 1 0 auto;
         height: 100%;
         }
         .owl-carousel .item h4 {
         margin-top: 5% !important;
         }
         .owl-carousel .item .title {
         position: relative;
         overflow: hidden;
         /* margin-bottom: 80px; */
         /*This is optional*/
         display: flex;
         flex-direction: column;
         align-items: stretch;
         }
         @media only screen and (min-width: 1367px) {
         .owl-theme .owl-nav.disabled+.owl-dots {
         margin-top: 10px;
         margin-right: calc((100% - 1140px)/ 2);
         }
         }
         .thumb-categories-carousel .owl-stage-outer {
         margin-bottom: 2%;
         }
         .bg-white{
             background-color: white!important;
         }
         #section1 h1{
             font-size: 44px!important;
         }
         @media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
    #section1 h1{
            font-size: 40px!important;
    }
}
      </style>
      <!-- ========== End Stylesheet ========== -->
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="/assets/js/html5/html5shiv.min.js"></script>
      <script src="/assets/js/html5/respond.min.js"></script>
      <![endif]-->
   </head>
   
   <body data-course_price="6000" data-course_name="Advanced Google Analytics (GA) Certification Course" >
      <div class="modal" id="myModal">
         <div class="modal-dialog modal-xl">
            <div class="modal-content">
               <!-- Modal body -->
               <div class="modal_body">
                  <img width="100%" src="" class="imgsrc" alt="">
               </div>
            </div>
         </div>
      </div>
      <!-- Preloader Start -->
      <!-- <div class="se-pre-con"></div> -->
      <!-- Preloader Ends -->
      <!-- Header 
         ============================================= -->
    <!-- <header id="home">-->

        <!-- Start Navigation -->
    <!--    <nav class="navbar navbar-default inc-top-bar attr-border navbar-fixed-top white bootsnav on no-full no-background">-->

            <!-- Start Top Search -->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="top-search">-->
    <!--                    <div class="input-group">-->
    <!--                        <form action="#">-->
    <!--                            <input type="text" name="text" class="form-control" placeholder="Search">-->
    <!--                            <button type="submit">-->
    <!--                                <i class="ti-search"></i>-->
    <!--                            </button>  -->
    <!--                        </form>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
            <!-- End Top Search -->

    <!--        <div class="container">-->

                <!-- Start Header Navigation -->
    <!--            <div class="navbar-header">-->
    <!--                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">-->
    <!--                    <i class="fa fa-bars"></i>-->
    <!--                </button>-->
    <!--                <a class="navbar-brand" href="/">-->
    <!--                    <img src="/wp-content/uploads/Origo-Logo-White.png" class="logo logo-display" alt="Logo">-->
                        <!--<img src="/images/Origo-Logo.png" class="logo logo-scrolled" alt="Logo">-->
    <!--                </a>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--    </nav>-->
        <!-- End Navigation -->

    <!--</header>-->
    <header id="home">
      <!-- Start Navigation -->
      <nav 
         class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
         <div class="container-fluid">
            <!-- Start Header Navigation -->
            <div class="navbar-header row align-items-center ml-3">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
               <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand" href="/">
               <img src="/google_logo (1).jpg" class="logo" alt="Logo">
               </a>
               <a class="navbar-brand" href="/">
               <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
               </a>
               <!-- <a href="/" class="navbar-brand">
                  <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                  </a>
                  <a href="/" class="navbar-brand">
                  <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                  </a> -->
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
               <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Courses</a>
                     <ul class="dropdown-menu">
                        <!-- <li><a href="index.html">Home Version One</a></li>
                           <li><a href="index-2.html">Home Version Two</a></li>
                           <li><a href="index-3.html">Home Version Three</a></li>
                           <li><a href="index-4.html">Home Version Four</a></li> -->
                        <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>
                        
                        <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
<li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA) Certification Course</a></li>
                     </ul>
                  </li>
                  <li><a href="https://www.newsapp.io">News</a></li>
                  <li><a href="/jobs/home">Jobs</a></li>
                  <li><a href="/webinars">Webinars</a></li>
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/blogs">Blogs</a></li>
                  <li><a href="/digital-marketing-community-forums">Forum</a></li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Tools</a>
                     <ul class="dropdown-menu">
                        <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                        <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
                     </ul>
                  </li>
                  
                  <%if(typeof email =='undefined'){%>
                  <li>
                     <a href="/auth">Register</a>
                  </li>
                  <%}else{%>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
                     <ul class="dropdown-menu">
                        <li><a href="/logout">Logout</a></li>
                     </ul>
                  </li>
                  <%}%>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
      </nav>
      <!-- End Navigation -->
   </header>
      
      <div id="section1" class="module d-md-none pt-1 align-items-center breadcrumb-area shadow text-light bg-cover ">
            <img style="    width: 12rem;
    margin-top: 1rem;
    z-index: 10000;" src="/wp-content/uploads/Origo-Logo-White.png" alt="Logo">
         <div class="container-fluid mt-5 pt-3">
             
            <div class="row align-items-center mt-3">
               <div class="col-lg-12">
                  <div class="row align-items-center justify-content-center ml-md-5">
                     <div class="col-md-10">
                        <div class="content">
                            <div class="row">
                                <header>
    <h1 style="color: #add100; height:200px; font-weight: 900!important;">Business loans for
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "trading commodities", " purchasing commodities" ]'></span>
</h1>
<p class="mt-4 text-center py-2 px-3" style="font-size: 25px!important;color: white!important;font-weight: 900;width: fit-content;">
                              Fast &amp; hassle free commodity loans from INR 1cr to INR 100 cr
                          </p>
                          <a class="btn circle btn-md btn-success mt-2 mb-5" href="/contact-us">Talk to our experts</a>
  </header>
                            
</div>
                          </div>
                               </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     <div class="banner-area d-none d-md-block bg-gray text-center multi-heading">
          <!--<a class="" href="index.html">-->
                        
                        <!--<img src="/images/Origo-Logo.png" class="logo logo-scrolled" alt="Logo">-->
                    <!--</a>-->
        <div id="bootcarousel" class="carousel text-light slide carousel-fade animate_text" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner carousel-zoom">
                <div class="carousel-item active carousel-item-left">
                    <div class="slider-thumb bg-cover" style="background-image: url(/homepagecoverbg.jpg);background-repeat: no-repeat;background-position: center center;background-size: cover;/* background-attachment: scroll; *//* box-shadow: 0px 0px 0px 4000px rgba(61, 61, 61, 0.3) inset!important; */background-attachment: fixed;"></div>
                    <div class="box-table shadow ">
                        <div class="box-cell mb-5">
                            <div class="container-fluid" style="position: absolute;top: 10%;">
                                <div class="row d-none d-md-flex text-left">
                                  <div class="col-lg-5 offset-md-1">
                                    <h1 style="font-size: 3.5rem!important; font-weight: 700; color: black;"> <span>Digital Marketing</span> Training Programs</h1>
                                  </div>
                                  <div class="col-lg-6 offset-md-1">
                                    <p style="font-size: 1.5em; color: grey!important;" class="hero-text pr-5 mt-5">Digital Marketing courses and training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards. </p>
                                    <div class="CTAs row pl-3 mt-5"><a id="viewcourses" href="/#courses" style="background: orange; border-color: orange; border-radius: 12px;" class="btn btn-primary btn-lg">View Courses</a>
                                      <a href="/dashboard" style="background: orange; border-color: orange; border-radius: 12px; margin-left:2%;" class="btn btn-primary btn-lg">Start Learning</a></div>
                                  </div>
                                </div>
                                <div class="row d-md-none">
                                  <div class="col-lg-12">
                                    <h1 style="font-size: 3rem!important;"> <span>Digital Marketing</span> Programs</h1>
                                  </div>
                                  <div class="col-lg-12">
                                    <p style="    font-size: 1.5em; color: black!important;" class="hero-text">Digital Marketing courses and training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards. </p>
                                    <div class="CTAs row justify-content-center">
                                      <a id="viewcourses" href="/#courses" class="btn btn-primary btn-md">View Courses</a>
                                      <a href="/dashboard" class="btn btn-outline-light btn-md">Start Learning</a></div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
    <div class="default-features-area default-design relative bottom-less text-center pb-3">
      <div class="container">
          <div class="item-box">
              <div class="row">
                  <div class="col-lg-3 col-md-6 single-item">
                    <div style="    background-size: cover;
                    background-position: center center;
                    border-radius: 10px;
                    box-shadow: 0 0 10px #cccccc;" class="item torchred">
                      <a class="info-box2" style="padding: 60px 30px;
                      border: none;
                      box-shadow: inherit;
                      position: relative;
                      z-index: 1;     box-shadow: inset 0 0 0 2000px rgb(63 144 201 / 89%)!important;
                      background: url(img/boxes-img-1.jpeg)!important;    background-size: 100%!important;
    background-position: center center!important;" href="#">
                          <div class="info">
                              <h5 style="text-transform: capitalize;
                              font-weight: 700;
                              margin: 0;
                              font-size: 18px; color: white!important;">World Class Program</h5>
                              <p style="  color: white!important;  margin-bottom: 0;
                              margin-top: 15px;">

Developed by Ex Googler, this is one of the most comprehensive training programs
</p>
                          </div>
                      </a>
                  </div>
                  </div>
                  <div class="col-lg-3 col-md-6 single-item">
                    <div style="    background-size: cover;
                    background-position: center center;
                    border-radius: 10px;
                    box-shadow: 0 0 10px #cccccc;" class="item torchred">
                      <a class="info-box2" style="padding: 60px 30px;
                      border: none;
                      box-shadow: inherit;
                      position: relative;
                      z-index: 1;     box-shadow: inset 0 0 0 2000px rgba(245,165,12,.89)!important;
                      background: url(img/boxes-img-1.jpeg)!important;    background-size: 100%!important;
    background-position: center center!important;" href="#">
                          <div class="info">
                              <h5 style="text-transform: capitalize;
                              font-weight: 700;
                              margin: 0;
                              font-size: 18px; color: white!important;">Career Oriented</h5>
                              <p style="  color: white!important;  margin-bottom: 0;
                              margin-top: 15px;">


Provides practical learning so that you get job ready & excel in the industry
<br class="d-none d-md-block"><br class="d-none d-md-block">
</p>
                          </div>
                      </a>
                  </div>
                  </div>
                  <div class="col-lg-3 col-md-6 single-item">
                    <div style="    background-size: cover;
                    background-position: center center;
                    border-radius: 10px;
                    box-shadow: 0 0 10px #cccccc;" class="item torchred">
                      <a class="info-box2" style="padding: 60px 30px;
                      border: none;
                      box-shadow: inherit;
                      position: relative;
                      z-index: 1;     box-shadow: inset 0 0 0 2000px rgba(244,52,61,.89)!important;
                      background: url(img/boxes-img-1.jpeg)!important;    background-size: 100%!important;
    background-position: center center!important;" href="#">
                          <div class="info">
                              <h5 style="text-transform: capitalize;
                              font-weight: 700;
                              margin: 0;
                              font-size: 18px; color: white!important;">Global Certifications</h5>
                              <p style="  color: white!important;  margin-bottom: 0;
                              margin-top: 15px;">


Get globally recognised certifications from Google, HubSpot, Ads4Growth.
</p>
                          </div>
                      </a>
                  </div>
                  </div>
                  <div class="col-lg-3 col-md-6 single-item">
                    <div style="    background-size: cover;
                    background-position: center center;
                    border-radius: 10px;
                    box-shadow: 0 0 10px #cccccc;" class="item torchred">
                      <a class="info-box2" style="padding: 60px 30px;
                      border: none;
                      box-shadow: inherit;
                      position: relative;
                      z-index: 1;     box-shadow: inset 0 0 0 2000px rgba(106,78,119,.89)!important;
                      background: url(img/boxes-img-1.jpeg)!important;    background-size: 100%!important;
    background-position: center center!important;" href="#">
                          <div class="info">
                              <h5 style="text-transform: capitalize;
                              font-weight: 700;
                              margin: 0;
                              font-size: 18px; color: white!important;">Continuous Learning</h5>
                              <p style="  color: white!important;  margin-bottom: 0;
                              margin-top: 15px;">


Learn life long through our world class Learning Management System.
<br class="d-none d-md-block"><br class="d-none d-md-block">
</p>
                          </div>
                      </a>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="courses-area trend-layout testimonials-area carousel-shadow default-padding-bottom py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="site-heading text-center">
                    <h5>Multiple training programs for different skills levels and platforms.                    </h5>
                    <h2>Courses
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="courses-items">
            <div class="row">
                <%for(let i = 0; i< courses.length; i++){
                    let course = courses[i];
                    let today = new Date();
                    today.setHours(0,0,0,0);
                    let discountvaliddate = new Date(course.course_discount_valid);
                    discountvaliddate.setHours(0,0,0,0);
                    let course_price = ((1+0.01*parseInt(course.course_tax))*parseInt(course.course_price)).toString()
                    course_price = Math.floor(course_price);
                    let discounted_price = (course.course_discountactive=="Active" &&  (discountvaliddate == today || discountvaliddate > today)) ? course_price*(100-course.course_discount)*.01 :course_price
                    discounted_price = Math.floor(discounted_price); 
                    let validtill = (course.course_discountactive=="Active" &&  (discountvaliddate == today || discountvaliddate > today)) ? "(till "+moment(course['course_discount_valid']).format( 'DD MMMM') + ")" :"";
                    
                    %>
                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="item" style="border-radius: 14px!important;">
                       <div class="thumb">
                          <a href="/courses/<%=courses[i]['course_url']%>">
                          <img src="<%=courses[i]['course_image']%>" alt="Thumb">
                          </a>
                       </div>
                       <div class="info">
                          <div class="top-info">
                             <!-- <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-alt"></i>
                                <span>4.5 (34000)</span>
                             </div> -->
                             <div class="price">
                                <i style="color: #0477BF;" class="fa fa-rupee-sign"></i>
                                <%=discounted_price%>
                             </div>
                          </div>
                          <div class="meta">
                             <ul>
                                <li>
                                   <img src="/amitabh.jpg" alt="Advisor">
                                   by<a href="#">Amitabh Verma</a>
                                </li>
                             </ul>
                          </div>
                          <h4>
                             <a
                                href="/courses/<%=courses[i]['course_url']%>"><%=courses[i]['course_name']%></a>
                          </h4>
                          <!-- <p>
                             <%=course.course_objective%>
                             </p> -->
                          <div class="bottom-info">
                             <!-- <div class="course-info">
                                <ul>
                                    <li><i class="fa fa-clock"></i> 08:27:00</li>
                                    <li><i class="fa fa-list-ul"></i> 65</li>
                                    <li><i class="fa fa-user"></i> 6K</li>
                                </ul>
                                </div> -->
                             <div class="enroll">
                                <a class="btn btn-theme effect btn-sm"
                                   href="/courses/<%=courses[i]['course_url']%>">Know More</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                <!-- End Single item -->
                <%}%>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-md btn-dark border" href="#">View All <i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>
  <div class="testimonials-area bg-gray carousel-shadow default-padding py-5">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <div class="site-heading text-center">
                <h5>Amitabh Verma</h5>
                <h2>Lead Instructor</h2>
             </div>
          </div>
       </div>
    </div>
    <div class="advisor-details-area">
       <div class="container">
          <div class="row">
             <div class="col-lg-3 basic-info">
                <img src="/amitabh.jpg" alt="Advisor">
                <div class="contact">
                   <ul>
                      <!-- <li>
                               <i class="fas fa-phone"></i>
                               <span>+919971060035</span>
                           </li> -->
                      <li>
                         <i class="fas fa-envelope"></i>
                         <span>amitabh@ads4growth.com</span>
                      </li>
                   </ul>
                </div>
                <div class="social">
                   <ul>
                      <!-- <li class="facebook">
                               <a href="https://www.facebook.com/amitabh.verma">
                                   <i class="fab fa-facebook-f"></i>
                               </a>
                           </li>
                           <li class="twitter">
                               <a href="https://twitter.com/amitabh26">
                                   <i class="fab fa-twitter"></i>
                               </a>
                           </li> -->
                      <li class="linkedin">
                         <a href="https://in.linkedin.com/in/amitabhverma">
                            <i class="fab fa-linkedin-in"></i>
                         </a>
                      </li>
                   </ul>
                </div>
             </div>
             <div class="col-lg-9 info">
                <h2>Amitabh Verma</h2>
                <span>Ex-Googler</span>
                <p>
                   After having worked at Google for over 7 years as the Global SMB Advertiser
                   Services Leader, Amitabh was rated amongst top 100 digital marketers by Paul
                   Writer and Pluralsight survey. Amitabh has worked with companies like HP, LG,
                   Sr Reddy's Lab, Havas Digital and many other large and small businesses to
                   create and manage their Digital Marketing strategies. Amitabh brings his years
                   of experience into the content developed for the training programs and ensures
                   that all program participants benefit from this and deploy them in their own
                   careers. Amitabh and his team of trainers also help the participants with
                   their career development to ensure that everyone charts out a clear path for
                   themselves that leads them to a successful career. Amitabh is also passionate
                   about Personal Branding and ensures every participant is putting in the effort
                   required to create an everlasting brand for themselves.
                </p>
             </div>
          </div>
       </div>
    </div>
 </div>

    <div class="fun-factor-area overflow-hidden bg-gradient text-light default-padding">
      <div class="container">
          <div class="fun-fact-items text-center">
              <!-- Fixed BG -->
              <div class="fixed-bg contain" style="background-image: url(assets/img/map.svg);"></div>
              <!-- Fixed BG -->
              <div class="row">
                  <div class="col-lg-3 col-md-6 item">
                      <div class="fun-fact">
                          <div class="counter">
                              <div class="timer" data-to="34" data-speed="5000">34</div>
                              <div class="operator">K</div>
                          </div>
                          <span class="medium">Learners &amp; counting</span>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 item">
                      <div class="fun-fact">
                          <div class="counter">
                              <div class="timer" data-to="144" data-speed="5000">144</div>
                              <!-- <div class="operator">K</div> -->
                          </div>
                          <span class="medium">Countries Represented</span>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 item">
                      <div class="fun-fact">
                          <div class="counter">
                              <div class="timer" data-to="4.3" data-speed="5000">4.5</div>
                              <div class="operator">.5</div>
                              <div class="operator"></div>
                          </div>
                          <span class="medium">Average Rating</span>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 item">
                      <div class="fun-fact">
                          <div class="counter">
                              <div class="timer" data-to="6" data-speed="5000">6</div>
                              <div class="operator"></div>
                          </div>
                          <span class="medium">Years & Counting</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="testimonials-area carousel-shadow default-padding py-5">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <div class="site-heading text-center">
                <h5>Testimonials</h5>
                <h2>What People say about Our Training Program</h2>
             </div>
          </div>
       </div>
    </div>
    <div class="container">
       <div class="testimonial-items text-center">
          <div class="row">
             <div class="col-lg-12">
                <div class="testimonials-carousel owl-carousel owl-theme">
                   
                   <div class="item">
                      <div class="icon">
                         <i class="flaticon-quotation"></i>
                      </div>
                      <div class="content">
                         <p>
                            I joined this course in October and it’s been an interesting journey. I have seen a lot of growth in my intellect and Understanding the digital Business after going through the course and now, I relate more to the ads which I see on my social media accounts and I truly relate to how this is getting monetized or this is getting targeted. It&#39;s been an immense learning experience for me.


                         </p>
                         <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i
                               class="fas     fa-star"></i>
                         </div>
                      </div>
                      <div class="provider">
                         <div class="thumb">
                            <img src="/testimonials/vivek.jpg" alt="Thumb">
                         </div>
                         <div class="info">
                            <h5> Vivek Arora     </h5>
                            <span> VP Discovery Channel</span>
                         </div>
                      </div>
                   </div>
                   
                   <div class="item">
                      <div class="icon">
                         <i class="flaticon-quotation"></i>
                      </div>
                      <div class="content">
                         <p>
                            Upcoming E-commerce is related to Digital World so I need to draw to grow at a much faster Pace Which can only be achieved through Digital Transformation and This course helps me In achieving my goal. There is no feeling like we&#39;re sitting in a classroom and studying instead it&#39;s like we are just hanging out around, talking with our friends, discussing latest technology, latest trends over a cup of coffee. 

                         </p>
                         <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i
                               class="fas     fa-star-half-alt"></i>
                         </div>
                      </div>
                      <div class="provider">
                         <div class="thumb">
                            <img src="/testimonials/rohit.jpg" alt="Thumb">
                         </div>
                         <div class="info">
                            <h5>Rohit Virmani</h5>
                            <span> Entrepreneur, owner, VP Spaces     </span>
                         </div>
                      </div>
                   </div>
                   
                   <div class="item">
                      <div class="icon">
                         <i class="flaticon-quotation"></i>
                      </div>
                      <div class="content">
                         <p>
                            Ms. Amitabh ( Lead Instructor) is with the Google background and actually has got his hand in this Business so he is able to take us through the entire Nuances, what is the Micro and Macro thing, how does this digital thing fit in this new age of Marketing. There are case studies, detailed Discussions. If you are really looking to learn Digital marketing, Then this the course for growing Forward.

                         </p>
                         <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i
                               class="fas     fa-star"></i>
                         </div>
                      </div>
                      <div class="provider">
                         <div class="thumb">
                            <img src="/testimonials/abhijay.jpg" alt="Thumb">
                         </div>
                         <div class="info">
                            <h5>Abhijay Srivastava </h5>
                            <span> AGM Marketing, SquareYards</span>
                         </div>
                      </div>
                   </div>
                   
                   <div class="item">
                      <div class="icon">
                         <i class="flaticon-quotation"></i>
                      </div>
                      <div class="content">
                         <p>
                            Mr. Amitabh has vast experience in this field and he has worked himself with google for a decade and I think so even as a teacher, he comes across as a great companion and guide. I am still connected with him even though the course is over where I take tips from him or try to understand what more can be done besides what we are currently doing.


                         </p>
                         <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i
                               class="fas     fa-star-half-alt"></i>
                         </div>
                      </div>
                      <div class="provider">
                         <div class="thumb">
                            <img src="/testimonials/anshuman.jpg" alt="Thumb">
                         </div>
                         <div class="info">
                            <h5>Anshuman Sinha</h5>
                            <span>Associate Director, Flipkart</span>
                         </div>
                      </div>
                   </div>
                   
                   <div class="item">
                      <div class="icon">
                         <i class="flaticon-quotation"></i>
                      </div>
                      <div class="content">
                         <p>
                            During this course itself, I have learned all aspects of Digital marketing like SEO, Google Analytics, social media marketing, and I see myself as a marketing professional in both Traditional and non-traditional marketing.

                         </p>
                         <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i
                               class="fas     fa-star"></i>
                         </div>
                      </div>
                      <div class="provider">
                         <div class="thumb">
                            <img src="/testimonials/Vishal.jpg" alt="Thumb">
                         </div>
                         <div class="info">
                            <h5>Vishal Dilawari</h5>
                            <span>Marketing Manager, Better Life, Dubal</span>
                         </div>
                      </div>
                   </div>
                   
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
  
  
  <div class="advisor-area carousel-shadow default-padding">
      <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="site-heading text-center">
                    <h5>
                        Our community of program participants works at some of the top global companies.
                    </h5>
                     <h2>Our Participants are working here
                    </h2>
                  </div>
               </div>
            </div>
         </div>
        <div class="container">
          <div class="row training-partners align-items-center">
            <div class="col-md-4 mt-3 mt-md-0 training-partner-logo text-center"><img src="/img/training-partner/iis_logo (1).jpg" height="" width="100%"></div>
            <div class="col-md-4 mt-3 mt-md-0 training-partner-logo text-center"><img src="/img/training-partner/Internshala.svg" height="" width="100%"></div>
            <div class="col-md-4 mt-3 mt-md-0 training-partner-logo text-center"><img src="/img/training-partner/Udemy.svg" height="" width="100%"></div>
          </div>
        </div>
    </div>
      
    
    <div class="about-area inc-fixed-bg default-padding d-none">
         <!-- Fixed BG -->
         <div class="fixed-bg" style="background-image: url('/images/aboutorigo.png');"></div>
         <!-- End Fixed BG -->
         <div class="container">
             <div class="about-items">
                 <div class="row align-center">
                     
                     <div class="col-lg-6 info">
                         <h2 >
                           More about Origo
                        </h2>
                         <p style="color: black;">
                           Origo is India's fastest growing agri-fin tech company providing traders and agri processors with  financing, trade and warehousing of agri commodities. 
                        </p>
                        <p style="color: black;">
                           Origo has been in the business for the last 10 years and has managed assets worth Rs 800 billion (USD 12.4 billion) and operates warehouses with a capacity of 3.5 million MT over 12 states in India. 
                        </p>
                         <ul class="ml-md-4">
                             <li>
                                 <div class="fun-fact">
                                     <span class="timer timer1" data-to="800" data-speed="5000">168</span>
                                     <span class="medium">Worth of Managed Assets </span>
                                 </div>
                             </li>
                             <li>
                                 <div class="fun-fact">
                                     <span class="timer timer2" data-to="20" data-speed="5000">20</span>
                                     <span class="medium">States in India</span>
                                 </div>
                             </li>
                         </ul>
                         <a class="btn circle btn-md btn-gradient" href="#">Talk to our experts</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    
     <div id="clients2" class="towardspaymentgateway categories-area  carousel-shadow thumb-cats section-bg default-padding bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="site-heading text-center">
                    <h5>
                        Our community of program participants works at some of the top global companies.

                    </h5>
                     <h2>Our Participants are working here

                    </h2>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center participantsdiv">
              <img width="100%" class="d-none d-md-block lazy" alt="" src="/participants.jpg" style="display: none;">
              <div class="col-11">
                <img width="100%" class="d-md-none lazy" alt="" src="/participantsmobile1.jpeg" style="display: inline-block;">
              <img width="100%" class="d-md-none lazy" alt="" src="/participantsmobile2.jpg" style="display: inline-block;">
              <img width="100%" class="d-md-none lazy" alt="" style="margin-bottom: 5%; display: inline-block;" src="/participantsmobile3.jpg">
        
              </div>
            </div>
         </div>
</div>
      
       
   

    <div class="video-area padding-xl text-center bg-fixed text-light shadow dark-hard" style="background-image: url(assets/img/2440x1578.png);">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 offset-lg-2">
                  <div class="video-heading">
                      <div class="content">
                          <h2>Participants Speak
                          </h2>
                          <p>
                            Watch this video to see what our program participants have to say about us.

                          </p>
                      </div>
                      <a class="popup-youtube relative video-play-button" href="https://www.youtube.com/watch?v=MCIFw0UrU0U&t=1s">
                          <i class="fa fa-play"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="bg-dark text-light">
    <div class="container">
       <div class="f-items default-padding">
          <div class="row">
             <div class="col-lg-4 col-md-6 item">
                <div class="f-item about">
                   <img src="/ampdigitalwhitelogo.png" alt="Logo">
                   <p style="color: white!important;">
                      AMP Digital runs and operates Ads4Growth.com which provides digital marketing
                      services and training.
                   </p>
                   <!-- <p class="text-italic">
       Please write your email and get our amazing updates, news and support*
       </p>
       <div class="subscribe">
       <form action="#">
           <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
           <button type="submit"><i class="fa fa-paper-plane"></i></button>  
       </form>
       </div> -->
                </div>
             </div>
             <div class="col-lg-4 col-md-6 item">
                <div class="f-item link">
                   <h4 class="widget-title">Useful Links</h4>
                   <ul>
                      <li>
                         <a href="/">Home</a>
                      </li>
                      <li>
                         <a href="/about">About</a>
                      </li>
                      <li>
                         <a href="http://seotools.ampdigital.co/">SEO Tools</a>
                      </li>
                      <li>
                         <a href="/faq">FAQs, Help/Support</a>
                      </li>
                   </ul>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 item">
                <div class="f-item contact">
                   <h4 class="widget-title">Contact Info</h4>
                   <div class="address">
                      <ul>
                         <li>
                            <strong>Registered Address:</strong> 403, Sovereign 1, Sohna Rd, Vatika
                            City, Gurugram, Haryana 122018
                         </li>
                         <li>
                            <strong>Contact:</strong> +919971060035
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
       <div class="container">
          <div class="row">
             <div class="col-lg-6">
                <p style="color: white!important;">© Copyright 2021, <a href="/">AMP Digital</a></p>
             </div>
             <div class="col-lg-6 text-right link">
                <ul>
                   <li>
                      <a href="/termsofservice">Terms of Service</a>
                   </li>
                   <li>
                      <a href="/privacypolicy">Privacy Policy</a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <!-- End Footer Bottom -->
 </footer>
      <!-- End Footer-->
      <!-- jQuery Frameworks
         ============================================= -->
      <script src="/assets/js/jquery-1.12.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/jquery.appear.js"></script>
      <script src="/assets/js/jquery.easing.min.js"></script>
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      <script src="/assets/js/modernizr.custom.13711.js"></script>
      <script src="/assets/js/owl.carousel.min.js"></script>
      <script src="/assets/js/wow.min.js"></script>
      <script src="/assets/js/progress-bar.min.js"></script>
      <script src="/assets/js/isotope.pkgd.min.js"></script>
      <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="/assets/js/count-to.js"></script>
      <script src="/assets/js/YTPlayer.min.js"></script>
      <script src="/assets/js/jquery.nice-select.min.js"></script>
      <script src="/assets/js/loopcounter.js"></script>
      <script src="/assets/js/bootsnav.js"></script>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
         integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
         crossorigin="anonymous" />
      <link href="/assets/css/themify-icons.css" rel="stylesheet" />
      <script src="/assets/js/main2.js"></script>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
      <script src='https://www.google.com/recaptcha/api.js' async defer></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" integrity="sha512-0OCvzZyRsIJ9Rg7O1S+Wf9ucukmVhyOg3h5eBG05aeH4NjG78fCEaEX3ofvndmukzENiX24fK5X/jPr6Y8yIdg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" integrity="sha512-L/EyzxvZCddd652hKB4w2gEaZgCZSOaH0Ia6JoEGysTu27VnWvej5ipuBnru/iDhPWMO0AvwiVd0HHVUHWeDRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script>
          var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 241 - Math.random() * 100;

  if (this.isDeleting) { delta /= 10; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
    $(".default-features-area .item a").on("click", (e)=>{
        e.preventDefault();
    });
    $(".image-container").on("click", function () {
        $("#myModal").modal("toggle");
        var el = $(this).data("img");
        $(".imgsrc").attr("src", el)
      })
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
  document.body.appendChild(css);
};
      </script>
   </body>
</html>