<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Discussion Forum | Digital Marketing Programs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.min.css" id="theme-stylesheet">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">

  <style>
    .breadcrumb-item+.breadcrumb-item::before {
  color: white;
}
.sorting_asc{
  display: none;
}
.dataTables_wrapper .dataTables_filter {
    float: left!important;
    text-align: left!important;
}
    .dataTables_length label, .sorting_asc{
      display:none!important;
    }
    [data-letters]:before {
  content:attr(data-letters);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:plum;
  vertical-align:middle;
  margin-right:1em;
  color:white;
  }
  </style>
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NTJGZ4L');</script>
  <!-- End Google Tag Manager -->
</head>
<body data-name="<%=name%>" data-course_id="<%=courseobj._id%>" data-course_name="<%=courseobj.course_name%>" data-module_name="<%=module.module_name%>" data-module_id="<%=module._id%>">
  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="background: #6a4e77">
        <h4 class="modal-title" style="color: white;">Ask a Question</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="blogform" method="POST" action="/addblog" class="row">
          <!--<div class="form-group col-md-12">
            <label for="example-text-input" class="col-form-label pull-left">Image</label>
            <input name="image" class="form-control" type="text" id="example-text-input">
        </div>-->
          <div class="form-group col-md-12">
            <label for="forumtitle" class="col-form-label pull-left">Title</label>
            <input name="title" class="form-control" type="text" id="forumtitle">
          </div>
          <div class="form-group col-md-12">
            <label for="forumoverview" class="col-form-label pull-left">Overview</label>
            <textarea rows="3" name="overview" class="form-control" type="text"
              id="forumoverview"></textarea>
          </div>
          <!-- <div class="form-group col-md-12 custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div> -->
          <!--<div class="form-group col-md-12">
            <label for="example-text-input" class="col-form-label pull-left">Content</label>:
            <a class="longapprodescription editable editable-click editable-open" href="#" id="longdescription" data-type="wysihtml5"  data-title="Enter long description" data-original-title="" title=""></a>
        </div>-->
          <!--<hr width="120%"  style="height: 1px;">-->
          <div class="col-md-12 ml-4" style="margin-left: 3%!important;">
            <div class="mbr-section-btn row">
              <span class="d-none" id="forumspinner">Submitting Please wait <i
                  class="fa fa-spinner fa-spin"></i></span>
              <button id="submitforumquestion" class="btn-primary btn">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- header-->
<%-include partials/header.ejs%>

<!-- Hero Section-->
<!-- Contact page-->
<section class="hero hero-page">
  <div style="background: url(/img/courses-banner.jpg)" class="hero-banner align-items-center row justify-content-center">  
    <div class="content-box">
      <h1 style="color: white;">Discussion Forum</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb row justify-content-center">
          <li style="color: white;" class="breadcrumb-item"><a style="color: white;" href="https://www.ampdigital.co<%=courseobj.course_access_url%>/<%=module._id%>"><%=courseobj.course_name%></a></li>
          <li style="color: white;" class="breadcrumb-item" aria-current="page">Forum</li>
        </ol>
      </nav>
  </div>
</div>
</section>
<section class="contact">
  <div class="container">
    <!--<p class="lead mb-5">
      Are you curious about something? Do you have some kind of problem with our products? As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am
      he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.
    </p>-->
    <div class="container">
      <div class="row  justify-content-center border p-4" style="box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
      border-radius: 18px;">
        <div class="col-md-10">
          <div class="row mb-2 qandaloadingspinner d-none">
            <div class="">
              <select style="width: 90%;" id="module_dropdown"></select>
            </div>
            <div class="col">
              <button data-toggle="modal" data-target="#myModal" data-purpose="ask-new-question-button"
              class="btn btn-md btn-primary pull-left mt-2 mt-md-0 askquestion">Ask a new question
            </button>
            </div>
          </div>
          <div class="row">
            <div class="row" style="width:100%;">
              <div class="col-md-12">
                <div id="forumdetail" class="d-none">
                  <button id="backtoforum" type="button" class="btn btn-outline-primary ml-3"> <i class="fa fa-arrow-left"></i> Back to All Questions</button>
                  <div id="replyquestionsection">

                  </div>
                  <div class="">
                    <hr>
                    <div class="">
                      <h3>Replies</h3>
                    </div>
                    <div class="replies">
                      
                    </div>
                    <hr>
                    <div style="font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5em;
                    font-weight: 700;
                    color: #505763;
                    margin-right: auto;
                    padding-top: 6px;" class=""><span id="replycount"></span> Replies</div>
                    <hr>
                    <div class="modal-content addreplymodal">

                      <!-- Modal Header -->
                      <div class="modal-header" style="background: #6a4e77">
                        <h4 class="modal-title" style="color: white;">Add Reply</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                      </div>
              
                      <!-- Modal body -->
                      <div class="modal-body">
                        <form id="postreply" class="row">
                          <div class="form-group col-md-12">
                            <label for="replyoverview" class="col-form-label pull-left">Your reply</label>
                            <textarea rows="3" name="replyoverview" class="form-control" type="text" id="replyoverview"></textarea>
                          </div>
                          <!-- <div class="form-group col-md-12 custom-file">
                            <input type="file" class="custom-file-input" id="replycustomFile">
                            <label class="custom-file-label" for="replycustomFile">Choose file</label>
                          </div> -->
                          <input type="hidden" id="forumid">
                          <div class="col-md-12 ml-4" style="margin-left: 3%!important;">
                            <div class="mbr-section-btn justify-content-center row">
                              <span class="d-none" id="forumreplyspinner">Submitting Please wait <i class="fa fa-spin fa-spinner"></i></span>
                              <button id="submitforumreply" class="btn-primary btn">Submit</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="post-comments">
                  <div class="row justify-content-center align-items-center qandaloadingspinner">
                    Loading...<i class="fa fa-spinner fa-spin"></i>
                  </div>
                  <table id="example" class="table-hover table qandaloadingspinner d-none" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                  
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- footer-->
<%-include partials/footer.ejs%>
<!-- JavaScript files-->
    <!-- Font Awesome CSS-->
    <link href="/faicons/css/all.min.css" rel="stylesheet"> <!--load all styles -->
                <link rel="stylesheet" href="https://www.ampdigital.co/css/font.min.css">

  <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="/css/custom.min.css">
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.min.js"> </script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script src="/js/front.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script src="/js/custom/contact.min.js"></script>
<script src="/js/custom/notification.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
function timeSince(date) {
        var seconds = Math.floor((new Date() - date) / 1000);
        var interval = Math.floor(seconds / 31536000);
        if (interval > 1) {
            return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
            return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
            return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
            return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
            return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";
    }
    
$(document).ready(function(){
  let table;

  var moduleid = $("body").data("module_id");
  var modulename = $("body").data("module_name");

  $('#submitforumreply').on("click", function (e) {
        e.preventDefault();
        var el = $(this);
        if ($("#replyoverview").val() == "") {
          $.alert("Kindly fill all inputs")
        }
        else {
          el.addClass("hidden");
          $("#forumreplyspinner").removeClass("d-none");
          $.ajax({
            method: "POST",
            url: "/addforumreply",
            data: { description: $("#replyoverview").val(), 
            replyto: $("#forumid").val(),
            elementid: "",
            topicid: "",
            moduleid: moduleid,
            coursename: $("body").data("course_name"),
            modulename: modulename
          }
        }).done(function (result) {
            console.log(result);
            el.removeClass("hidden");
            $("#forumreplyspinner").addClass("d-none");
            $.alert("Reply submitted");
            $("#replycount").html(parseInt($("#replycount").html())+1)
            $(".replies").append(`
            <div style="padding: 1rem;  margin-top: 1rem;" class="media border">
                        <div class="media-left d-none">
                          <a href="#">
                            <img class="media-object" src="https://ui-avatars.com/api/?name=siddharth sogani" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <p>${$("#replyoverview").val()}</p>
                          <div class="">
                            <span style="font-size: smaller; margin-left: 4%; color: #525252" class="pull-left">Posted by: ${$("body").data("name")} &nbsp;&nbsp;
                              <i>${(timeSince(new Date()))} ago</i></span>
                          </div>
                        </div>
                      </div>`)
          });
        }
      })
  $("#backtoforum").on("click", function(e){
                  e.preventDefault();
                  $("#module_dropdown, .askquestion").removeClass("d-none");
                  $(".post-comments, #forumdetail").toggleClass("d-none");
                });
  $('#submitforumquestion').on("click", function (e) {
        e.preventDefault();
        var el = $(this);
        if ($("#forumquestion").val() == "" || $("#forumoverview").val() == "") {
          $.alert("Kindly fill all inputs")
        }
        else {
          el.addClass("d-none");
          $("#forumspinner").removeClass("d-none");
          $.ajax({
            method: "POST",
            url: "/addforum",
            data: { title: $("#forumtitle").val(), 
            description: $("#forumoverview").val(), 
            elementid: "",
            topicid: "",
            moduleid: moduleid,
            coursename: $("body").data("course_name"),
            modulename: modulename
          }
          }).done(function (result) {
            console.log(result);
            el.removeClass("d-none");
            $("#forumspinner").addClass("d-none");
            $("#myModal").modal("toggle");
            $.alert("Question submitted");
            table.ajax.reload(function(){
            });
          });
        }
      })

      var course_url = window.location.pathname;
      // var course_url2 = course_url.split("/");
      // course_url =course_url2[1]+course_url2[2];
      var courseid = course_url.split("/")[course_url.split("/").length-1];
      $.ajax({
        method: "GET",
        url: "/getmodules2/"+courseid,
      }).done(function (docs) {
        console.log(docs);
        var option = '<option value="all">All Modules</option>';
        for(var i = 0; i < docs.length; i++){
          var selected = "";
          if(docs[i]["_id"].toString() == courseid){
            selected = "selected"
          }
          option = option + '<option '+selected+' value="'+docs[i]["_id"]+'">'+docs[i]["module_name"]+'</option>'
        }
        $("#module_dropdown").html(option).on("change", function(){
          moduleid = $(this).val();
          modulename = $(this).find(':selected').text();
          table.ajax.reload();
        });
        table = $('#example').DataTable({
              "bProcessing": true,
              "bServerSide": true,
              "bInfo": true,
              "sAjaxSource": "/datatable/forum",
              scrollX: true,
              "fnServerParams" : function(aoData) {
                aoData.push({ name: "moduleid", value: $("#module_dropdown").val() });
                },
              "language": 
                {          
                search: '<i class="fa fa-search" aria-hidden="true"></i>',
    searchPlaceholder: 'Search Questions'
                },
              "drawCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(".qandaloadingspinner").toggleClass("d-none").removeClass("qandaloadingspinner");

                // $("#example_filter label input").attr("placeholder", "Search for users");
                if(parseInt(nRow._iRecordsTotal)==0){
                  $("#example_wrapper").addClass("d-none");
                }
                else{
                  $("#example_wrapper").removeClass("d-none");
                }
                $('.viewreply, .writereply').on("click", function(e){
                  e.preventDefault();
                  $("#module_dropdown, .askquestion").addClass("d-none");
                  if($(this).data("editable")=="false" || $(this).data("editable")==false){
                    $(".addreplymodal").addClass("d-none");
                  }
                  $("#replyoverview").val("")
                  var el = $(this);
                  $(".post-comments, #forumdetail").toggleClass("d-none");
                  $(".replies").html("<i class='fa fa-spinner fa-spin'></i>")
                  $.ajax({
                    method: "GET",
                    url: "/getforumreplies/"+el.data("pk"),
                  }).done(function (docs) {
                    $("#replycount").html(docs.length);
                    var replies = "";
                    for(var i = 0; i<docs.length; i++){
                      replies = replies + `
                      <div class="media m-2 p-2 border">
                        <div class="media-left d-none">
                          <a href="#">
                            <img class="media-object" src="https://ui-avatars.com/api/?name=${docs[i].postedby_name}" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <p>${docs[i].description}</p>
                          <div class="">
                            <span style="font-size: smaller; margin-left: 4%; color: #525252" class="pull-left">Posted by: ${docs[i].postedby_name} &nbsp;&nbsp;
                              <i>${(timeSince(new Date(docs[i].date)))} ago</i></span>
                          </div>
                        </div>
                      </div>
                      `
                    }
                    $(".replies").html(replies);
                    var pk = el.data("pk");
                    $("#forumid").val(pk);
                    var title = el.data("title");
                    var description= el.data("description");
                    var author = el.data("author");
                    var date = timeSince(new Date(el.data("date")));
                    $("#replyquestionsection").html(`
                        <div class="media m-2 p-2">
                          <div class="media-left d-none">
                            <a href="#">
                              <img class="media-object" src="https://ui-avatars.com/api/?name=${author}" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <h2 class="mt-0">${title}</h2>
                            <p>${description}</p>
                            <div class="">
                              <span style="font-size: smaller; margin-left: 4%; color: #525252" class="pull-left">Posted by: ${author} &nbsp;&nbsp;
                                <i>${(date)} ago</i></span>
                            </div>
                          </div>
                        </div>
                    `)
                  });
                })
              }
          });
      });
})
</script>
<%-include partials/ebook.ejs%>

</body>
</html>
