<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AMP Digital Community | <%=post.content%></title>
  <meta name="description" content="Discuss your queries & Contribute to <%=module.module_name%> forum. <%=module.module_description%>">
  <meta name="keywords" content="discussion forum, question and answers, queries, community, digital marketing, <%=module.module_name%>">
  <meta name="author" content="AMP Digital">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <meta property="og:title" content="AMP Digital Community | <%=post.content%>" />
  <meta property="og:url" content="https://www.ampdigital.co/digital-marketing-community/<%=module.module_id%>" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="Discuss your queries & Contribute to <%=module.module_name%> forum. <%=module.module_description%>" />
  <meta property="og:image" content="<%=module.module_image.split('?')[0]%>" />

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.min.css" id="theme-stylesheet">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <link rel="stylesheet" type="text/css" href="/commentjs/css/jquery-comments.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <style>
    .hero-banner {
      height: 200px;
      width: auto !important;
      background-size: cover !important;
      background-position: center center !important;
    }
    .jquery-comments .commenting-field.main, .jquery-comments .navigation {
      display: none!important;
}
  </style>
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <!-- End Google Tag Manager -->
</head>

<head>
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Jquery Comments Plugin</title>

  <!-- Styles -->

  <!-- Data -->

  <!-- Libraries -->



  <!-- Init jquery-comments -->


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
  <script type="text/javascript" src="/commentjs/js/jquery-comments.js"></script>
              <link rel="stylesheet" href="https://www.ampdigital.co/css/font.min.css">

  <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="/css/custom.min.css">
  <!-- <script src="/vendor/jquery/jquery.min.js"></script> -->
  <script src="/vendor/popper.js/umd/popper.min.js"> </script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="/vendor/jquery.cookie/jquery.cookie.min.js"> </script> -->
  <script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
  <script src="/js/front.js"></script>
  <script src="/js/custom/notification.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

 <script type="text/javascript">
  $(document).ready(function(){
    $('.alreadyaccount').on('click', function(e){
        e.preventDefault()
        $('#loginModal').modal('toggle');
        $('#createAccount').modal('toggle');
      });
  })
    var usersArray = [
      {
        id: 1,
        fullname: "Current User",
        email: "current.user@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 2,
        fullname: "Jack Hemsworth",
        email: "jack.hemsworth@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 3,
        fullname: "Hank Smith",
        email: "hank.smith@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 4,
        fullname: "Todd Brown",
        email: "todd.brown@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 5,
        fullname: "Administrator",
        email: "administrator@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 6,
        fullname: "Simon Powell",
        email: "simon.powell@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      },
      {
        id: 7,
        fullname: "Bryan Connery",
        email: "bryan.connery@viima.com",
        profile_picture_url: "https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png"
      }
    ]
    $(function () {
      $('.js-example-basic-single').select2();
      var postid = $("body").data("post_id");
      var moduleid = $("body").data("module_id");
      var modulename = $("body").data("module_name");
      var saveComment = function (data, savesuccess) {

        // Convert pings to human readable format
        // $(Object.keys(data.pings)).each(function(index, userId) {
        //     var fullname = data.pings[userId];
        //     var pingText = '@' + fullname;
        //     data.content = data.content.replace(new RegExp('@' + userId, 'g'), pingText);
        // });

        $.ajax({
          type: 'post',
          url: '/addnewcomment',
          data: data,
          success: function (comment) {
            savesuccess(comment);
            // success(data);
          }
        });

      }
      $('#comments-container').comments({
        profilePictureURL: 'https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png',
        currentUserId: 1,
        roundProfilePictures: true,
        timeFormatter: function(time) {
          return moment(time).fromNow();
        },
        textareaRows: 1,
        enableAttachments: false,
        enableHashtags: true,
        enablePinging: true,
        scrollContainer: $(window),
        searchUsers: function (term, success, error) {
          setTimeout(function () {
            success(usersArray.filter(function (user) {
              var containsSearchTerm = user.fullname.toLowerCase().indexOf(term.toLowerCase()) != -1;
              var isNotSelf = user.id != 1;
              return containsSearchTerm && isNotSelf;
            }));
          }, 500);
        },
        getComments: function (success, error) {
          // setTimeout(function() {
          // 	success(commentsArray);
          // }, 500);
          console.log("ahoieghaeioghaeg");
          $.ajax({
            type: 'get',
            url: '/getforumcomment?postid='+postid,
            data: {},
            success: function (comments) {
              for (var i = 0; i < comments.length; i++) {
                if (comments[i]['parent'].trim() == '') {
                  comments[i]['parent'] = null;
                }
                // comments[i]["created"] = "2015-01-01";
                // comments[i]["modified"] = "2015-01-01";
                comments[i]["attachments"] = [];
                console.log("comments");
                if (comments[i]["fullname"] == $("body").data("fullname")) {
                  comments[i]["created_by_current_user"] = true;
                }
                if (comments[i]["fullname"] == "Amitabh Verma") {
                  comments[i]["profile_picture_url"] = "https://media-exp1.licdn.com/dms/image/C5103AQGATiCoqSjZYg/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=27sQMFdmiNj9DUs-9FgaIwibCCdNtDQwAJKTztpAXPI";
                }
                console.log(comments);
                var arr = comments[i]['upvoters'];
                    for (var j = 0; j < arr.length; j++) {
                        if (arr[j] == $('body').data('userid')) {
                            comments[i]['user_has_upvoted'] = true;
                        }
                    }
                // var arr = comments[i]['upvoters'];
                // for (var j = 0; j < arr.length; j++) {
                //     if (arr[j] == $('body').data('userid')) {
                //         comments[i]['user_has_upvoted'] = true;
                //     }
                // }
              }
              success(comments);
            }
          });
        },
        refresh: function(){
          $(".content").on("click", function(e){
            e.preventDefault();
            var id = $(this).closest(".by-current-user").data("id");
            var url = $(this).text().replace(/[^a-zA-Z0-9! ]+/g, "").replace(/\s+/g, '-').toLowerCase();
            var url = "/digital-marketing-community/post/"+url + "-" + id;
            window.location.href=url;
          })
          $('li[data-sort-key="oldest"]').on("click", function(){
          })
          $('li[data-sort-key="newest"]').on("click", function(){
          })
          // $(".textarea, .upvote, .reply").on("click", function(){
          //   alert("aegag");
          // })
        },
        postComment: function (data, success, error) {
          var data2 = data;
          var attachmentsToBeCreated = data.attachments.filter(function(attachment){
            return !attachment.id
          });
          if(attachmentsToBeCreated.length>0){
            data.file = attachmentsToBeCreated[0].file;
            data.type = attachmentsToBeCreated[0].mime_type;
          }
          data.modulename = modulename;
          data.moduleid = moduleid;
          data.rootid = postid;
          console.log(data);
          if(attachmentsToBeCreated.length==0){
            $.ajax({
              type: 'post',
              url: '/addnewcomment',
              data: data,
              success: function (comment) {
                success(data);
                // success(data);
              }
            });
          }
          else{
            // Create form data and append all other fields but attachments
            var formData = new FormData();
            var commentJSON = data2;
            $(Object.keys(commentJSON)).each(function(index, key) {
              if(key != 'attachments') {
                var value = commentJSON[key];
                if(value) formData.append(key, value);
              }
            });

            // Append attachments to be created to the form data
            var attachmentsToBeCreated = commentJSON.attachments.filter(function(attachment){
              return !attachment.id
            });
            $(attachmentsToBeCreated).each(function(index, attachment) {
              formData.append('attachments_to_be_created', attachment.file);
            });

            // Save the comment together with the attachments
            $.ajax({
              type: 'post',
              url: '/api/comments/',
              data: formData,
              processData: false,
              success: function(comment) {
                success(comment);
              },
              error: error
            });
          }

        },
        putComment: function (data, success, error) {
          $.ajax({
            type: 'post',
            url: '/updatecomment',
            data: data,
            success: function (comment) {
              success(data);
              // success(data);
            }
          });
        },
        deleteComment: function (data, success, error) {
          $.ajax({
            type: 'post',
            url: '/deletecomment',
            data: data,
            success: function (comment) {
              success(data);
              // success(data);
            }
          });
        },
        upvoteComment: function (data, success, error) {
          $.ajax({
            type: 'post',
            url: '/upvotecomment',
            data: data,
            success: function (comment) {
              success(data);
              // success(data);
            }
          });
        },
        validateAttachments: function (attachments, callback) {
          setTimeout(function () {
            callback(attachments);
          }, 500);
        },
      });
    });

  </script>

</head>

<body style="background: #f5f8fa;font-family: Lato, Helvetica, Arial, sans-serif;
line-height: 20px;" data-userid="<%=userid%>" data-fullname="<%=fullname%>" data-name="<%=name%>""
 data-module_name="<%=module.module_name%>"
 data-post_id="<%=post.id%>"
  data-module_id="<%=module._id%>">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- header-->
  <%-include partials/header.ejs%>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <div id="comments-container" class="mt-1"></div>
      </div>
    </div>
  </div>

</body>

</html>