<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Referral Program | Digital Marketing Programs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- <meta name="robots" content="Use this time wisely to invest in yourself and learn an in-demand skill from the comfort of your college/home with certified courses from AMP Digital Trainings. To avail a limited period 50%+10% discount on all the trainings, click here - "+$("#share").data("url")"> -->

  <meta property="og:title" content="AMP Digital Referral Program" />
  <meta property="og:url" content="https://www.ampdigital.co?code=<%=referralcode%>" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="Use this time wisely to invest in yourself and learn an in-demand skill from the comfort of your college/home with certified courses from AMP Digital Trainings. Click on the post to avail a limited period 50%+10% discount on all the trainings, click" />
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <link rel="stylesheet" href="/css/style.default.min.css" id="theme-stylesheet">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">

  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />

  <style>
    .nav-tabs .nav-link:hover{
      color: #0062cc!important;
    }
    #invitenow, #invitenow:hover{
      color: white!important;
    }
    .breadcrumb-item+.breadcrumb-item::before {
  color: white;
}
.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc!important;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc!important;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
  </style>
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NTJGZ4L');</script>
  <!-- End Google Tag Manager -->
</head>
<body style="background: #f5f8fa;">
  <div id="referandearnModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <h3>Invite Friends Now</h3>
              <!-- Trigger -->
              <!-- The text field -->
            </div>
            <div class="row justify-content-center">
              <div data-url="https://www.ampdigital.co?code=<%=referralcode%>" id="share"></div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- header-->
<%-include partials/header.ejs%>

<section class="contact" style="padding-bottom: 2rem!important;">
  <div class="container">
    <!--<p class="lead mb-5">
      Are you curious about something? Do you have some kind of problem with our products? As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am
      he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.
    </p>-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><span style="font-weight: bold;">REFERRAL PROGRAM</span></a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><span style="font-weight: bold;">MY REWARDS</span></a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row justify-content-center p-4">
                    <%if(referralcode==null){%>
                    <h3 class="mt-4 text-center"><a href="/#courses">Enroll</a> for a course to get your referral code</h3>
                      <%}else{%>
                        <div class="row">
                          <h3 class="mt-4 p-4 text-center">Invite Friends to learn on AMP Digital trainings and earn Cash rewards</h3>
                        <!-- <p class="text-center">Share <a href="https://www.ampdigital.co/?code=<%=referralcode%>">this link</a> with your friends or click on Invite Now button below. <br></p> -->
                       
                        </div>
                        <div class="row">
                        <table class="table table-hover table-bordered">
                          <tr>
                            <th>Course Name</th>
                            <th>                      <img style="width: 2rem!important;" src="/money-earn-svgrepo-com.svg" alt="">
                              All Your Friends Get</th>
                            <th><img style="width: 2rem!important;" src="/tag-discount-svgrepo-com.svg" alt="">You Receive</th>
                            <th>Invite</th>
                          </tr>
                          <tr>
                            <td>SEO Workshop</td>
                            <td>50%+10% off</td>
                            <td><i class="fa fa-rupee"></i> 50</td>
                            <td><button data-courseurl="/courses/seo-workshop?code=<%=referralcode%>" data-sharedtext="Learn Advanced SEO Tools & Techniques through a 2-day live online workshop by an Ex-Googler at just Rs 500. Register now to get extra 10% off and also get access to free SEO tools." class="btn btn-primary btn-sm referandearn">Refer & Earn</button></td>
                          </tr>
                          <tr>
                            <td>Digital Marketing Course</td>
                            <td>50%+10% off</td>
                            <td><i class="fa fa-rupee"></i> 400</td>
                            <td><button data-courseurl="/courses/digital-marketing-course?code=<%=referralcode%>" data-sharedtext="Master world's most in-demand Digital marketing skills on AMP Digital & prepare for a career in Online advertising & Digital Marketing. To avail a limited period 50%+10% discount on trainings, click here:" class="btn btn-primary btn-sm referandearn">Refer & Earn</button></td>
                          </tr>
                          <tr>
                            <td>Google Adwords Certification Program</td>
                            <td>50%+10% off</td>
                            <td><i class="fa fa-rupee"></i> 750</td>
                            <td><button data-courseurl="/courses/google-ads-certification-course?code=<%=referralcode%>" data-sharedtext="Master world's most advanced online advertising platform and prepare for career in Online advertising and Digital Marketing. To avail a limited period 50%+10% discount on training, click here:" class="btn btn-primary btn-sm referandearn">Refer & Earn</button></td>
                          </tr>
                        </table>
                       </div>
                        <%}%>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <% if(docs.length==0){ %>
                  <p style="font-size: larger" class="mt-4">
                    Looks like none of your friends registered yet. Invite friends to learn on AMP Digital trainings and earn cash rewards
                  </p>
                  <a id="invitenow" class="btn btn-primary">Invite Now</a >
                    <%}else{%>
                      <br><br>
                      <table class="table table-hover table-bordered table-striped">
                        <tr>
                          <th>Buyer Name</th>
                          <th>You earned</th>
                          <th>Offer to enrollment</th>
                          <th>Enrollment Date</th>
                        </tr>
                        <%for(var i = 0; i < docs.length; i++){%>
                        <tr>
                          <td><%=docs[i]['buyer_name']%></td>
                          <td> <i class="fa fa-rupee-sign"></i> <%=docs[i]['offertoparticipant']%></td>
                          <td> <i class="fa fa-rupee-sign"></i> <%=docs[i]['discount']%></td>
                          <td><%=moment(docs[i].date).format("DD/MMM/YYYY HH:mm A")%></td>
                        </tr>
                        <%}%>
                      </table>
                      <%}%>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

</section>
<section class="contact bg-gray referralstats d-none">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 row justify-content-center">
          <p style="font-size: xx-large;"><%=signups%></p> 
      </div>
      <div class="col-6 row justify-content-center">
          <p class="text-center" style="font-size: xx-large;"><i class="fas fa-rupee-sign"></i><%=earned%></p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-6 row justify-content-center">
          <p style="font-size: small;">TOTAL SIGNUPS</p>
      </div>
      <div class="col-6 row justify-content-center">
          <p style="font-size: small;" class="text-center">TOTAL AMOUNT EARNED</p>
      </div>
    </div>
  </div>

</section>
<!-- footer-->
<!-- JavaScript files-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> <!--load all styles -->
<link rel="stylesheet" href="/css/custom.min.css">
<link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">
            <link rel="stylesheet" href="https://www.ampdigital.co/css/font.min.css">

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/front.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<!---->
<script type="text/javascript">
$(document).ready(function(){
  var sharedtext = "Master world's most in-demand Digital marketing skills on AMP Digital & prepare for a career in Online advertising & Digital Marketing. To avail a limited period 50%+10% discount on trainings, click here:";
  $(".referandearn").on("click", function(){
    sharedtext = $(this).data("sharedtext");
    var courseurl = "https://www.ampdigital.co"+$(this).data("courseurl");
    $("#referandearnModal").modal("toggle");
    $("#share").jsSocials({
    url: courseurl,
    text: sharedtext,
    shares: ["whatsapp", "facebook", "linkedin", "messenger","twitter", "telegram", "email"]
        });
  })
 
  $('.nav-tabs a').on('shown.bs.tab', function(event){
  var x = $(event.target).text();         // active tab
  var y = $(event.relatedTarget).text();  // previous tab
  if(x == 'REFERRAL PROGRAM'){
    $('.copylinksection, .referralstats').toggleClass('d-none')
  }
  else{
    $('.copylinksection, .referralstats').toggleClass('d-none')
  }
});

$('#invitenow').on('click', function(){
  $('.nav-tabs a:first').tab('show');
})

var clipboard = new ClipboardJS('.copybtn');

clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    e.clearSelection();
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});
})
</script>
<script src="/js/custom/notification.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.41.0.min.js"></script>
<script src="/js/chatbot.js"></script>

</body>
</html>
