<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Webinars | AMP Digital</title>
  <meta name="description" content="Webinars for marketing professionals">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Digital marketing webinars, SEO webinars, SEM webinars, digital career webinars">
  <meta name="robots" content="all,follow">
  <meta property="og:title" content="Webinars | AMP Digital" />
  <meta property="og:url" content="https://www.ampdigital.co/webinars" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="Webinars for marketing professionals" />
  <meta property="og:image" content="https://www.ampdigital.co/ogimages/webinars-01.png" />

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.min.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <style>
    .blog-post .image {
    position: relative;
    overflow: hidden;
    height: 175px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
    @media(min-width:767px) {
      .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%;
        margin-right: 1%;
      }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      background-color: #856296!important;
    }
  </style>
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body style="background: #f5f8fa;">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- header-->
  <%-include partials/header.ejs%>
  <!-- Blog Listings-->
  <section class="blog-listings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li aria-current="page" class="breadcrumb-item active">Webinars</li>
            </ol>
          </nav>
          <h1>Webinars</h1>
          <div style="margin-top:1em" class="container">
            <nav class="nav nav-pills nav-justified d-flex justify-content-center">
              <a href="/webinars" class="nav-link <%=(active=='all')? 'active': ''%> ">All</a>
              <a href="/webinars/upcoming" class="nav-link <%=(active=='upcoming')? 'active': ''%> ">Upcoming</a>
              <a href="/webinars/concluded" class="nav-link <%=(active=='concluded')? 'active': ''%> ">Concluded</a>
            </nav>
            <div class="row mt-4">
              <% for(var i = 0; i < webinars.length; i++){%>
              <div style="box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
              border-radius: 18px;" class="p-0 pb-2 mb-2 d-flex align-items-stretch col-md-4 bg-gray">
                <div class="blog-post mb-0">
                  <div class="image"><img style="width:100%!important;" src="<%=webinars[i]['webinarpicture']%>"
                      alt="<%=webinars[i]['title']%>">
                    <div class="overlay d-flex align-items-center justify-content-center"><a
                        href="/webinar/<%=webinars[i]['webinarurl']%>" class="btn btn-outline-light">
                        <%if(new Date(webinars[i]["date"]) < new Date()){%>
                          Watch Recording
                          <%}else{%>
                            Book Slot
                            <%}%>
                      </a></div>
                  </div>
                  <!-- <div class="author"><img src="img/avatar.jpg" alt="author" class="img-fluid"></div> -->
                  <div class="text bg-gray"><a href="/webinar/<%=webinars[i]['webinarurl']%>">
                      <h3 style="color: cornflowerblue;" class="text-this"><%=webinars[i]['webinarname']%></h3>
                    </a>
                    <ul class="post-meta list-inline">
                      <li class="list-inline-item"><i class="icon-clock-1"></i>Upcoming on
                        <%=moment(webinars[i]["date"]).format("DD/MMM/YYYY HH:mm A")%></li>
                      <li class="list-inline-item"><i class="icon-chat"></i>by <%=webinars[i]['speakername']%></li>
                    </ul>
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <div class="category"><i class="fa fa-tags"></i><a href="#">Level: <%=webinars[i]['level']%></a>
                      </div>
                    </div>
                    <%if(new Date(webinars[i]["date"]) < new Date()){%>
                      <a style="color: white!important; border-radius: 25px!important;" class="btn btn-md btn-primary btn-block"
                      href="/webinar/<%=webinars[i]['webinarurl']%>">Concluded, View Recording</a>
                    <%}else{%>
                      <a style="color: white!important; border-radius: 25px!important;" class="btn btn-md btn-primary btn-block"
                      href="/webinar/<%=webinars[i]['webinarurl']%>">Book Your Slot</a>
                      <%}%>
                  </div>
                </div>
              </div>
              <%}%>
        </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- sidebar-->
        <div class="blog-sidebar">
          <div class="widget social border-0 pd-0">
            <ul class="social-buttons list-unstyled">
              <li><a href="https://twitter.com/amitabh26" class="twitter d-flex">
                <div class="icon">                   <i class="fa fa-twitter"></i></div>
                <div class="text d-flex justify-content-between">
                  <div class="left"><strong>3387</strong><span>Followers</span></div>
                  <div class="right"><strong>Twitter</strong></div>
                </div></a></li>
            <li><a href="https://www.facebook.com/AMPDigitalNet/" class="facebook d-flex">
                <div class="icon">                   <i class="fa fa-facebook"></i></div>
                <div class="text d-flex justify-content-between">
                  <div class="left"><strong>2,095</strong><span>Likes</span></div>
                  <div class="right"><strong>Facebook</strong></div>
                </div></a></li>
            <li><a href="https://www.youtube.com/channel/UCMOBtxDam_55DCnmKJc8eWQ" class="youtube d-flex mb-0">
                <div class="icon">                   <i class="fa fa-youtube-play"></i></div>
                <div class="text d-flex justify-content-between">
                  <div class="left"><strong>246</strong><span>Subscribers</span></div>
                  <div class="right"><strong>Youtube</strong></div>
                </div></a></li>
            </ul>
          </div>
          <!-- <div class="widget categoris">
            <div class="widget-header"><strong>Categories</strong></div>
            <div class="widget-body">
              <ul class="categoris-list list-unstyled">
               
              </ul>
            </div>
          </div> -->
          <!-- <div class="widget tags">
            <div class="widget-header"><strong>Tags</strong></div>
            <div class="widget-body">
              <ul class="tags list-inline">
                <li class="list-inline-item"><a href="#" class="tag">Education</a></li>
                <li class="list-inline-item"><a href="#" class="tag">Photoshop</a></li>
                <li class="list-inline-item"><a href="#" class="tag">Photography</a></li>
                <li class="list-inline-item"><a href="#" class="tag">Online Learning</a></li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer-->
<%-include partials/footer2.ejs%>
              <!-- JavaScript files-->
              <link rel="stylesheet"
                href="https://d19m59y37dris4.cloudfront.net/university/1-1-1/vendor/font-awesome/css/font-awesome.min.css">
              <!-- Fontastic CSS-->
                          <link rel="stylesheet" href="https://www.ampdigital.co/css/font.min.css">

              <link rel="stylesheet" href="/css/custom.min.css">
              <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">
              <script src="/vendor/jquery/jquery.min.js"></script>
              <script src="/vendor/popper.js/umd/popper.min.js"> </script>
              <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
              <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
              <script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
              <script src="/js/front.js"></script>
              <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
              <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
              <!---->
              <script>
                $(document).ready(function () {
                  $('.forgotpasswordbutton').on('click', function (e) {
                    e.preventDefault();
                    $('.loginform').addClass('d-none');
                    $('.forgotpasswordform').removeClass('d-none');
                    $('.loginpaneltitle').html('Forgot Password');
                  });

                  $('.loginformbutton').on('click', function (e) {
                    e.preventDefault();
                    $('.loginform').removeClass('d-none');
                    $('.forgotpasswordform').addClass('d-none');
                    $('.loginpaneltitle').html('Login');
                  });

                  $('.alreadyaccount').on('click', function (e) {
                    e.preventDefault()
                    $('#loginModal').modal('toggle');
                    $('#createAccount').modal('toggle');
                  });

                  $('.forgotpasswordform').on('submit', function (e) {
                    $(this).children('button').attr('disabled', 'disabled');
                    e.preventDefault();
                    var email = $('#forgotpasswordemail').val();
                    $.ajax({
                      method: "POST",
                      url: "/forgotpassword",
                      data: { email: email }
                    }).done(function (response) {
                      if (response._id) {
                        $('#loginModal').modal('toggle');
                        $.alert('<div class="text-center"> <i style="font-size: 75px;" class="fab fa-plane color-primary"></i>\n' +
                          '            <h3>\n' +
                          '              Instructions on resetting your password are on their way!\n' +
                          '            </h3>\n' +
                          '            <p>If you do not receive an email soon ensure that the email is valid and that you can receive emails\n' +
                          '              from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p></div>');
                      }
                      console.log(response);
                    });
                  });
                })
              </script>
              <script src="/js/custom/notification.min.js"></script>
              <script src="https://sdk.amazonaws.com/js/aws-sdk-2.41.0.min.js"></script>
<script src="/js/chatbot.min.js"></script>
</body>

</html>