
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css">
        <link type="text/css" rel="stylesheet" href="http://jhollingworth.github.io/bootstrap-wysihtml5/lib/css/prettify.css"/>
        <link type="text/css" rel="stylesheet" href="http://jhollingworth.github.io/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css"/>
    <!-- MetisMenu CSS -->
    <link href="https://technext.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://technext.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://technext.github.io/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="http://jhollingworth.github.io/bootstrap-wysihtml5/lib/css/prettify.css"/>
    <link type="text/css" rel="stylesheet" href="http://jhollingworth.github.io/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css"/>
      <style>
        .wysihtml5-sandbox{
          width: 100%!important;
        }
        a{
      cursor: pointer;
    }
      </style>
  </head>

<body>
  <div id="updatecontentmodal" class="modal modal-lg fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div style="background: #F42434;" class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Blog Content</h4>
        </div>
        <div style="background: #FDF8C6" class="modal-body">
          <textarea id="some-textarea" placeholder="Enter text ..." style="styles to copy to the iframe"></textarea>
          <input type="hidden" id="blogid" value="">
        </div>
        <div class="modal-footer">
                  <button id="updateblogcontent" type="button" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
   <div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div style="background: #F42434;" class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;">CREATE BLOG</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="background: #FDF8C6" class="modal-body">
            <div class="" style="color: black!important;" id="payment-wrap">
                <form id="blogform" method="POST" action="/addblog" class="row">
                    <!--<div class="form-group col-md-12">
                        <label for="example-text-input" class="col-form-label pull-left">Image</label>
                        <input name="image" class="form-control" type="text" id="example-text-input">
                    </div>-->
                    <div class="form-group col-md-12">
                        <label for="example-text-input" class="col-form-label pull-left">Title</label>
                        <input name="title" class="form-control" type="text" id="example-email-input">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="example-text-input" class="col-form-label pull-left">Author</label>
                        <input name="author" class="form-control" type="text" id="example-email-input">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="example-text-input" class="col-form-label pull-left">Overview</label>
                        <textarea rows="3" name="overview" class="form-control" type="text" id="example-text-input"></textarea>
                    </div>
                    <!--<div class="form-group col-md-12">
                        <label for="example-text-input" class="col-form-label pull-left">Content</label>:
                        <a class="longapprodescription editable editable-click editable-open" href="#" id="longdescription" data-type="wysihtml5"  data-title="Enter long description" data-original-title="" title=""></a>
                    </div>-->
                    <!--<hr width="120%"  style="height: 1px;">-->
                    <div class="col-md-12 ml-4" style="margin-left: 3%!important;">
                        <div class="mbr-section-btn justify-content-center row">
                            <input placeholder="submit" class="btn-primary btn btn-md display-4" type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin">AMP Digital Admin Panel</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                      <li><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                      <li ><a  href="/manage/jobs"><i class="fa fa-table"></i> Manage Jobs</a></li>  
            <li><a  href="manage/buddingarketerapplications"><i class="fa fa-table"></i> Budding marketer applications</a></li>

                               
                      <li><a href="/manage-coupons"><i class="fa fa-table"></i> Manage Coupon Codes</a></li>
                      <li><a  href="/manage/courses"><i class="fa fa-table"></i> Manage Courses</a></li>
                                <li><a href="/manage/forum"><i class="fa fa-money"></i> Manage Forums</a></li><li><a href="/submissions"><i class="fa fa-money"></i> Manage Submissions</a></li>
          <li><a href="/manage/webinarattendees"><i class="fa fa-users"></i> Manage Webinar Attendees</a></li>

                      <li class="active"><a href="/manage/blogs"><i class="fa fa-table"></i> Manage Blogs</a></li>
                      <li><a href="/manage/webinar"><i class="fa fa-table"></i> Manage Webinar</a></li><li><a href="/manage/team"><i class="fa fa-table"></i> Manage Team</a></li>
          
                      <li><a href="/addfaq"><i class="fa fa-table"></i> Manage FAQs</a></li>
                      <li><a href="/couponstats"><i class="fa fa-table"></i> Referral/Promotional Programs</a></li>
                      <li><a href="/quizes"><i class="fa fa-table"></i> Manage Quizes</a></li>
                      <li class=""><a href="/quizreport"><i class="fa fa-bar-chart-o"></i> Course Stats</a></li>          
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blogs</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
              <button style="margin-left:1%;" class="btn btn-primary btn-sm" data-target="#blogModal" data-toggle="modal">Create Blog</button>
            </div>
            <div class="row" style="margin-top: 1%;">
              
              <div class="col-md-12">
                <table class="cell-border compact stripe hover row-border">
                  <thead>
                  <tr>
                      <th>Title</th>
                      <th>Overview</th>
                      <th>Content</th>
                      <th>Image</th>
                      <th>Author</th>
                      <th>Published On</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%for(var i = 0; i < blogs.length; i++){%>
                  <tr>
                    <td>
                      <a class="updatequestion approtitle" id="updatequestion" data-type="textarea" data-pk="<%= blogs[i]['_id'] %>" data-url="/updateblogtitle" data-title="Enter title"><%=blogs[i]['title']%></a>
                  </td>
                  <td>
                    <a class="updatequestion approtitle" id="updatequestion" data-type="textarea" data-pk="<%= blogs[i]['_id'] %>" data-url="/updateblogoverview" data-title="Enter overview"><%=blogs[i]['overview']%></a>
                </td>
                <td>
                  <button data-pk="<%= blogs[i]['_id'] %>" data-content="<%= blogs[i]['content'] %>" class="updatecontent">Update Content</button>
  
                  <!-- <a data-container="body" class="updatequestion approtitle" id="course_name" data-type="wysihtml5" data-pk="<%= blogs[i]['_id'] %>" data-url="/updateblogcontent" data-title="Enter Blog Content"><%- blogs[i]['content'] %></a> -->
                </td>
                <td>
                  <%if(blogs[i].image){%>
                    <a target="_blank" class="btn-2 btn btn-success" href="<%=blogs[i].image%>">
                      <i class="fa fa-download"></i> Download</a> <br>
                      <form data-elementid="<%= blogs[i]['_id'] %>" class="fileUploadForm" data-id="file0" method="post" enctype="multipart/form-data">
                        <span class="hidden submitdone">You uploaded</span>
                        <a target="_blank" class="progresslink hidden btn btn-success" href="">
                          <i class="fa fa-download"></i> Download</a>
                          <span class="progress"></span>
                          <input type="file" name="file" id="file0" value="dataFile" required="">
                          <input data-id="file0" class="submitimage btn btn-sm btn-primary" style="margin-top: 1%;" type="submit" value="Update Image">
                        </form>
                    <%}else{%>
                    <form data-elementid="<%= blogs[i]['_id'] %>" class="fileUploadForm" data-id="file0" method="post" enctype="multipart/form-data">
                      <span class="hidden submitdone">You uploaded</span>
                      <a target="_blank" class="progresslink hidden btn btn-success" href="">
                        <i class="fa fa-download"></i> Download</a>
                        <span class="progress"></span>
                        <input type="file" name="file" id="file0" value="dataFile" required="">
                        <input data-id="file0" class="submitimage btn btn-sm btn-primary" style="margin-top: 1%;" type="submit" value="Upload Image">
                      </form>
                    <%}%>
                  
                </td>
                <td>
                  <a class="updatequestion approtitle" id="updatequestion" data-type="textarea" data-pk="<%= blogs[i]['_id'] %>" data-url="/updateblogauthor" data-title="Enter author name"><%=blogs[i]['author']%></a>
              </td>
              <td><%=moment(blogs[i]["date"]).format("DD/MMM/YYYY HH:mm A")%></td>
                      <td>
                          <a data-pk="<%= blogs[i]['_id'] %>" style="cursor: pointer; color: red;" class="removeblog">Remove</a>
                      </td>
                  </tr>
                  <%}%>
                  </tbody>
              </table>
              </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="http://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/jquery-1.7.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/bootstrap.min.js"/></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://technext.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="https://technext.github.io/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

       <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
       <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
       <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<!--Confirm.js alerts Plugin-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<script src="http://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
<script src="http://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/prettify.js"/></script>
<script src="http://jhollingworth.github.io/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"/></script>

<script type="text/javascript">
  $.fn.editableform.buttons =
    '<button type="submit" class="btn btn-primary btn-sm editable-submit">'+
      'Submit'+
    '</button>'+
    '<button type="button" class="btn btn-default btn-sm editable-cancel">'+
      'Cancel'+
    '</button>';
  $(".fileUploadForm").submit(function(e) {
                              e.preventDefault();
                              $('.btn-2').hide();
                              var el = $(this);
                              var id = $(this).data('id');
                              var elementid = $(this).data('elementid');
                              var bucket = new AWS.S3({params: {Bucket: 'ampdigital'}});
                              var fileChooser = document.getElementById(id);
                              var file = fileChooser.files[0];
                              var imageurl;
                              console.log(file);
                              console.log('FILE____NAME');
                              console.log(file.name);
                              if (file) {
                                  var params = {Key: file.name, ContentType: file.type, Body: file};
                                  bucket.upload(params).on('httpUploadProgress', function(evt) {
                                      el.children('.progress').html("Uploading :: " + parseInt((evt.loaded * 100) / evt.total)+'% completed');
                                  }).send(function(err, data) {
                                      el.children('.progress').html("Processing... Please wait.");
                                      imageurl = data.Location;
                                      $.ajax({
                                          type: "PUT",
                                          url: '/uploadblogimage',
                                          data: {
                                              id: elementid,
                                              image: imageurl
                                          },
                                          success: function(result){
                                            el.children('.submitdone').removeClass('hidden');
                                            el.children('.submitimage').val('Update Image')
                                              el.children('.progress').html("Upload Finished");
                                              el.children('.progresslink').removeClass('hidden');
                                              el.children('.progresslink').attr("href", imageurl);
                                          }
                                      });
                                  });
                              }
                              return false;
                          });
  
      $(document).ready(function () {
        var content = "";

        $('#some-textarea').wysihtml5({
          "events": {
          "load": function() { 
            console.log("Loaded!");
          }
        }
      });

        $('.updatecontent').on('click', function(){
          $('#updatecontentmodal').modal('toggle');
         
          var blogid = $(this).data('pk');
          content = $(this).data('content');
          $('#blogid').val(blogid);

          var editorObj = $("#some-textarea").data('wysihtml5');
            var editor = editorObj.editor;
            editor.setValue(content);
        })

        $("#updatecontentmodal").on('hidden.bs.modal', function () {
    $(this).data('bs.modal', null);
});
  
        $('#updateblogcontent').on('click', function(){
          var id = $('#blogid').val();
          var content = $('#some-textarea').val();
          $.ajax({
                                          type: "POST",
                                          url: '/updateblogcontent',
                                          data: {
                                              pk: id,
                                              value: content
                                          },
                                          success: function(result){
                                            location.reload();
                                          }
                                      });
        })
  
      
        
      $('.updateanswer, .updatequestion, .updatecategory').editable();
       
        $(this).scrollTop(0);
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        }
        $('.removeblog').on('click', function (e) {
            e.preventDefault();
            var blogid = $(this).data('pk');
            $.confirm({
                title: 'Prompt!',
                content: 'Are you sure to delete the blog?',
                buttons: {
                    Yes: {
                        text: 'Yes',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                                type: "DELETE",
                                url: '/removeblog',
                                data: {
                                    blogid: blogid
                                },
                                success: function(result){
                                    $.alert('Blog Deleted!');
                                    location.reload();
                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    },
                }
            });
        });
        $('table').DataTable({
            "initComplete": function(settings, json) {
            }
        });
      });
  </script>
</body>

</html>
