<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Users - AMP Digital</title>

  <!-- Bootstrap core CSS -->
  <link href="/sbadmin/css/bootstrap.css" rel="stylesheet">
  <!--<link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->

  <!-- Add custom CSS here -->
  <link href="/sbadmin/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="/sbadmin/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <!--<link href="/css/style.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" href="/css/default.css" id="option_color">-->
  <!-- Page Specific CSS -->
  <!--<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">-->
  <style>
    .select2-container{
      width: 100%!important;
    }
  </style>
</head>

<body>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new event</h4>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="homeContactContent">
            <form action="createevent" method="POST" role="form">
              <div class="form-group">
                <i class="fa fa-user"></i>
                <input name="event_name" required type="text" class="form-control border-color-1" id="event_name" placeholder="Event name">
              </div>
              <div class="form-group">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                <textarea name="event_description" required class="form-control border-color-2" placeholder="Event Description"></textarea>
              </div>
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <input name="event_date" type='text' class="form-control" />
                  <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
              </div>
              <div class="form-group">
                <i class="fa fa-location-arrow"></i>
                <input name="event_location" required type="text" class="form-control border-color-6" id="event_location" placeholder="Event location">
              </div>
              <div class="form-group">
                <i class="fa fa-user"></i>
                <input name="event_hostedby" required type="text" class="form-control border-color-4" id="event_hostedby" placeholder="Event hosted by">
              </div>
              <div class="form-group">
                <i class="fa fa-globe"></i>
                <input name="event_latitude" required type="text" class="form-control border-color-5" id="event_latitude" placeholder="Event latitude">
              </div>
              <div class="form-group">
                <i class="fa fa-globe"></i>
                <input name="event_longitude" required type="text" class="form-control border-color-6" id="event_longitude" placeholder="Event longitude">
              </div>
              <button type="submit" class="btn btn-primary">Create Event</button>
            </form>
          </div>
        </div>
      </div>
      <div style="border: 0;" class="modal-footer">
      </div>
    </div>

  </div>
</div>

<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">AMP Digital Admin Panel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li ><a  href="/manage/jobs"><i class="fa fa-table"></i> Manage Jobs</a></li>  
            <li><a  href="manage/buddingarketerapplications"><i class="fa fa-table"></i> Budding marketer applications</a></li>
          <li><a href="/manage-coupons"><i class="fa fa-table"></i> Manage Coupon Codes</a></li>

        
        
        <li><a  href="/addcourse"><i class="fa fa-table"></i> Manage Courses</a></li>          <li><a href="/manage/forum"><i class="fa fa-money"></i> Manage Forums</a></li><li><a href="/submissions"><i class="fa fa-money"></i> Manage Submissions</a></li>
          <li><a href="/manage/webinarattendees"><i class="fa fa-users"></i> Manage Webinar Attendees</a></li>

        <li><a href="/manage/blogcategories"><i class="fa fa-table"></i> Manage Blog Categories</a></li><li><a href="/manage/blogs"><i class="fa fa-table"></i> Manage Blogs</a></li><li><a href="/manage/webinar"><i class="fa fa-table"></i> Manage Webinar</a></li><li><a href="/manage/team"><i class="fa fa-table"></i> Manage Team</a></li>


                    <li ><a href="/manage/bookdownloads"><i class="fa fa-table"></i> Manage Book Downloads</a></li>

<li><a href="/couponstats"><i class="fa fa-table"></i> Referral/Promotional Programs</a></li>
<li><a href="/quizes"><i class="fa fa-table"></i> Manage Quizes</a></li>
        <li class=""><a href="/quizreport"><i class="fa fa-bar-chart-o"></i> Course Stats</a></li>

        <!--<li><a href="forms.html"><i class="fa fa-edit"></i> Forms</a></li>
        <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
        <li><a href="bootstrap-elements.html"><i class="fa fa-desktop"></i> Bootstrap Elements</a></li>
        <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>
        <li><a href="blank-page.html"><i class="fa fa-file"></i> Blank Page</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Dropdown Item</a></li>
            <li><a href="#">Another Item</a></li>
            <li><a href="#">Third Item</a></li>
            <li><a href="#">Last Item</a></li>
          </ul>
        </li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-user">
        <!--<li class="dropdown messages-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">7 New Messages</li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="#">View Inbox <span class="badge">7</span></a></li>
          </ul>
        </li>
        <li class="dropdown alerts-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Default <span class="label label-default">Default</span></a></li>
            <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
            <li><a href="#">Success <span class="label label-success">Success</span></a></li>
            <li><a href="#">Info <span class="label label-info">Info</span></a></li>
            <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
            <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
            <li class="divider"></li>
            <li><a href="#">View All</a></li>
          </ul>
        </li>-->
        <li class="dropdown user-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=email%> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!--<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
            <li class="divider"></li>-->
            <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">
    <div class="row">
      <div  class="col-lg-12">
        <h1>Manage users <small></small></h1>
        <ol class="breadcrumb">
          <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
          <li class="active"><i class="fa fa-users"></i> Users</li>
        </ol>
      </div>
    </div>
    <div class="">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Manage Users</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div style="margin-top:5%;" class="row">
            <table class="table user-list">
              <thead>
              <tr>
                <th><span>S.no</span></th>
                <th><span>Source</span></th>
                <th><span>User</span></th>
                <!--<th class="text-center"><span>Status</span></th>-->
                <th><span>Email</span></th>
                <th><span>Courses Access</span></th>
                <th><span>Provide Certificate</span></th>
                <th><span>Last logged in on</span></th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <% for(var h = 0; h <users.length; h++){
                var user = users[h];
                var userid = users[h]._id;
                if(typeof user.isadmin== 'undefined' && user.isadmin==null){
                  var isadmin = "false";
                  var dataisadmin = "false";
                  var tooltiptitle = "Make admin";
                  var membertext = "Member"
                }
                else if(user.isadmin == "true"){
                  var isadmin = "true";
                  var dataisadmin = "true";
                  var tooltiptitle = "Remove admin";
                  var membertext = "Admin"
                }
                else{
                  var isadmin = "false";
                  var dataisadmin = "false";
                  var tooltiptitle = "Make admin";
                  var membertext = "Member"
                }

                if (user.facebook.id != null) {
                  var source = 'Facebook';
                  var email = user.email;
                  var name = user.facebook.name;
                  var img = 'http://graph.facebook.com/'+user.facebook.id+'/picture?type=square';
                }
                else if (user.google.id != null){
                  var source = 'Google+';
                  var email = user.email;
                  var name = user.google.name;
                  var img = 'https://avatars.io/gravatar/'+user.google.email+'/140';
                }
                else if (user.linkedin.id != null) {
                  var source = 'LinkedIn';
                  var img = user.linkedin.profilepictureurl;
                  var name = user.linkedin.name;
                  var email = user.email;
                }else{
                  var source = 'Signup Form';
                  var img = '';
                  var name = user.local.name;
                  var email = user.email;
                } %>
              <tr>
                <td>
                    <%=h+1%>
                </td>
                <td>
                    <%=source%>
                </td>
                <td>
                    <%if(img){%>
                  <img src="<%=img%>" alt="">
                    <%}else{%>
                  <i class="fa fa-user"></i>
                    <%}%>
                  <a href="#" class="user-link"><%=name%></a>
                  <span class="user-subhead"><%=membertext%></span>
                </td>
                <td>
                  <a href="#"><%=email%></a>
                </td>
                <td>
                  <form data-id="<%=user._id%>" class="addaccess" action="">
                    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                        <%for(var i =0; i<courses.length; i++){%>
                      <option <%=user.courses && user.courses.indexOf(courses[i]['_id'])>-1 ? 'selected': ''%> value="<%=courses[i]['_id']%>"><%=courses[i]['course_name']%></option>
                      <%}%>
                    </select>
                    <input type="submit">
                  </form>
                </td>
                <td>
                  <form data-email="<%=email%>" data-id="<%=user._id%>" class="addcertificate" action="">
                    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                        <%for(var i =0; i<courses.length; i++){%>
                      <option <%=user.certificates && user.certificates.indexOf(courses[i]['_id'])>-1 ? 'selected': ''%> value="<%=courses[i]['_id']%>"><%=courses[i]['course_name']%></option>
                      <%}%>
                    </select>
                    <input type="submit">
                  </form>
                </td>
                <td>
                  <%=user.loggedin%>
                </td>
                <td style="width: 20%;">
                  <a data-html="true" data-toggle="tooltip" data-placement="top" title="<%=tooltiptitle%>" data-userid="<%=userid%>" data-email="<%=email%>" class="toggleadmin" data-isadmin="<%=dataisadmin%>" href="#" class="table-link">
                                            <span class="fa-stack">
                                                <% if(isadmin == "true"){ %>
                                              <i data-sample="aeg" data-isadmin="true" class="adminaddremoveicon fa fa-times"></i>
                                                <%} else{ %>
                                              <i data-sample="aeohgi" data-isadmin="false" class="adminaddremoveicon fa fa-plus"></i>
                                                <%}%>
                                            </span>
                  </a>
                  <a data-html="true" data-toggle="tooltip" data-placement="top" title="Remove user" data-email="<%=email%>" href="#" class="removeuser table-link danger">
                                            <span style="color: red!important;" class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                  </a>
                </td>
              </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/sbadmin/js/jquery-1.10.2.js"></script>
<script src="/sbadmin/js/bootstrap.js"></script>

<!-- Page Specific Plugins -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<!--<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>-->
<!--<script src="/sbadmin/js/morris/chart-data-morris.js"></script>-->
<script src="/sbadmin/js/tablesorter/jquery.tablesorter.js"></script>
<script src="/sbadmin/js/tablesorter/tables.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<!--Confirm.js alerts Plugin-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<!--Confirm.js alerts Plugin-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.addaccess').on('submit', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var selected = $(this).children('select').val();
            if(selected == null){
                $.ajax({
                    type: "PUT",
                    url: '/updateaccess',
                    data: {
                        'id': id,
                        'courses': '',
                        'length': 0
                    },
                    success: function(result){
                        if(result == 1){
                            $.alert('Access updated successfully!')
                        }
                        else{
                            $.alert('An error occurred!');
                        }
                    }
                });
            }
            else{
                var length = selected.length;
                selected = selected.join(',');
                $.ajax({
                    type: "PUT",
                    url: '/updateaccess',
                    data: {
                        'id': id,
                        'courses': selected,
                        'length': length
                    },
                    success: function(result){
                        if(result == 1){
                            $.alert('Access updated successfully!')
                        }
                        else{
                            $.alert('An error occurred!');
                        }
                    }
                });
            }

        });

        $('.addcertificate').on('submit', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var email = $(this).data('email');
            var selected = $(this).children('select').val();
            if(selected == null){
                $.ajax({
                    type: "PUT",
                    url: '/updatecertificate',
                    data: {
                        'id': id,
                        'courses': '',
                        'email': email,
                        'length': 0
                    },
                    success: function(result){
                        if(result == 1){
                            $.alert('Access updated successfully!')
                        }
                        else{
                            $.alert('An error occurred!');
                        }
                    }
                });
            }
            else{
                var length = selected.length;
                selected = selected.join(',');
                $.ajax({
                    type: "PUT",
                    url: '/updatecertificate',
                    data: {
                        'id': id,
                        'email': email,
                        'courses': selected,
                        'length': length
                    },
                    success: function(result){
                        if(result == 1){
                            $.alert('Certificate provided successfully!')
                        }
                        else{
                            $.alert('An error occurred!');
                        }
                    }
                });
            }

        });


        $('.js-example-basic-multiple').select2();
        $('.toggleadmin').on('click', function (e) {
            e.preventDefault();
            var isadmin = $(this).data('isadmin');
            var userid = $(this).data('userid');
            var email = $(this).data('email');
            var el = $(this).find('.adminaddremoveicon');
            var el_this = $(this);
            if(isadmin == "true" || isadmin == true){
                $.ajax({
                    type: "GET",
                    url: '/removeadmin',
                    data: {
                        'emailid': email
                    },
                    success: function(result){
                        el_this.data('isadmin', "false");
                        el.removeClass('fa-times');
                        el.addClass('fa-plus');
                        el_this.attr('title', 'Make admin').tooltip('fixTitle').tooltip('show');
                        $('.'+userid).html('Normal user');
                        $('.'+userid).removeClass('label-primary');
                        $('.'+userid).addClass('label-success');
                        $.alert("Admin previleged revoked to the user");
                        setTimeout(function(){ location.reload();}, 3000);
                    }
                });
            }
            else{
                $.ajax({
                    type: "GET",
                    url: '/makeadmin',
                    data: {
                        'emailid': email
                    },
                    success: function(result){
                        el_this.attr('title', 'Remove admin').tooltip('fixTitle').tooltip('show');
                        el_this.data('isadmin', "true");
                        el.addClass('fa-times');
                        el.removeClass('fa-plus');
                        $('.'+userid).html('Admin');
                        $('.'+userid).removeClass('label-success');
                        $('.'+userid).addClass('label-primary');
                        $.alert("Admin previleged conerred to the user");
                        setTimeout(function(){ location.reload();}, 3000);
                    }
                });
            }
        })

        $('.removeuser').on('click', function (e) {
            e.preventDefault();
            var email = $(this).data('email');
            var el_this = $(this);
            $.ajax({
                type: "POST",
                url: '/removeuser',
                data: {
                    'emailid': email
                },
                success: function(result){
                    $.alert("User deleted successfully");
                    setTimeout(function(){ location.reload();}, 3000);
                    //setTimeout(function(){ location.reload();}, 3000);
                }
            });
        })
    });
</script>
</body>
</html>
